In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

In [148]:
# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

In [175]:
#print(help(einstaklingar))
#print(domarar)
#print(einstaklingar)
#print(forsvarsmenn)
print(lid.columns)
#print(lidimoti)
#print(lidsmenn)
#print(lidsstjorar)
#print(mot)
#print(thjalfarar)

Index(['LidID', 'Nafn', 'Radnumer', 'LidaTegundID', 'Timastimpill'], dtype='object')

In [176]:
#print(domarar.describe())
#print(einstaklingar.describe())
#print(forsvarsmenn.describe())
#print(lid.describe())
#print(lidimoti.describe())
#print(lidsmenn.describe())
#print(lidsstjorar.describe())
#print(mot.describe())
#print(thjalfarar.describe())

In [151]:
#domarar.dtypes
einstaklingar.dtypes
#forsvarsmenn.dtypes
#lid.dtypes
#lidimoti.dtypes
#lidsmenn.dtypes
#lidsstjorar.dtypes
#mot.dtypes
#thjalfarar.dtypes

EinstID            int64
Nafn              object
Fdagur            object
Kyn               object
FelagISI          object
Netfang           object
Heimilisfang1    float64
Heimilisfang2    float64
Heimilisfang3    float64
Simi1             object
Simi2             object
Simi3             object
Timastimpill      object
Haed             float64
dtype: object

In [152]:
#make it easier to copy data
#domarar
#einstaklingar
#forsvarsmenn
#lidimoti
#lidsmenn
#lidsstjorar
#mot
#thjalfarar

#lid_nafn_valuecount = lid['Nafn'].value_counts()
#print(lid_nafn_valuecount)
#lid_nafn_valuecount[lid_nafn_valuecount < 2]
#lid['LidID'].value_counts() 

#lid_nafn_valuecount2 = lid['Nafn'].value_counts()
#lid_nafn_valuecount2

In [184]:
# All duplicated birthdays
#pd.concat(g for _, g in einstaklingar.groupby("Fdagur") if len(g) > 1)
#einstaklingar[einstaklingar.duplicated(subset=['Nafn', 'Fdagur', 'Kyn'])]
duplicated_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Nafn', 'Fdagur', 'Kyn'], keep=False)]
duplicated_einstaklingar

,EinstID,Nafn,Fdagur,Kyn,FelagISI,Netfang,Heimilisfang1,Heimilisfang2,Heimilisfang3,Simi1,Simi2,Simi3,Timastimpill,Haed
17,1964,Aðalsteinn Eymundsson,1981-03-03 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,8212554,NaN,NaN,2006-01-09 20:31:04.420,NaN
18,1437,Aðalsteinn Eymundsson,1981-03-03 00:00:00.000,kk,HK,adalste@hi.is,NaN,NaN,NaN,6182554,NaN,NaN,2003-10-11 19:12:00.827,0.0
42,2949,aldís anna höskuldsdóttir,1996-06-22 00:00:00.000,kvk,K.A.,aldis_anna@hotmail.com,NaN,NaN,NaN,8681980,4611143,NaN,2010-02-25 13:52:40.360,169.0
43,2950,aldís anna höskuldsdóttir,1996-06-22 00:00:00.000,kvk,K.A.,aldis_anna@hotmail.com,NaN,NaN,NaN,8681980,4611143,NaN,2010-02-25 13:52:42.780,169.0
53,1578,Alexander Stefánsson,1990-12-05 00:00:00.000,kk,HK,alexanderstef@gmail.com,NaN,NaN,NaN,8464158,4626693,NaN,2004-08-20 23:05:27.997,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4458,4547,Þórný Birgisdóttir,1973-09-25 00:00:00.000,kvk,HK,thornyb@gmail.com,NaN,NaN,NaN,8998373,NaN,NaN,2014-04-21 16:18:34.737,0.0
4490,1840,Örnólfur Ásmundsson,1954-05-02 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,4671269,NaN,2005-04-12 12:23:56.500,NaN
4491,1841,Örnólfur Ásmundsson,1954-05-02 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,4671269,NaN,2005-04-12 13:56:15.013,NaN
4492,2854,Örnólfur Oddsson,1956-05-26 00:00:00.000,kk,Þróttur,oddi@itn.is,NaN,NaN,NaN,6961188,5577346,5698808,2009-04-26 23:16:29.827,176.0
4493,3842,Örnólfur Oddsson,1956-05-26 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-04-24 12:41:54.350,0.0

In [153]:
#make it easier to copy data
#domarar
#einstaklingar
#forsvarsmenn
#lid
#lidimoti
#lidsmenn
#lidsstjorar
#mot
#thjalfarar

In [186]:
#FINAL STEP (run after everything is done):

#duplicated people put into it's own csv to be browsed later
pd.DataFrame(duplicated_einstaklingar).to_csv("csv/new/duplicated-einstaklingar.csv", encoding='utf-8-sig')

#save as new csv inside csv/new
pd.DataFrame(domarar).to_csv("csv/new/blak-domarar.csv", encoding='utf-8-sig')
pd.DataFrame(einstaklingar).to_csv("csv/new/blak-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(forsvarsmenn).to_csv("csv/new/blak-forsvarsmenn.csv.csv", encoding='utf-8-sig')
pd.DataFrame(lid).to_csv("csv/new/blak-lid.csv", encoding='utf-8-sig')
pd.DataFrame(lidimoti).to_csv("csv/new/blak-lidimoti.csv", encoding='utf-8-sig')
pd.DataFrame(lidsmenn).to_csv("csv/new/blak-lidsmenn.csv", encoding='utf-8-sig')
pd.DataFrame(lidsstjorar).to_csv("csv/new/blak-lidsstjorar.csv", encoding='utf-8-sig')
pd.DataFrame(mot).to_csv("csv/new/blak-mot.csv", encoding='utf-8-sig')
pd.DataFrame(thjalfarar).to_csv("csv/new/blak-thjalfarar.csv", encoding='utf-8-sig')