In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict
import codecs, json
import unicodedata
# pip install Unidecode  <OR> conda install Unidecode
import unidecode
import collections

In [2]:
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

# All duplicated birthdays
duplicated_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Nafn', 'Fdagur', 'Kyn'], keep=False)]
duplicated_fdagur_kyn_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Fdagur', 'Kyn'], keep=False)]

In [3]:
# Add all entries that have duplicated birthdays, then filter that to first_name->birthday-><people entries>
duplicate_dict = defaultdict(dict)
for index, row in duplicated_fdagur_kyn_einstaklingar.iterrows():
    full_name = row['Nafn']
    #only get the first part of full name 
    first_name = full_name.split()[0]
    # make first name lowercase
    first_name_lowercase = first_name.lower()
    # encode icelandic letters to english
    first_name_to_english = unidecode.unidecode(first_name_lowercase)
    # split birthday into year month and day and ignore second part (sec, min, hour)
    Fdagur_date = row['Fdagur'].split()[0]
    
    if first_name_to_english in duplicate_dict.keys():
        if Fdagur_date in duplicate_dict[first_name_to_english].keys():
            #if first name and Fdagur (birthday) exist in dict then append to that key (birthday)
            duplicate_dict[first_name_to_english][Fdagur_date].append(row.values)
        else:
            #if first name exists but Fdagur (birthday) does not exist in dict
            duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]
    else:
        #if Fdagur (birthday) does not exist in dict
        duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]

In [4]:
# Remove all single birthday entries that are not duplicates
dict_removed_single_entries = defaultdict(dict)

for key, values in duplicate_dict.items():
    # key = nafn ('ludvik')
    for birthday, arrays in dict(values).items():
        # only get duplicates that there exists 2 or more entries for a birthday
        if(len(arrays) > 1):
            # used for when joining teams table
            if key in dict_removed_single_entries.keys():
                if birthday in dict_removed_single_entries[key].keys():
                    dict_removed_single_entries[key][birthday].append(arrays)
                else:
                    #if first name exists but Fdagur (birthday) does not exist in dict
                    dict_removed_single_entries[key][birthday] = arrays
            else:
                dict_removed_single_entries[key][birthday] = arrays

In [5]:
# get all ids in dict_removed_single_entries
duplicate_ids_kept = []
for key, values in dict_removed_single_entries.items():
    # key = nafn ('ludvik')
    for birthday, arrays in dict(values).items():
        for item in arrays:
            duplicate_ids_kept.append(item[0])

In [6]:
#duplicate_dict['aldis']
len(duplicate_ids_kept)

1329

In [7]:
#dict_removed_single_entries.values()
#duplicate_row_keept

In [8]:
# Checking if two names are the same person
dict_duplicate_compare_team_members = defaultdict(dict)
for index, row in lidsmenn.iterrows():
    ids = row["EinstID"]
    if ids in duplicate_ids_kept:
        # now we only view ids that exist for duplicated people
        #print(ids)
        if ids in dict_duplicate_compare_team_members.keys():
            dict_duplicate_compare_team_members[ids].append(row.values)
        else:
            dict_duplicate_compare_team_members[ids] = [row.values]

In [9]:
#dict_duplicate_compare_team_members

In [10]:
dict_name_entries = {}
for key, value in dict_removed_single_entries.items():
    #get key and arrays for each person
    for birthday, arrays in dict(value).items():
        #get each array for person
        #print("KEY: " + key + " BIRTHDAY: " + birthday)
        new_key = key +"-"+ birthday
        for item in arrays:
            if new_key in dict_name_entries.keys():
                dict_name_entries[new_key].append(item[0])
            else:
                dict_name_entries[new_key] = [item[0]]
#dict_name_entries

In [11]:
dict_duplicate_compare_team_members[1964]

[array([187, 2840, 1964, '2011-01-20 21:19:21.280'], dtype=object),
 array([232, 1022, 1964, '2013-09-03 20:55:14.783'], dtype=object),
 array([234, 1022, 1964, '2013-09-09 15:35:13.947'], dtype=object),
 array([249, 2840, 1964, '2014-04-21 21:12:11.077'], dtype=object)]

In [48]:
dict_einstaklingar_teammember_info = {}
for key, value in dict_name_entries.items():
    #print("<key>" + str(key) + " <value> " + str(value))
    for item in value:
        #print(item)
        if item in dict_duplicate_compare_team_members.keys():
            #print("<key>" + str(key) + " <item> " + str(item))
            for compare_arrays in dict_duplicate_compare_team_members[item]:
                mot_id = compare_arrays[0]
                lid_id = compare_arrays[1]
                player_id = compare_arrays[2]
                date_played = compare_arrays[3].split()[0]
                
                temp = (str(compare_arrays[3]) + " " + str(player_id) + " " + str(lid_id))   
                if key in dict_einstaklingar_teammember_info.keys():
                    dict_einstaklingar_teammember_info[key].append(temp)
                else:
                    dict_einstaklingar_teammember_info[key] = [temp]
        #print("xxxxxxxxxxxx")

In [73]:
#dict_einstaklingar_teammember_info

In [43]:
#### <<<MAYBE IGNORE >>>>
# go through dict_einstaklingar_teammember_info to find if there exists a player that played
# in two teams at the same time
for key, value in dict_einstaklingar_teammember_info.items():
    #print(value)
    for item in value:
        split = item.split()
        einstaklinid = split[0]
        teamid = split[1]
        date = split[2]
        time = split[3]
        looking_for = item[0:10]
        #print([item2 for item2, count in collections.Counter().items() if count > 1])
    #print(value)
    #print("xxxxxxxxxxxx")

In [104]:
def find_duplicates(key, nums):
    num_set = set()
    duplicates = set()
    no_duplicate = -1
    sorted_nums = sorted(nums)
    
    for i in range(len(sorted_nums)):
        #looking_for_1 = [date, einstaklingsid, teamid]
        
        for j in range(i+1, len(sorted_nums)):
            date_1 = sorted_nums[i].split()[0]
            date_2 = sorted_nums[j].split()[0]
            if(date_1 == date_2):
                print("=======================")
                print("Key: " + key)
                print("Row 1: ")
                print(sorted_nums[i])
                print("Row 2: ")
                print(sorted_nums[j]);
                print("END OF THESE ROWS")
    
for key, value in dict_einstaklingar_teammember_info.items():
    #print(value)
    find_duplicates(key, value)

=======================
Key: adalsteinn-1981-03-03
Row 1:
2013-03-27 19:40:58.193 1437 2840
Row 2:
2013-03-27 19:42:14.360 1437 2840
END OF THESE ROWS
=======================
Key: aldis-1996-06-22
Row 1:
2010-02-25 13:52:40.360 2949 4378
Row 2:
2010-02-25 13:52:42.780 2950 4378
END OF THESE ROWS
=======================
Key: ana-1972-01-29
Row 1:
2012-04-11 13:50:36.313 2065 4155
Row 2:
2012-04-11 22:54:28.157 2065 1840
END OF THESE ROWS
=======================
Key: anna-1972-05-30
Row 1:
2005-03-29 13:56:01.373 1766 2226
Row 2:
2005-03-29 14:03:03.560 1768 2227
END OF THESE ROWS
=======================
Key: audur-1976-04-04
Row 1:
2013-03-25 14:57:31.440 4041 3442
Row 2:
2013-03-25 14:58:43.630 4042 3442
END OF THESE ROWS
=======================
Key: audur-1976-04-04
Row 1:
2013-04-06 23:58:20.240 4041 3442
Row 2:
2013-04-06 23:58:20.240 4042 3442
END OF THESE ROWS
=======================
Key: asdis-1972-06-02
Row 1:
2011-03-17 14:57:20.513 3329 4657
Row 2:
2011-03-17 14:58:24.873 3330 4657
END OF THESE ROWS
=======================
Key: asdis-1972-06-02
Row 1:
2012-01-24 14:16:38.467 3330 4657
Row 2:
2012-01-24 14:20:00.753 3256 4657
END OF THESE ROWS
=======================
Key: asdis-1972-06-02
Row 1:
2012-02-15 22:47:11.380 3329 4657
Row 2:
2012-02-15 22:47:11.380 3330 4657
END OF THESE ROWS
=======================
Key: asdis-1972-01-06
Row 1:
2014-03-27 11:08:55.600 4236 1049
Row 2:
2014-03-27 11:12:06.083 4236 1049
END OF THESE ROWS
=======================
Key: barbara-1968-03-13
Row 1:
2002-04-18 10:58:35.433 278 156
Row 2:
2002-04-18 16:40:34.450 278 156
END OF THESE ROWS
=======================
Key: barbara-1968-03-13
Row 1:
2014-03-27 11:09:10.653 278 1049
Row 2:
2014-03-27 11:12:06.083 278 1049
END OF THESE ROWS
=======================
Key: bea-1960-08-13
Row 1:
2000-04-04 11:08:56.920 285 85
Row 2:
2000-04-04 11:12:52.927 264 85
END OF THESE ROWS
=======================
Key: berglind-1975-10-31
Row 1:
2010-04-15 14:45:54.687 3104 4448
Row 2:
2010-04-15 18:01:22.030 3119 4450
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2001-11-12 20:52:21.763 49 151
Row 2:
2001-11-12 20:52:21.763 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2002-04-26 10:11:55.530 49 151
Row 2:
2002-04-26 10:18:25.653 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2002-11-12 08:39:56.330 49 151
Row 2:
2002-11-12 08:41:00.610 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2003-01-09 08:36:25.453 49 151
Row 2:
2003-01-09 08:36:25.453 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2003-03-11 08:49:18.810 49 151
Row 2:
2003-03-11 08:49:18.810 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2003-04-15 08:14:48.013 49 151
Row 2:
2003-04-15 08:15:49.107 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2004-01-06 10:25:47.840 49 1446
Row 2:
2004-01-06 10:28:36.043 769 1446
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2004-03-23 15:03:18.670 49 151
Row 2:
2004-03-23 15:03:18.670 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2004-03-30 09:57:26.123 49 151
Row 2:
2004-03-30 09:57:26.123 769 151
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2004-11-17 10:32:40.010 49 1446
Row 2:
2004-11-17 10:32:40.010 769 1446
END OF THESE ROWS
=======================
Key: birgitta-1964-10-03
Row 1:
2005-01-06 10:26:30.930 49 1446
Row 2:
2005-01-06 10:26:30.930 769 1446
END OF THESE ROWS
=======================
Key: birgitta-1969-03-16
Row 1:
2014-03-27 11:08:55.600 4005 1049
Row 2:
2014-03-27 11:12:06.083 4005 1049
END OF THESE ROWS
=======================
Key: bjorg-1954-10-09
Row 1:
2000-04-04 15:29:40.523 38 102
Row 2:
2000-04-04 15:32:04.960 191 102
END OF THESE ROWS
=======================
Key: bjorg-1967-11-09
Row 1:
2000-04-04 22:03:55.787 569 92
Row 2:
2000-04-04 23:23:31.383 196 92
END OF THESE ROWS
=======================
Key: bragi-1931-04-26
Row 1:
2007-01-05 11:01:51.687 1852 132
Row 2:
2007-01-05 11:09:30.640 541 2873
END OF THESE ROWS
=======================
Key: bryndis-1976-08-13
Row 1:
2010-04-15 14:53:52.967 3107 4448
Row 2:
2010-04-15 17:48:28.827 3113 4449
END OF THESE ROWS
=======================
Key: charlotta-1978-02-21
Row 1:
2010-04-15 14:46:45.247 3105 4448
Row 2:
2010-04-15 17:49:36.890 3114 4449
END OF THESE ROWS
=======================
Key: einar-1960-11-23
Row 1:
2008-03-30 22:51:01.060 2040 2792
Row 2:
2008-03-30 22:58:35.857 2040 2792
END OF THESE ROWS
=======================
Key: elvar-1978-09-10
Row 1:
2013-03-27 19:40:58.193 2371 2840
Row 2:
2013-03-27 19:42:14.360 2371 2840
END OF THESE ROWS
=======================
Key: erla-1976-02-10
Row 1:
2013-04-03 21:52:08.280 3654 6286
Row 2:
2013-04-03 22:24:43.243 3654 6286
END OF THESE ROWS
=======================
Key: erla-1976-02-10
Row 1:
2014-04-01 22:03:38.327 3654 6286
Row 2:
2014-04-01 22:10:12.233 3654 6285
END OF THESE ROWS
=======================
Key: eva-1974-06-15
Row 1:
2012-01-06 17:26:15.993 3313 4857
Row 2:
2012-01-06 17:33:50.837 3313 4857
END OF THESE ROWS
=======================
Key: eva-1974-06-15
Row 1:
2012-04-07 15:26:22.547 3313 4857
Row 2:
2012-04-07 15:38:38.657 3313 4857
END OF THESE ROWS
=======================
Key: eva-1974-12-06
Row 1:
2014-03-24 09:57:42.523 3380 4856
Row 2:
2014-03-24 10:47:09.323 3380 4856
END OF THESE ROWS
=======================
Key: eyglo-1977-05-14
Row 1:
2013-10-18 10:54:49.060 4258 2504
Row 2:
2013-10-18 13:09:44.120 1620 2691
END OF THESE ROWS
=======================
Key: freyja-1981-07-22
Row 1:
2013-04-03 21:46:58.163 3679 6285
Row 2:
2013-04-03 22:22:13.163 3679 6285
END OF THESE ROWS
=======================
Key: freyja-1981-07-22
Row 1:
2014-04-01 22:01:19.480 3679 6285
Row 2:
2014-04-01 22:10:02.830 3679 6285
END OF THESE ROWS
=======================
Key: fridrik-1950-12-23
Row 1:
2000-04-29 20:50:37.857 209 60
Row 2:
2000-04-29 21:00:46.300 507 61
END OF THESE ROWS
=======================
Key: fridrik-1950-12-23
Row 1:
2002-04-08 22:06:25.513 507 61
Row 2:
2002-04-08 22:19:56.107 209 60
END OF THESE ROWS
=======================
Key: fridur-1980-02-27
Row 1:
2013-04-03 21:51:30.610 4035 6286
Row 2:
2013-04-03 22:26:02.710 3800 6286
END OF THESE ROWS
=======================
Key: gaetan-1982-03-16
Row 1:
2013-10-24 23:15:55.993 4268 1830
Row 2:
2013-10-24 23:16:41.120 4276 3040
END OF THESE ROWS
=======================
Key: gudlaug-1978-07-20
Row 1:
2010-04-15 16:11:24.700 3111 4448
Row 2:
2010-04-15 18:02:30.233 3120 4450
END OF THESE ROWS
=======================
Key: gudny-1963-08-14
Row 1:
2012-04-17 10:07:45.140 1123 3299
Row 2:
2012-04-17 11:27:31.623 307 3299
END OF THESE ROWS
=======================
Key: gudrun-1971-11-02
Row 1:
2007-04-03 13:09:26.140 2262 2071
Row 2:
2007-04-03 16:37:36.187 2262 2071
END OF THESE ROWS
=======================
Key: gudrun-1963-03-16
Row 1:
2012-10-26 10:55:55.310 2197 4252
Row 2:
2012-10-26 12:02:13.010 1029 4252
END OF THESE ROWS
=======================
Key: gudrun-1978-05-29
Row 1:
2012-04-11 13:51:55.530 3224 4155
Row 2:
2012-04-11 22:55:06.780 3098 1840
END OF THESE ROWS
=======================
Key: gunnar-1954-02-08
Row 1:
2003-03-02 16:46:37.170 709 22
Row 2:
2003-03-02 23:24:47.903 709 22
END OF THESE ROWS
=======================
Key: gunnhildur-1974-12-12
Row 1:
2005-04-12 11:11:24.233 1831 2239
Row 2:
2005-04-12 11:19:25.297 1838 2239
END OF THESE ROWS
=======================
Key: gunnsteinn-1961-01-27
Row 1:
2003-04-09 13:37:44.030 557 19
Row 2:
2003-04-09 13:44:07.250 1390 19
END OF THESE ROWS
=======================
Key: gunnsteinn-1961-01-27
Row 1:
2004-03-30 12:32:19.343 1390 19
Row 2:
2004-03-30 12:32:19.343 557 19
END OF THESE ROWS
=======================
Key: hafdis-1962-10-23
Row 1:
2001-04-07 13:09:16.340 504 88
Row 2:
2001-04-07 13:25:34.100 504 88
END OF THESE ROWS
=======================
Key: hafdis-1962-10-23
Row 1:
2007-04-11 14:08:33.340 815 88
Row 2:
2007-04-11 17:44:54.497 815 88
END OF THESE ROWS
=======================
Key: halla-1975-06-19
Row 1:
2007-04-11 14:07:59.920 1441 88
Row 2:
2007-04-11 17:44:59.530 1441 88
END OF THESE ROWS
=======================
Key: halldora-1958-04-30
Row 1:
2010-04-15 16:16:12.610 1700 1955
Row 2:
2010-04-15 21:21:07.263 1700 1955
END OF THESE ROWS
=======================
Key: harald-1960-11-18
Row 1:
2001-04-10 10:28:14.137 393 71
Row 2:
2001-04-10 11:48:58.813 393 72
END OF THESE ROWS
=======================
Key: harald-1960-11-18
Row 1:
2006-03-03 21:08:51.310 1022 27
Row 2:
2006-03-03 21:31:36.450 393 27
END OF THESE ROWS
=======================
Key: haukur-1956-06-26
Row 1:
2003-03-31 08:29:50.043 544 144
Row 2:
2003-03-31 08:34:33.293 544 144
END OF THESE ROWS
=======================
Key: heidi-1968-08-09
Row 1:
2014-08-13 10:45:27.647 2044 4173
Row 2:
2014-08-13 11:18:05.767 2192 6011
END OF THESE ROWS
=======================
Key: heida-1966-09-12
Row 1:
2000-04-28 11:35:41.887 266 153
Row 2:
2000-04-28 11:37:10.030 47 153
END OF THESE ROWS
=======================
Key: heida-1966-09-12
Row 1:
2001-04-15 14:56:17.010 266 153
Row 2:
2001-04-15 15:04:13.087 47 153
END OF THESE ROWS
=======================
Key: heida-1966-09-12
Row 1:
2001-11-12 20:53:53.700 266 153
Row 2:
2001-11-12 20:53:53.700 47 153
END OF THESE ROWS
=======================
Key: heida-1966-09-12
Row 1:
2002-04-15 22:24:36.327 266 153
Row 2:
2002-04-15 22:24:36.327 47 153
END OF THESE ROWS
=======================
Key: heida-1966-09-12
Row 1:
2003-03-26 13:33:45.997 47 153
Row 2:
2003-03-26 13:33:52.217 1112 153
END OF THESE ROWS
=======================
Key: heida-1966-09-12
Row 1:
2003-11-24 21:37:38.873 1112 153
Row 2:
2003-11-24 21:37:38.873 47 153
END OF THESE ROWS
=======================
Key: heidar-1955-01-31
Row 1:
2001-04-14 20:26:19.987 818 360
Row 2:
2001-04-14 20:30:19.123 822 360
END OF THESE ROWS
=======================
Key: heidar-1955-01-31
Row 1:
2002-04-07 20:49:50.593 818 360
Row 2:
2002-04-07 20:49:50.593 822 360
END OF THESE ROWS
=======================
Key: heidar-1955-01-31
Row 1:
2003-04-07 14:11:08.280 818 360
Row 2:
2003-04-07 14:11:18.000 822 360
END OF THESE ROWS
=======================
Key: heimir-1967-12-06
Row 1:
2013-03-27 19:40:58.193 2022 2840
Row 2:
2013-03-27 19:42:14.360 2022 2840
END OF THESE ROWS
=======================
Key: helena-1968-01-08
Row 1:
2013-04-03 21:53:12.417 3799 6286
Row 2:
2013-04-03 22:26:13.770 3680 6286
END OF THESE ROWS
=======================
Key: helena-1968-01-08
Row 1:
2014-04-01 22:06:07.430 3680 6286
Row 2:
2014-04-01 22:32:06.763 3680 6286
END OF THESE ROWS
=======================
Key: helga-1964-03-07
Row 1:
2013-10-18 10:36:16.310 1358 2504
Row 2:
2013-10-18 13:09:59.540 1358 2691
END OF THESE ROWS
=======================
Key: helga-1965-06-14
Row 1:
2003-03-02 16:59:36.140 304 765
Row 2:
2003-03-02 23:27:32.700 304 765
END OF THESE ROWS
=======================
Key: hermann-1979-07-06
Row 1:
2013-03-27 19:40:58.193 3793 2840
Row 2:
2013-03-27 19:42:14.360 3793 2840
END OF THESE ROWS
=======================
Key: hjordis-1965-12-09
Row 1:
2010-04-15 15:06:52.593 3108 4448
Row 2:
2010-04-15 18:04:19.640 3121 4450
END OF THESE ROWS
=======================
Key: hjortur-1972-04-16
Row 1:
2012-01-31 22:57:13.827 1811 763
Row 2:
2012-01-31 22:58:57.560 3137 763
END OF THESE ROWS
=======================
Key: holmfridur-1986-02-05
Row 1:
2012-01-06 17:27:00.930 3316 4857
Row 2:
2012-01-06 17:33:50.837 3316 4857
END OF THESE ROWS
=======================
Key: hrefna-1972-06-25
Row 1:
2002-04-29 21:17:12.310 1169 114
Row 2:
2002-04-29 21:18:22.357 1170 114
END OF THESE ROWS
=======================
Key: hrefna-1972-06-25
Row 1:
2003-03-02 16:59:03.890 1169 765
Row 2:
2003-03-02 23:27:32.700 1169 765
END OF THESE ROWS
=======================
Key: hrund-1973-04-24
Row 1:
2013-04-03 21:47:10.880 3678 6285
Row 2:
2013-04-03 22:22:39.207 3678 6285
END OF THESE ROWS
=======================
Key: hrund-1973-04-24
Row 1:
2014-04-01 22:01:35.970 3678 6285
Row 2:
2014-04-01 22:11:05.013 3678 6285
END OF THESE ROWS
=======================
Key: hugrun-1971-07-16
Row 1:
2010-03-15 08:56:44.437 842 140
Row 2:
2010-03-15 14:47:45.217 842 1049
END OF THESE ROWS
=======================
Key: hulda-1962-02-24
Row 1:
2005-03-30 17:18:35.810 1772 2227
Row 2:
2005-03-30 17:20:32.980 1773 2226
END OF THESE ROWS
=======================
Key: ingunn-1966-03-12
Row 1:
2002-04-18 10:58:41.403 252 156
Row 2:
2002-04-18 16:40:45.560 252 156
END OF THESE ROWS
=======================
Key: iris-1967-10-03
Row 1:
2014-03-27 11:08:55.600 4133 1049
Row 2:
2014-03-27 11:12:06.083 4133 1049
END OF THESE ROWS
=======================
Key: iris-1968-03-08
Row 1:
2011-04-11 13:15:24.450 2049 1582
Row 2:
2011-04-11 14:09:21.843 2049 1582
END OF THESE ROWS
=======================
Key: jounes-1977-03-21
Row 1:
2003-10-09 14:08:51.403 1231 1019
Row 2:
2003-10-09 14:15:56.310 1049 1023
END OF THESE ROWS
=======================
Key: kristbjorg-1972-10-06
Row 1:
2010-04-15 21:28:25.140 3133 1955
Row 2:
2010-04-15 21:44:03.810 3133 1955
END OF THESE ROWS
=======================
Key: kristrun-1969-09-29
Row 1:
2007-04-03 12:54:45.420 1678 2071
Row 2:
2007-04-03 16:37:36.187 1678 2071
END OF THESE ROWS
=======================
Key: kristrun-1969-09-29
Row 1:
2008-04-07 15:31:32.937 1678 2071
Row 2:
2008-04-07 15:50:23.060 1830 3261
END OF THESE ROWS
=======================
Key: linda-1977-11-19
Row 1:
2013-10-18 10:36:02.623 1596 2504
Row 2:
2013-10-18 13:11:29.130 1596 2692
END OF THESE ROWS
=======================
Key: magnus-1950-02-23
Row 1:
2000-04-29 20:54:50.007 419 60
Row 2:
2000-04-29 21:08:30.990 489 61
END OF THESE ROWS
=======================
Key: magnus-1950-02-23
Row 1:
2002-04-08 22:05:20.090 489 61
Row 2:
2002-04-08 22:24:49.840 419 60
END OF THESE ROWS
=======================
Key: magnus-1940-07-04
Row 1:
2005-04-12 22:31:42.997 1848 132
Row 2:
2005-04-12 22:41:35.763 1853 132
END OF THESE ROWS
=======================
Key: magnus-1940-07-04
Row 1:
2006-04-04 23:15:48.060 1848 132
Row 2:
2006-04-04 23:15:48.060 1853 132
END OF THESE ROWS
=======================
Key: magnus-1940-07-04
Row 1:
2007-01-05 11:01:51.687 1848 132
Row 2:
2007-01-05 11:01:51.687 1853 132
END OF THESE ROWS
=======================
Key: maria-1967-11-16
Row 1:
2007-04-11 14:05:52.187 34 70
Row 2:
2007-04-11 17:45:57.200 34 70
END OF THESE ROWS
=======================
Key: mundina-1972-11-30
Row 1:
2002-04-15 00:46:59.467 1074 482
Row 2:
2002-04-15 00:52:04.153 1074 482
END OF THESE ROWS
=======================
Key: olafur-1959-05-06
Row 1:
2005-04-18 22:40:16.903 1497 1689
Row 2:
2005-04-18 22:51:24.403 722 38
END OF THESE ROWS
=======================
Key: olafur-1959-05-06
Row 1:
2008-04-24 09:15:58.937 722 2980
Row 2:
2008-04-24 09:27:52.903 1497 38
END OF THESE ROWS
=======================
Key: olafur-1959-05-06
Row 1:
2009-04-28 22:30:10.827 722 38
Row 2:
2009-04-28 22:30:39.043 1497 38
END OF THESE ROWS
=======================
Key: olafur-1959-05-06
Row 1:
2010-05-05 20:55:47.937 1497 2980
Row 2:
2010-05-05 21:00:41.653 722 1689
END OF THESE ROWS
=======================
Key: olafur-1959-05-06
Row 1:
2011-05-01 19:21:24.610 722 2980
Row 2:
2011-05-01 19:22:20.093 1497 2980
END OF THESE ROWS
=======================
Key: olafur-1959-05-06
Row 1:
2013-04-14 12:04:10.273 722 3180
Row 2:
2013-04-14 12:04:22.637 1497 3180
END OF THESE ROWS
=======================
Key: petur-1948-08-18
Row 1:
2000-05-01 22:02:00.350 172 38
Row 2:
2000-05-01 22:03:37.883 389 38
END OF THESE ROWS
=======================
Key: petur-1948-08-18
Row 1:
2001-04-07 14:53:11.247 172 38
Row 2:
2001-04-07 14:53:11.247 389 38
END OF THESE ROWS
=======================
Key: ragnheidur-1978-09-23
Row 1:
2014-03-27 11:08:55.600 3339 1049
Row 2:
2014-03-27 11:12:06.083 3339 1049
END OF THESE ROWS
=======================
Key: ragnheidur-1958-11-11
Row 1:
2010-04-15 16:16:12.610 2053 1955
Row 2:
2010-04-15 21:21:07.263 2114 1955
END OF THESE ROWS
=======================
Key: samuel-1975-07-12
Row 1:
2014-03-19 13:03:04.100 2726 6287
Row 2:
2014-03-19 23:25:23.967 2726 3500
END OF THESE ROWS
=======================
Key: sandra-1968-10-23
Row 1:
2005-10-21 20:51:34.030 1100 88
Row 2:
2005-10-21 20:52:38.387 1378 88
END OF THESE ROWS
=======================
Key: sandra-1968-10-23
Row 1:
2006-01-10 11:31:11.170 1100 88
Row 2:
2006-01-10 11:31:11.170 1378 88
END OF THESE ROWS
=======================
Key: sandra-1968-10-23
Row 1:
2006-03-07 10:15:34.700 1100 88
Row 2:
2006-03-07 10:15:34.700 1378 88
END OF THESE ROWS
=======================
Key: sandra-1968-10-23
Row 1:
2007-04-11 14:06:23.937 1100 70
Row 2:
2007-04-11 17:45:42.733 1100 70
END OF THESE ROWS
=======================
Key: sif-1979-07-25
Row 1:
2014-03-24 09:57:59.663 4033 4856
Row 2:
2014-03-24 10:47:09.323 3466 4856
END OF THESE ROWS
=======================
Key: sigurbjorg-1980-06-30
Row 1:
2012-04-11 13:51:32.797 3227 4155
Row 2:
2012-04-11 22:57:40.810 3227 1840
END OF THESE ROWS
=======================
Key: skjoldur-1947-03-09
Row 1:
2001-04-10 09:23:47.367 178 71
Row 2:
2001-04-10 10:32:51.187 178 27
END OF THESE ROWS
=======================
Key: skjoldur-1947-03-09
Row 1:
2001-12-11 19:03:20.107 178 72
Row 2:
2001-12-11 19:14:21.047 750 27
END OF THESE ROWS
=======================
Key: stefan-1953-02-05
Row 1:
2007-04-27 16:04:30.497 2305 132
Row 2:
2007-04-27 16:04:46.043 1214 132
END OF THESE ROWS
=======================
Key: stefan-1953-02-05
Row 1:
2008-01-09 14:42:59.810 1214 132
Row 2:
2008-01-09 14:42:59.810 2305 132
END OF THESE ROWS
=======================
Key: stefan-1953-02-05
Row 1:
2008-04-01 13:43:52.873 1214 132
Row 2:
2008-04-01 13:43:52.873 2305 132
END OF THESE ROWS
=======================
Key: steinar-1971-08-25
Row 1:
2013-03-27 19:40:58.193 2744 2840
Row 2:
2013-03-27 19:42:14.360 2744 2840
END OF THESE ROWS
=======================
Key: svanhildur-1967-08-30
Row 1:
2014-04-02 21:51:16.453 628 5604
Row 2:
2014-04-02 22:10:43.617 628 5604
END OF THESE ROWS
=======================
Key: saerun-1997-11-25
Row 1:
2010-02-25 21:54:36.077 3013 4401
Row 2:
2010-02-25 21:54:38.937 3014 4401
END OF THESE ROWS
=======================
Key: unnur-1957-03-25
Row 1:
2001-04-13 14:59:24.037 284 54
Row 2:
2001-04-13 18:16:40.377 780 126
END OF THESE ROWS
=======================
Key: valgeir-1967-10-31
Row 1:
2002-05-09 14:41:40.857 1205 671
Row 2:
2002-05-09 14:48:47.640 1215 670
END OF THESE ROWS
=======================
Key: vignir-1960-05-16
Row 1:
2003-03-02 17:08:06.060 1287 22
Row 2:
2003-03-02 23:24:47.903 1287 22
END OF THESE ROWS
=======================
Key: thorgerdur-1967-11-12
Row 1:
2010-03-22 11:31:56.297 1646 2692
Row 2:
2010-03-22 18:40:12.513 1646 2692
END OF THESE ROWS
=======================
Key: thorgerdur-1967-11-12
Row 1:
2013-10-18 10:35:33.030 1646 2504
Row 2:
2013-10-18 13:11:49.973 1646 2692
END OF THESE ROWS
=======================
Key: thorgerdur-1978-10-07
Row 1:
2010-04-15 14:50:45.000 3106 4448
Row 2:
2010-04-15 18:08:01.047 3125 4450
END OF THESE ROWS
=======================
Key: thorny-1973-09-25
Row 1:
2010-04-13 10:01:56.810 2108 3298
Row 2:
2010-04-13 11:15:50.530 2108 3298
END OF THESE ROWS

In [ ]:
#dict(duplicated_fdagur_kyn_einstaklingar)

# all duplicates
#duplicate_dict

# all duplicates for lúðvík
#duplicate_dict["ludvik"]

#duplicate_dict["ludvik"]['1969-03-31'][0]
#duplicate_dict["ludvik"]['1969-03-31'][1]

#duplicate_dict
#dict_removed_single_entries

In [ ]:
reverted_back_to_dict = dict(duplicate_dict)
#reverted_back_to_dict

In [ ]:
file_path = "json/einstaklingar_map.txt" ## your path variable
#duplicate_dict_json = json.dump(duplicate_dict, codecs.open(file_path, 'w', encoding='utf-8'), separators=(';', ':'), sort_keys=True, indent=4) ### this saves the array in .json format
#json_obj = json.dumps(duplicate_dict, indent = 4)
#dumped = json.dumps(duplicate_dict, cls=NumpyEncoder)
#dumped
#pd.DataFrame(reverted_back_to_dict).to_csv(file_path, encoding='utf-8-sig')
#duplicate_dict_json = json.dump(reverted_back_to_dict, codecs.open(file_path, 'w', encoding='utf-8-sig'))

#json = json.dumps(reverted_back_to_dict)
#f = open(file_path,"w")
#f.write(str(reverted_back_to_dict))
#f.close()

=====================================================================================
=

In [ ]:
#FINAL STEP (run after everything is done):

#duplicated people put into it's own csv to be browsed later
pd.DataFrame(duplicated_einstaklingar).to_csv("csv/new/duplicated-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(duplicate_dict).to_csv("json/duplicate-map.json", encoding='utf-8-sig')


#save as new csv inside csv/new
pd.DataFrame(domarar).to_csv("csv/new/blak-domarar.csv", encoding='utf-8-sig')
pd.DataFrame(einstaklingar).to_csv("csv/new/blak-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(forsvarsmenn).to_csv("csv/new/blak-forsvarsmenn.csv.csv", encoding='utf-8-sig')
pd.DataFrame(lid).to_csv("csv/new/blak-lid.csv", encoding='utf-8-sig')
pd.DataFrame(lidimoti).to_csv("csv/new/blak-lidimoti.csv", encoding='utf-8-sig')
pd.DataFrame(lidsmenn).to_csv("csv/new/blak-lidsmenn.csv", encoding='utf-8-sig')
pd.DataFrame(lidsstjorar).to_csv("csv/new/blak-lidsstjorar.csv", encoding='utf-8-sig')
pd.DataFrame(mot).to_csv("csv/new/blak-mot.csv", encoding='utf-8-sig')
pd.DataFrame(thjalfarar).to_csv("csv/new/blak-thjalfarar.csv", encoding='utf-8-sig')