In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict
import codecs, json
import unicodedata
# pip install Unidecode  <OR> conda install Unidecode
import unidecode

In [3]:
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

# All duplicated birthdays
duplicated_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Nafn', 'Fdagur', 'Kyn'], keep=False)]
duplicated_fdagur_kyn_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Fdagur', 'Kyn'], keep=False)]

In [4]:
# Add all entries that have duplicated birthdays, then filter that to first_name->birthday-><people entries>
duplicate_dict = defaultdict(dict)
for index, row in duplicated_fdagur_kyn_einstaklingar.iterrows():
    full_name = row['Nafn']
    #only get the first part of full name 
    first_name = full_name.split()[0]
    # make first name lowercase
    first_name_lowercase = first_name.lower()
    # encode icelandic letters to english
    first_name_to_english = unidecode.unidecode(first_name_lowercase)
    # split birthday into year month and day and ignore second part (sec, min, hour)
    Fdagur_date = row['Fdagur'].split()[0]
    
    if first_name_to_english in duplicate_dict.keys():
        if Fdagur_date in duplicate_dict[first_name_to_english].keys():
            #if first name and Fdagur (birthday) exist in dict then append to that key (birthday)
            duplicate_dict[first_name_to_english][Fdagur_date].append(row.values)
        else:
            #if first name exists but Fdagur (birthday) does not exist in dict
            duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]
    else:
        #if Fdagur (birthday) does not exist in dict
        duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]

In [26]:
# Remove all single birthday entries that are not duplicates
dict_removed_single_entries = defaultdict(dict)
for key, value in duplicate_dict.items():
    temp_dict = dict(value)
    for dict_key, dict_value in temp_dict.items():
        dict_len = len(dict_value)
        tmp2 = {dict_key: dict_value}
        if(dict_len > 1):
            dict_removed_single_entries[key] = tmp2

TypeError: dict expected at most 1 argument, got 2

In [24]:
dict_removed_single_entries

defaultdict(dict,
            {'adalsteinn': [array([1964, 'Aðalsteinn Eymundsson', '1981-03-03 00:00:00.000', 'kk ',
                     nan, nan, nan, nan, nan, '8212554', nan, nan,
                     '2006-01-09 20:31:04.420', nan], dtype=object),
              array([1437, 'Aðalsteinn Eymundsson', '1981-03-03 00:00:00.000', 'kk ',
                     'HK', 'adalste@hi.is', nan, nan, nan, '6182554', nan, nan,
                     '2003-10-11 19:12:00.827', 0.0], dtype=object)],
             'aldis': [array([2949, 'aldís anna höskuldsdóttir', '1996-06-22 00:00:00.000',
                     'kvk', 'K.A.', 'aldis_anna@hotmail.com', nan, nan, nan, '8681980',
                     '4611143', nan, '2010-02-25 13:52:40.360', 169.0], dtype=object),
              array([2950, 'aldís anna höskuldsdóttir', '1996-06-22 00:00:00.000',
                     'kvk', 'K.A.', 'aldis_anna@hotmail.com', nan, nan, nan, '8681980',
                     '4611143', nan, '2010-02-25 13:52:42.780', 169.0], dtype=object)],
             'alexander': [array([1578, 'Alexander Stefánsson', '1990-12-05 00:00:00.000', 'kk ',
                     'HK', 'alexanderstef@gmail.com', nan, nan, nan, '8464158',
                     '4626693', nan, '2004-08-20 23:05:27.997', nan], dtype=object),
              array([2498, 'Alexander Stefánsson', '1990-12-05 00:00:00.000', 'kk ',
                     'HK', nan, nan, nan, nan, '846 4158', nan, nan,
                     '2008-08-31 20:01:58.013', 194.0], dtype=object)],
             'alma': [array([3706, 'Alma Þórarinsdóttir', '1964-10-09 00:00:00.000', 'kvk',
                     'Sindri', nan, nan, nan, nan, nan, nan, nan,
                     '2012-03-23 14:47:54.610', 0.0], dtype=object),
              array([192, 'Alma Þórisdóttir', '1964-10-09 00:00:00.000', 'kvk', nan,
                     nan, nan, nan, nan, nan, '4781526', nan, '2000-04-04 10:16:11.017',
                     nan], dtype=object)],
             'ana': [array([2065, 'Ana Fernandez Perez', '1972-01-29 00:00:00.000', 'kvk', nan,
                     nan, nan, nan, nan, '8980881', '5516181', nan,
                     '2006-04-03 23:06:18.890', nan], dtype=object),
              array([3226, 'Ana Maria Perez', '1972-01-29 00:00:00.000', 'kvk', nan,
                     nan, nan, nan, nan, nan, nan, nan, '2010-10-14 09:50:09.920', 0.0],
                    dtype=object)],
             'andres': [array([2137, 'Andrés Helgi Hallgrímsson', '1967-09-16 00:00:00.000',
                     'kk ', 'Fylkir', nan, nan, nan, nan, nan, nan, nan,
                     '2007-01-05 11:48:15.107', 0.0], dtype=object),
              array([2129, 'Andrés Helgi Magnússon', '1967-09-16 00:00:00.000', 'kk ',
                     nan, nan, nan, nan, nan, nan, nan, nan, '2007-01-05 09:54:37.043',
                     nan], dtype=object)],
             'andri': [array([1227, 'Andri Már Sigurðsson', '1989-05-23 00:00:00.000', 'kk ',
                     'KA', nan, nan, nan, nan, nan, '462-7879', nan,
                     '2002-11-04 13:04:19.983', nan], dtype=object),
              array([2497, 'Andri Már Sigurðsson', '1989-05-23 00:00:00.000', 'kk ',
                     'KA', nan, nan, nan, nan, nan, nan, nan, '2008-08-31 20:01:18.297',
                     193.0], dtype=object)],
             'anna': [array([2071, 'Anna Vilbergsdóttir', '1958-09-06 00:00:00.000', 'kvk',
                     'Stjarnan', 'anna.vilbergs@internet.is', nan, nan, nan, '663 5090',
                     nan, nan, '2006-04-05 14:22:58.577', nan], dtype=object),
              array([2903, 'Anna Vilbergsdóttir', '1958-09-06 00:00:00.000', 'kvk', nan,
                     'annavilb@vistor.is', nan, nan, nan, '8247184', nan, nan,
                     '2010-01-26 12:16:00.903', nan], dtype=object)],
             'anton': [array([559, 'Anton Bjarnason', '1947-02-27 00:00:00.000', 'kk ', nan,
                     'antonb@khi.is', nan, nan, nan, '564 3635', nan, nan,
                     '2000-05-03 23:23:14.560', nan], dtype=object),
              array([1800, 'Anton Bjarnason', '1947-02-27 00:00:00.000', 'kk ', nan,
                     'antonb@khi.is', nan, nan, nan, '564 3635', nan, nan,
                     '2005-04-05 09:35:31.390', nan], dtype=object)],
             'arnar': [array([2936, 'Arnar Hrafn Snorrason', '1990-01-01 00:00:00.000', 'kk ',
                     nan, 'arnarh08@menntaborg.is', nan, nan, nan, '8696393', nan, nan,
                     '2010-02-19 17:35:36.217', nan], dtype=object),
              array([2928, 'Arnar Þór Ingólfsson', '1990-01-01 00:00:00.000', 'kk ',
                     nan, 'arnar.ingolfsson@gmail.com', nan, nan, nan, '8654313', nan,
                     nan, '2010-02-19 17:22:11.890', nan], dtype=object)],
             'arnbjorg': [array([613, 'Arnbjörg Guðmundsdóttir', '1965-12-29 00:00:00.000', 'kvk',
                     'Víkverji', 'sjukrathjalfun@reykjalundur.is', nan, nan, nan, nan,
                     '5578072', nan, '2000-04-04 10:52:54.073', nan], dtype=object),
              array([1035, 'Arnbjörg Guðmundsdóttir', '1965-12-29 00:00:00.000', 'kvk',
                     'UMF.Hrunamenn', 'arnbjorg@hotmail.com', nan, nan, nan, nan,
                     '557 8072', nan, '2002-04-05 11:47:39.077', 0.0], dtype=object)],
             'arnheidur': [array([4031, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
                     'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
                     '2013-03-20 18:26:39.730', 0.0], dtype=object),
              array([4470, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
                     'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
                     '2014-03-26 12:35:20.593', 0.0], dtype=object),
              array([4471, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
                     'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
                     '2014-03-26 12:40:51.027', 0.0], dtype=object)],
             'arnleif': [array([1366, 'Arnleif Höskuldsdóttir', '1970-02-01 00:00:00.000', 'kvk',
                     'KA', nan, nan, nan, nan, '8220270', nan, nan,
                     '2003-04-01 14:28:35.247', 0.0], dtype=object),
              array([2213, 'Arnleif Höskuldsdóttir', '1970-02-01 00:00:00.000', 'kvk',
                     'Hrafnkell Freysgoði', 'allasteina@hotmail.com', nan, nan, nan,
                     '8220270', '4621670', nan, '2007-03-30 16:34:28.623', 0.0],
                    dtype=object)],
             'aron': [array([2324, 'Aron Bjarnason', '1990-03-18 00:00:00.000', 'kk ',
                     'Þróttur R', nan, nan, nan, nan, nan, nan, nan,
                     '2007-09-26 23:34:00.700', nan], dtype=object),
              array([2499, 'Aron Bjarnason', '1990-03-18 00:00:00.000', 'kk ',
                     'Þróttur R', nan, nan, nan, nan, nan, nan, nan,
                     '2008-08-31 20:02:41.967', 189.0], dtype=object)],
             'audur': [array([1878, 'Auður Ýr Þórðardóttir', '1974-06-20 00:00:00.000', 'kvk',
                     nan, nan, nan, nan, nan, nan, nan, nan, '2005-04-18 19:42:31.403',
                     nan], dtype=object),
              array([2698, 'Auður Ýr Þórðardóttir', '1974-06-20 00:00:00.000', 'kvk',
                     'Afturelding', 'Auður Ýr Þórðardóttir(auduryr_@hotmail.com)', nan,
                     nan, nan, '692 1182', nan, nan, '2008-11-07 10:40:39.950', 1.0],
                    dtype=object)],
             'axel': [array([229, 'Axel Gunnlaugsson', '1958-06-11 00:00:00.000', 'kk ', nan,
                     nan, nan, nan, nan, nan, nan, nan, '2000-04-30 17:02:45.687', nan],
                    dtype=object),
              array([3485, 'Axel Gunnlaugsson', '1958-06-11 00:00:00.000', 'kk ', 'ÍS',
                     nan, nan, nan, nan, nan, nan, nan, '2011-05-03 15:01:40.357', 0.0],
                    dtype=object)],
             'agusta': [array([1329, 'Ágústa Pálsdóttir', '1972-08-05 00:00:00.000', 'kvk',
                     'Skautar', nan, nan, nan, nan, nan, nan, nan,
                     '2003-03-26 13:48:28.763', nan], dtype=object),
              array([2244, 'Ágústa Pálsdóttir', '1972-08-05 00:00:00.000', 'kvk',
                     'Völsungur', nan, nan, nan, nan, nan, nan, nan,
                     '2007-04-02 10:48:18.640', nan], dtype=object),
              array([2353, 'Ágústa Pálsdóttir', '1972-08-05 00:00:00.000', 'kvk', nan,
                     'robrag@mi.is', nan, nan, nan, '464-2844/820-2844', nan, nan,
                     '2007-11-19 22:22:43.250', nan], dtype=object)],
             'alfheidur': [array([782, 'Álfheiður Magnúsdóttir', '1957-02-07 00:00:00.000', 'kvk',
                     'BLÍ', 'alf@centrum.is', nan, nan, nan, nan, nan, nan,
                     '2001-04-13 18:34:18.083', nan], dtype=object),
              array([1707, 'Álfheiður Magnúsdóttir', '1957-02-07 00:00:00.000', 'kvk',
                     'Grótta', nan, nan, nan, nan, nan, nan, nan,
                     '2005-02-25 15:53:02.697', nan], dtype=object)],
             'arni': [array([1285, 'Árni Þoroddur Guðmundsson', '1978-04-07 00:00:00.000',
                     'kk ', 'Fleygur', nan, nan, nan, nan, nan, nan, nan,
                     '2003-01-24 14:45:54.110', nan], dtype=object),
              array([1257, 'Árni Þóroddur Guðmundsson', '1978-04-07 00:00:00.000',
                     'kk ', nan, 'thoroddur@yahoo.com', nan, nan, nan, '8617378', nan,
                     nan, '2002-11-12 21:52:11.847', nan], dtype=object)],
             'asa': [array([3394, 'Ása Ingibersdóttir', '1977-08-24 00:00:00.000', 'kvk', nan,
                     nan, nan, nan, nan, nan, nan, nan, '2011-04-01 12:08:55.153', 0.0],
                    dtype=object),
              array([3395, 'Ása Ingibersdóttir', '1977-08-24 00:00:00.000', 'kvk', nan,
                     nan, nan, nan, nan, nan, nan, nan, '2011-04-01 12:09:06.763', 0.0],
                    dtype=object)],
             'asdis': [array([770, 'Ásdís Þorvaldsdóttir', '1944-02-06 00:00:00.000', 'kvk',
                     'eik', nan, nan, nan, nan, nan, '462-3070', nan,
                     '2001-04-11 18:52:14.493', nan], dtype=object),
              array([446, 'Ásdís Þorvaldsdóttir', '1944-02-06 00:00:00.000', 'kvk',
                     'Eik', nan, nan, nan, nan, nan, '462-3070', nan,
                     '2000-04-04 22:17:20.643', nan], dtype=object)],
             'asta': [array([415, 'Ásta Mósesdóttir', '1966-12-19 00:00:00.000', 'kvk',
                     'Fylkir', 'astamoses@simnet.is', nan, nan, nan, '8204131',
                     '567-4131', '569-9000', '2000-05-02 18:57:17.453', 0.0],
                    dtype=object),
              array([3609, 'Ásta Mósesdóttir', '1966-12-19 00:00:00.000', 'kvk',
                     'Fylkir', 'astamoses@simnet.is', nan, nan, nan, '8204131', nan,
                     nan, '2012-01-11 12:56:27.077', 0.0], dtype=object)],
             'asthildur': [array([1972, 'Ásthildur Gunnarsdóttir', '1984-11-10 00:00:00.000', 'kvk',
                     'Þróttur Rvk', 'asg3@hi.is', nan, nan, nan, '6930640', '5882878',
                     nan, '2006-01-25 17:56:03.483', nan], dtype=object),
              array([2320, 'Ásthildur Gunnarsdóttir', '1984-11-10 00:00:00.000', 'kvk',
                     nan, 'asthildur.gunnarsdottir@gmail.com', nan, nan, nan, '6930640',
                     nan, nan, '2007-09-17 21:42:38.403', nan], dtype=object)],
             'astridur': [array([1219, 'Ástríður S. Valbjörnsdóttir', '1960-04-30 00:00:00.000',
                     'kvk', 'Fylkir', 'asta@landssamband.is', nan, nan, nan, '697-8090',
                     '551-0929', '510-1700', '2002-10-01 16:59:12.920', nan],
                    dtype=object),
              array([1815, 'Ástríður Valbjörnsdóttir', '1960-04-30 00:00:00.000', 'kvk',
                     'Fylkir', 'asta@landssamband.is', nan, nan, nan, '6978090',
                     '5510929', '5101700', '2005-04-07 08:38:09.310', 0.0], dtype=object),
              array([619, 'Ástríður Valbjörnsdóttir', '1960-04-30 00:00:00.000', 'kvk',
                     'blí', 'asta@landssamband.is', nan, nan, nan, '697-8090', nan,
                     '5881300', '2000-05-02 12:59:28.923', 0.0], dtype=object)],
             'barbara': [array([278, 'Barbara Meyer', '1968-03-13 00:00:00.000', 'kvk',
                     'Afturelding', 'babsyisland@hotmail.com', nan, nan, nan,
                     '896-4446', nan, nan, '2000-05-06 09:14:02.207', nan], dtype=object),
              array([3039, 'Barbara Meyer', '1968-03-13 00:00:00.000', 'kvk', nan, nan,
                     nan, nan, nan, nan, nan, nan, '2010-03-15 09:01:02.860', 0.0],
                    dtype=object),
              array([3041, 'Barbara Meyer', '1968-03-13 00:00:00.000', 'kvk', nan, nan,
                     nan, nan, nan, nan, nan, nan, '2010-03-15 09:04:15.357', 0.0],
                    dtype=object)],
             'bea': [array([285, 'Bea Meijer', '1960-08-13 00:00:00.000', 'kvk', 'Austri',
                     'bea@centrum.is', nan, nan, nan, '4761204', '476 1204', nan,
                     '2000-04-04 11:08:56.890', nan], dtype=object),
              array([264, 'Bea Meijer', '1960-08-13 00:00:00.000', 'kvk', 'Austri',
                     'bea@centrum.is', nan, nan, nan, '8470906', '476 1204', nan,
                     '2000-04-04 11:12:52.907', 0.0], dtype=object)],
             'benedikt': [array([1521, 'Benedikt Sigurjónssn', '1949-03-14 00:00:00.000', 'kk ',
                     nan, nan, nan, nan, nan, '8951664', nan, nan,
                     '2004-03-31 17:16:17.107', nan], dtype=object),
              array([298, 'Benedikt Sigurjónsson', '1949-03-14 00:00:00.000', 'kk ',
                     nan, 'magnus@fjardabyggd.is', nan, nan, nan, '8951664', nan, nan,
                     '2000-04-04 18:45:26.363', nan], dtype=object)],
             'berglind': [array([2919, 'Berglind Ýr Birkisdóttir', '1975-08-07 00:00:00.000', 'kvk',
                     nan, nan, nan, nan, nan, nan, nan, nan, '2010-02-18 12:49:42.530',
                     0.0], dtype=object),
              array([3171, 'Berglind Þráinsdóttir', '1975-08-07 00:00:00.000', 'kvk',
                     nan, nan, nan, nan, nan, nan, nan, nan, '2010-05-03 23:09:36.843',
                     0.0], dtype=object)],
             'bergthora': [array([4195, 'Bergþóra Þórarinsdóttir', '1997-01-19 00:00:00.000', 'kvk',
                     'Stjarnan', nan, nan, nan, nan, nan, nan, nan,
                     '2013-09-20 15:17:37.660', 0.0], dtype=object),
              array([4292, 'Bergþóra Þórarinsdóttir', '1997-01-19 00:00:00.000', 'kvk',
                     'Stjarnan', nan, nan, nan, nan, nan, nan, nan,
                     '2013-10-25 18:51:12.743', 0.0], dtype=object)],
             'berta': [array([1935, 'Berta María Hreinsdóttir', '1978-05-21 00:00:00.000', 'kvk',
                     nan, 'rokkarinn@simnet.is', nan, nan, nan, '5577147', nan, nan,
                     '2005-09-28 11:23:22.280', nan], dtype=object),
              array([1931, 'Berta María Hreinsdóttir', '1978-05-21 00:00:00.000', 'kvk',
                     'Völsungur', nan, nan, nan, nan, '6613656', nan, nan,
                     '2005-09-24 16:19:50.530', 0.0], dtype=object)],
             'birgitta': [array([4005, 'Birgitta S Sævarsdóttir', '1969-03-16 00:00:00.000', 'kvk',
                     nan, nan, nan, nan, nan, nan, nan, nan, '2013-03-07 08:56:39.100',
                     0.0], dtype=object),
              array([340, 'Birgitta Sævarsdóttir', '1969-03-16 00:00:00.000', 'kvk',
                     'Þróttur Neskaupstað', nan, nan, nan, nan, nan, nan, nan,
                     '2000-05-01 10:22:43.500', nan], dtype=object),
              array([852, 'Birgitta Sævarsdóttir', '1969-03-16 00:00:00.000', 'kvk',
                     nan, nan, nan, nan, nan, '8619026', nan, nan,
                     '2001-04-17 10:26:47.993', nan], dtype=object)],
             'birna': [array([2885, 'Birna S. Hallsdóttir', '1966-12-24 00:00:00.000', 'kvk',
                     nan, nan, nan, nan, nan, nan, nan, nan, '2009-11-13 17:34:20.827',
                     0.0], dtype=object),
              array([785, 'Birna Sigrún Hallsdóttir', '1966-12-24 00:00:00.000', 'kvk',
                     'HK', nan, nan, nan, nan, nan, nan, nan, '2001-04-14 14:02:54.737',
                     0.0], dtype=object)],
             'birta': [array([2955, 'birta maria guðmundsdóttir', '1996-04-20 00:00:00.000',
                     'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
                     '2010-02-25 13:58:22.123', 0.0], dtype=object),
              array([2947, 'birta maría guðmundsdóttir', '1996-04-20 00:00:00.000',
                     'kvk', nan, 'birtamariaa@hotmail.com', nan, nan, nan, '6631316',
                     nan, nan, '2010-02-25 13:02:48.670', nan], dtype=object)],
             'bjarki': [array([1917, 'Bjarki Már Stefánsson', '1989-03-23 00:00:00.000', 'kk ',
                     nan, 'bjarki_mar@hotmail.com', nan, nan, nan, '8487101', nan, nan,
                     '2005-06-22 23:14:33.797', nan], dtype=object),
              array([1918, 'Bjarki Már Stefánsson', '1989-03-23 00:00:00.000', 'kk ',
                     nan, 'bjarki_mar@hotmail.com', nan, nan, nan, '8487101', nan, nan,
                     '2005-06-22 23:31:37.047', nan], dtype=object)],
             'bjarni': [array([795, 'Bjarni Þorgeirsson', '1938-08-13 00:00:00.000', 'kk ', nan,
                     'bjarnith@simnet.is', nan, nan, nan, '8671590', nan, nan,
                     '2001-04-14 16:44:15.957', nan], dtype=object),
              array([2357, 'bjarni þorgeirsson', '1938-08-13 00:00:00.000', 'kk ', nan,
                     'bjarnith@simnet.is', nan, nan, nan, '8671590', nan, nan,
                     '2008-02-22 15:29:14.530', nan], dtype=object)],
             'bjorg': [array([196, 'Björg Ragna Erlingsdóttir', '1967-11-09 00:00:00.000', 'kvk',
                     'HK', 'berlingsdottir@kpmg.is', nan, nan, nan, '840-2016', nan,
                     nan, '2000-04-04 23:23:31.363', 0.0], dtype=object),
              array([569, 'Björg Ragna Erlingsdóttir', '1967-11-09 00:00:00.000', 'kvk',
                     'HK Utd', 'bre9@simnet.is', nan, nan, nan, '840-2016', nan, nan,
                     '2000-04-04 14:05:43.210', 0.0], dtype=object)],
             'bjorgvin': [array([3736, 'Björgvin Eyjólfsson', '1955-11-03 00:00:00.000', 'kk ', nan,
                     'bjorgviney@intenet.is', nan, nan, nan, '8971169', nan, nan,
                     '2012-03-28 09:17:28.963', nan], dtype=object),
              array([3398, 'Björgvin Eyjólfsson', '1955-11-03 00:00:00.000', 'kk ', nan,
                     'bjorgviney@internet.is', nan, nan, nan, '8971169', nan, nan,
                     '2011-04-01 12:24:13.263', 183.0], dtype=object)],
             'bjork': [array([1019, 'Björk Vilhelmsdóttir', '1962-11-14 00:00:00.000', 'kvk',
                     'Akur', nan, nan, nan, nan, nan, nan, nan,
                     '2002-03-24 20:28:22.857', nan], dtype=object),
              array([1015, 'Björk Vilhelmsdóttir', '1962-11-14 00:00:00.000', 'kvk',
                     'KA', nan, nan, nan, nan, nan, nan, nan, '2002-03-24 20:13:04.810',
                     nan], dtype=object),
              array([1017, 'Björk Vilhelmsdóttir', '1962-11-14 00:00:00.000', 'kvk',
                     'KA', 'bjork@nett.is', nan, nan, nan, '8688800', nan, nan,
                     '2002-03-24 20:18:08.343', 0.0], dtype=object),
              array([1018, 'Björk Vilhelmsdóttir', '1962-11-14 00:00:00.000', 'kvk',
                     'KA', 'bjork@nett.is', nan, nan, nan, '8688800', nan, nan,
                     '2002-03-24 20:27:27.090', 0.0], dtype=object)],
             'blaedis': [array([1159, 'Blædís Dögg Guðjónsdóttir', '1962-11-09 00:00:00.000',
                     'kvk', nan, 'blaedis@malarvinnslan.is', nan, nan, nan, '4711978',

In [6]:
# Checking if two names are the same person
dict_duplicate_compare_team_members = defaultdict(dict)
for index, row in lidsmenn.iterrows():
    ids = row["EinstID"]
    
    if ids in duplicated_fdagur_kyn_einstaklingar["EinstID"]:
        # now we only view ids that exist for duplicated people
        if ids in dict_duplicate_compare_team_members.keys():
            dict_duplicate_compare_team_members[ids].append(row.values)
        else:
            dict_duplicate_compare_team_members[ids] = [row.values]

In [8]:
#dict_duplicate_compare_team_members

In [25]:
for key, value in dict_removed_single_entries.items():
    temp_dict = dict(value)
    for dict_key, dict_value in temp_dict.items():
        print(len(dict_value))

ValueError: dictionary update sequence element #0 has length 14; 2 is required

In [ ]:
#dict(duplicated_fdagur_kyn_einstaklingar)

# all duplicates
#duplicate_dict

# all duplicates for lúðvík
#duplicate_dict["ludvik"]

#duplicate_dict["ludvik"]['1969-03-31'][0]
#duplicate_dict["ludvik"]['1969-03-31'][1]

#duplicate_dict
#dict_removed_single_entries

In [21]:
reverted_back_to_dict = dict(duplicate_dict)
#reverted_back_to_dict

In [23]:
file_path = "json/einstaklingar_map.txt" ## your path variable
#duplicate_dict_json = json.dump(duplicate_dict, codecs.open(file_path, 'w', encoding='utf-8'), separators=(';', ':'), sort_keys=True, indent=4) ### this saves the array in .json format
#json_obj = json.dumps(duplicate_dict, indent = 4)
#dumped = json.dumps(duplicate_dict, cls=NumpyEncoder)
#dumped
#pd.DataFrame(reverted_back_to_dict).to_csv(file_path, encoding='utf-8-sig')
#duplicate_dict_json = json.dump(reverted_back_to_dict, codecs.open(file_path, 'w', encoding='utf-8-sig'))

#json = json.dumps(reverted_back_to_dict)
#f = open(file_path,"w")
#f.write(str(reverted_back_to_dict))
#f.close()

=====================================================================================
=

In [187]:
#FINAL STEP (run after everything is done):

#duplicated people put into it's own csv to be browsed later
pd.DataFrame(duplicated_einstaklingar).to_csv("csv/new/duplicated-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(duplicate_dict).to_csv("json/duplicate-map.json", encoding='utf-8-sig')


#save as new csv inside csv/new
pd.DataFrame(domarar).to_csv("csv/new/blak-domarar.csv", encoding='utf-8-sig')
pd.DataFrame(einstaklingar).to_csv("csv/new/blak-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(forsvarsmenn).to_csv("csv/new/blak-forsvarsmenn.csv.csv", encoding='utf-8-sig')
pd.DataFrame(lid).to_csv("csv/new/blak-lid.csv", encoding='utf-8-sig')
pd.DataFrame(lidimoti).to_csv("csv/new/blak-lidimoti.csv", encoding='utf-8-sig')
pd.DataFrame(lidsmenn).to_csv("csv/new/blak-lidsmenn.csv", encoding='utf-8-sig')
pd.DataFrame(lidsstjorar).to_csv("csv/new/blak-lidsstjorar.csv", encoding='utf-8-sig')
pd.DataFrame(mot).to_csv("csv/new/blak-mot.csv", encoding='utf-8-sig')
pd.DataFrame(thjalfarar).to_csv("csv/new/blak-thjalfarar.csv", encoding='utf-8-sig')