In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict
import codecs, json
import unicodedata
# pip install Unidecode  <OR> conda install Unidecode
import unidecode

In [2]:
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

# All duplicated birthdays
duplicated_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Nafn', 'Fdagur', 'Kyn'], keep=False)]
duplicated_fdagur_kyn_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Fdagur', 'Kyn'], keep=False)]

In [3]:
# Add all entries that have duplicated birthdays, then filter that to first_name->birthday-><people entries>
duplicate_dict = defaultdict(dict)
for index, row in duplicated_fdagur_kyn_einstaklingar.iterrows():
    full_name = row['Nafn']
    #only get the first part of full name 
    first_name = full_name.split()[0]
    # make first name lowercase
    first_name_lowercase = first_name.lower()
    # encode icelandic letters to english
    first_name_to_english = unidecode.unidecode(first_name_lowercase)
    # split birthday into year month and day and ignore second part (sec, min, hour)
    Fdagur_date = row['Fdagur'].split()[0]
    
    if first_name_to_english in duplicate_dict.keys():
        if Fdagur_date in duplicate_dict[first_name_to_english].keys():
            #if first name and Fdagur (birthday) exist in dict then append to that key (birthday)
            duplicate_dict[first_name_to_english][Fdagur_date].append(row.values)
        else:
            #if first name exists but Fdagur (birthday) does not exist in dict
            duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]
    else:
        #if Fdagur (birthday) does not exist in dict
        duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]

In [4]:
# Remove all single birthday entries that are not duplicates
dict_removed_single_entries = defaultdict(dict)

for key, values in duplicate_dict.items():
    # key = nafn ('ludvik')
    for birthday, arrays in dict(values).items():
        # only get duplicates that there exists 2 or more entries for a birthday
        if(len(arrays) > 1):
            # used for when joining teams table
            if key in dict_removed_single_entries.keys():
                if birthday in dict_removed_single_entries[key].keys():
                    dict_removed_single_entries[key][birthday].append(arrays)
                else:
                    #if first name exists but Fdagur (birthday) does not exist in dict
                    dict_removed_single_entries[key][birthday] = arrays
            else:
                dict_removed_single_entries[key][birthday] = arrays

In [5]:
# get all ids in dict_removed_single_entries
duplicate_ids_kept = []
for key, values in dict_removed_single_entries.items():
    # key = nafn ('ludvik')
    for birthday, arrays in dict(values).items():
        for item in arrays:
            duplicate_ids_kept.append(item[0])

In [6]:
#duplicate_dict['aldis']

In [7]:
#dict_removed_single_entries.values()
#duplicate_row_keept

In [8]:
# Checking if two names are the same person
dict_duplicate_compare_team_members = defaultdict(dict)
for index, row in lidsmenn.iterrows():
    ids = row["EinstID"]
    if ids in duplicate_ids_kept:
        # now we only view ids that exist for duplicated people
        #print(ids)
        if ids in dict_duplicate_compare_team_members.keys():
            dict_duplicate_compare_team_members[ids].append(row.values)
        else:
            dict_duplicate_compare_team_members[ids] = [row.values]

In [20]:
#dict_duplicate_compare_team_members

In [17]:
dict_name_entries = {}
for key, value in dict_removed_single_entries.items():
    #get key and arrays for each person
    for birthday, arrays in dict(value).items():
        #get each array for person
        #print("KEY: " + key + " BIRTHDAY: " + birthday)
        new_key = key +"-"+ birthday
        for item in arrays:
            if new_key in dict_name_entries.keys():
                dict_name_entries[new_key].append(item[0])
            else:
                dict_name_entries[new_key] = [item[0]]
#dict_name_entries

In [23]:
dict_duplicate_compare_team_members

defaultdict(dict,
            {483: [array([1, 18, 483, '2000-04-30 10:04:24.983'], dtype=object),
              array([91, 1830, 483, '2006-04-25 15:50:39.420'], dtype=object)],
             570: [array([1, 18, 570, '2000-04-01 08:56:25.153'], dtype=object),
              array([2, 18, 570, '2001-04-06 10:31:00.870'], dtype=object),
              array([8, 18, 570, '2001-12-28 16:16:45.827'], dtype=object),
              array([15, 18, 570, '2002-05-01 21:24:27.903'], dtype=object),
              array([68, 18, 570, '2005-03-30 11:34:24.217'], dtype=object),
              array([189, 762, 570, '2011-02-19 14:16:56.450'], dtype=object)],
             614: [array([1, 18, 614, '2000-04-03 10:56:57.543'], dtype=object),
              array([2, 18, 614, '2001-04-06 10:31:00.870'], dtype=object),
              array([8, 18, 614, '2001-12-28 16:16:45.827'], dtype=object),
              array([15, 18, 614, '2002-05-01 21:22:25.310'], dtype=object),
              array([68, 18, 614, '2005-03-30 11:34:24.217'], dtype=object),
              array([91, 18, 614, '2006-03-30 16:59:01.780'], dtype=object),
              array([109, 18, 614, '2007-04-04 15:59:32.420'], dtype=object)],
             97: [array([1, 19, 97, '2000-03-30 12:29:59.507'], dtype=object),
              array([2, 19, 97, '2001-04-06 19:45:16.540'], dtype=object),
              array([6, 19, 97, '2001-11-13 09:55:32.547'], dtype=object),
              array([11, 584, 97, '2002-02-27 09:40:51.077'], dtype=object),
              array([15, 584, 97, '2002-04-03 17:02:10.153'], dtype=object),
              array([28, 584, 97, '2003-01-08 19:58:29.753'], dtype=object),
              array([34, 19, 97, '2003-04-09 13:37:57.327'], dtype=object),
              array([54, 19, 97, '2004-03-30 12:32:19.343'], dtype=object),
              array([68, 19, 97, '2005-04-05 12:05:04.513'], dtype=object),
              array([71, 19, 97, '2005-01-06 11:29:34.840'], dtype=object),
              array([91, 19, 97, '2006-04-03 22:02:45.170'], dtype=object),
              array([109, 19, 97, '2007-03-29 12:53:18.747'], dtype=object),
              array([111, 3007, 97, '2007-07-04 20:58:30.047'], dtype=object),
              array([118, 19, 97, '2008-01-24 10:58:52.780'], dtype=object),
              array([121, 19, 97, '2008-03-27 11:46:43.107'], dtype=object),
              array([138, 19, 97, '2009-03-24 18:13:32.560'], dtype=object),
              array([144, 3874, 97, '2009-07-05 18:15:55.450'], dtype=object),
              array([148, 1459, 97, '2010-02-03 22:25:27.233'], dtype=object),
              array([161, 19, 97, '2010-01-07 01:40:51.043'], dtype=object),
              array([165, 584, 97, '2010-04-14 22:34:11.357'], dtype=object),
              array([188, 1459, 97, '2011-03-29 22:15:34.390'], dtype=object),
              array([189, 1692, 97, '2011-04-29 13:59:48.247'], dtype=object),
              array([193, 584, 97, '2011-11-22 11:29:23.953'], dtype=object),
              array([198, 1459, 97, '2012-01-19 13:43:04.237'], dtype=object),
              array([199, 1692, 97, '2012-04-23 20:39:38.723'], dtype=object),
              array([203, 19, 97, '2012-01-02 22:12:59.913'], dtype=object),
              array([208, 1459, 97, '2012-02-21 07:27:47.460'], dtype=object),
              array([226, 1459, 97, '2013-01-22 09:25:36.147'], dtype=object),
              array([230, 1692, 97, '2013-04-18 23:14:26.393'], dtype=object),
              array([249, 584, 97, '2014-04-17 22:58:48.403'], dtype=object)],
             255: [array([1, 19, 255, '2000-04-30 20:27:37.713'], dtype=object),
              array([2, 19, 255, '2001-04-06 19:45:16.540'], dtype=object),
              array([6, 19, 255, '2001-11-13 09:55:32.547'], dtype=object),
              array([11, 584, 255, '2002-02-27 09:38:41.483'], dtype=object),
              array([15, 584, 255, '2002-04-03 17:02:44.750'], dtype=object),
              array([28, 584, 255, '2003-01-08 19:58:29.753'], dtype=object),
              array([34, 19, 255, '2003-04-09 13:37:53.093'], dtype=object),
              array([54, 19, 255, '2004-03-30 12:32:19.343'], dtype=object),
              array([68, 19, 255, '2005-04-05 12:05:04.513'], dtype=object),
              array([71, 19, 255, '2005-01-06 11:29:34.840'], dtype=object),
              array([91, 19, 255, '2006-04-03 22:02:45.170'], dtype=object),
              array([109, 19, 255, '2007-03-29 12:53:12.293'], dtype=object),
              array([118, 19, 255, '2008-01-24 10:58:52.780'], dtype=object),
              array([119, 1019, 255, '2008-01-08 23:50:25.780'], dtype=object),
              array([121, 19, 255, '2008-03-27 11:46:34.983'], dtype=object),
              array([144, 3874, 255, '2009-07-05 18:19:50.640'], dtype=object),
              array([179, 1459, 255, '2011-01-31 23:15:12.920'], dtype=object),
              array([180, 1459, 255, '2010-11-10 22:08:18.360'], dtype=object),
              array([181, 1459, 255, '2011-02-24 13:40:35.123'], dtype=object),
              array([186, 1459, 255, '2010-12-30 22:49:20.343'], dtype=object),
              array([189, 1692, 255, '2011-04-23 19:16:02.343'], dtype=object),
              array([193, 584, 255, '2011-11-22 11:27:40.080'], dtype=object),
              array([199, 1692, 255, '2012-04-19 21:50:48.863'], dtype=object),
              array([203, 19, 255, '2012-01-02 22:12:27.913'], dtype=object),
              array([208, 1459, 255, '2012-02-21 07:31:25.473'], dtype=object),
              array([226, 1459, 255, '2013-01-22 09:25:36.147'], dtype=object),
              array([230, 19, 255, '2013-04-18 23:09:00.457'], dtype=object),
              array([249, 584, 255, '2014-04-17 22:53:52.577'], dtype=object)],
             557: [array([1, 19, 557, '2000-03-30 12:33:54.873'], dtype=object),
              array([2, 19, 557, '2001-04-06 19:45:16.540'], dtype=object),
              array([6, 19, 557, '2001-11-13 09:55:32.547'], dtype=object),
              array([11, 584, 557, '2002-02-27 09:39:56.467'], dtype=object),
              array([15, 584, 557, '2002-04-03 17:03:29.280'], dtype=object),
              array([28, 584, 557, '2003-01-08 19:58:29.753'], dtype=object),
              array([34, 19, 557, '2003-04-09 13:37:44.030'], dtype=object),
              array([54, 19, 557, '2004-03-30 12:32:19.343'], dtype=object),
              array([71, 19, 557, '2005-01-06 11:29:34.840'], dtype=object),
              array([109, 19, 557, '2007-03-29 12:53:07.860'], dtype=object),
              array([118, 19, 557, '2008-01-24 10:58:52.780'], dtype=object),
              array([121, 19, 557, '2008-04-16 16:49:40.873'], dtype=object),
              array([138, 19, 557, '2009-03-24 18:13:32.560'], dtype=object),
              array([161, 19, 557, '2010-01-07 01:40:51.043'], dtype=object),
              array([165, 584, 557, '2010-04-14 22:34:11.357'], dtype=object)],
             149: [array([1, 22, 149, '2000-04-29 23:13:49.467'], dtype=object),
              array([53, 22, 149, '2004-03-02 21:22:33.687'], dtype=object),
              array([67, 22, 149, '2004-10-27 20:49:29.620'], dtype=object)],
             577: [array([1, 22, 577, '2000-04-29 23:12:35.070'], dtype=object)],
             214: [array([1, 23, 214, '2000-05-01 10:23:37.780'], dtype=object),
              array([22, 1073, 214, '2002-11-07 21:09:04.933'], dtype=object),
              array([34, 1073, 214, '2003-04-19 17:05:11.247'], dtype=object)],
             316: [array([1, 23, 316, '2000-05-01 10:19:34.840'], dtype=object),
              array([22, 1073, 316, '2002-11-07 21:12:53.403'], dtype=object),
              array([34, 1073, 316, '2003-04-19 16:58:08.763'], dtype=object),
              array([142, 3033, 316, '2009-04-16 09:12:23.467'], dtype=object),
              array([165, 88, 316, '2010-05-04 15:50:45.577'], dtype=object),
              array([189, 88, 316, '2011-03-31 11:28:35.733'], dtype=object),
              array([194, 4168, 316, '2011-12-05 21:56:20.433'], dtype=object),
              array([196, 3033, 316, '2011-09-23 17:41:35.043'], dtype=object),
              array([199, 4176, 316, '2012-04-27 12:46:42.870'], dtype=object),
              array([232, 4172, 316, '2014-01-09 12:37:15.490'], dtype=object)],
             340: [array([1, 23, 340, '2000-05-01 10:22:43.520'], dtype=object),
              array([15, 23, 340, '2002-03-29 21:50:53.247'], dtype=object),
              array([22, 1073, 340, '2002-11-07 21:15:48.543'], dtype=object),
              array([34, 1209, 340, '2003-04-16 13:19:31.450'], dtype=object),
              array([39, 23, 340, '2003-02-07 17:32:15.950'], dtype=object),
              array([54, 1209, 340, '2004-03-31 15:50:29.233'], dtype=object),
              array([68, 1073, 340, '2005-04-14 11:45:28.373'], dtype=object),
              array([138, 1018, 340, '2009-04-10 21:50:24.403'], dtype=object)],
             469: [array([1, 23, 469, '2000-05-01 10:21:31.797'], dtype=object)],
             304: [array([1, 26, 304, '2000-04-30 20:40:47.017'], dtype=object),
              array([15, 114, 304, '2002-04-29 21:15:19.030'], dtype=object),
              array([33, 765, 304, '2003-03-02 16:59:36.140'], dtype=object),
              array([38, 765, 304, '2003-03-02 23:27:32.700'], dtype=object),
              array([65, 1579, 304, '2004-10-20 22:49:29.327'], dtype=object),
              array([83, 2072, 304, '2005-10-21 21:15:29.013'], dtype=object),
              array([87, 2072, 304, '2006-01-27 13:56:34.733'], dtype=object),
              array([91, 2072, 304, '2006-04-24 10:04:58.467'], dtype=object),
              array([104, 2072, 304, '2007-01-25 09:27:40.543'], dtype=object),
              array([106, 26, 304, '2007-02-28 11:16:00.123'], dtype=object),
              array([109, 765, 304, '2007-03-28 15:46:07.920'], dtype=object),
              array([121, 765, 304, '2008-04-24 23:01:21.090'], dtype=object),
              array([139, 26, 304, '2009-03-05 15:11:13.233'], dtype=object),
              array([159, 26, 304, '2009-11-03 18:49:56.513'], dtype=object),
              array([189, 765, 304, '2011-03-28 14:40:21.297'], dtype=object),
              array([230, 765, 304, '2013-03-27 09:20:12.147'], dtype=object),
              array([249, 765, 304, '2014-03-21 09:24:54.893'], dtype=object)],
             411: [array([1, 27, 411, '2000-04-30 16:00:13.360'], dtype=object),
              array([2, 71, 411, '2001-04-26 22:44:12.680'], dtype=object),
              array([8, 27, 411, '2002-01-01 12:39:48.590'], dtype=object),
              array([15, 71, 411, '2002-05-03 14:51:35.920'], dtype=object),
              array([34, 1014, 411, '2003-04-25 14:40:42.873'], dtype=object)],
             133: [array([1, 28, 133, '2000-03-31 16:36:03.150'], dtype=object),
              array([2, 28, 133, '2001-04-11 11:03:12.160'], dtype=object),
              array([15, 85, 133, '2002-04-11 19:46:54.513'], dtype=object),
              array([28, 85, 133, '2003-01-09 08:26:07.290'], dtype=object),
              array([34, 88, 133, '2003-04-03 10:15:24.920'], dtype=object),
              array([39, 85, 133, '2003-02-07 17:35:54.827'], dtype=object),
              array([121, 88, 133, '2008-04-15 12:51:25.623'], dtype=object),
              array([138, 88, 133, '2009-03-03 15:13:50.670'], dtype=object),
              array([189, 2691, 133, '2011-04-07 13:50:50.403'], dtype=object),
              array([195, 2692, 133, '2012-02-01 23:29:25.170'], dtype=object),
              array([199, 2691, 133, '2012-03-27 23:03:56.637'], dtype=object),
              array([248, 2691, 133, '2014-03-18 15:29:09.973'], dtype=object)],
             366: [array([1, 28, 366, '2000-03-31 16:33:12.787'], dtype=object),
              array([2, 85, 366, '2001-04-19 00:08:52.563'], dtype=object),
              array([34, 70, 366, '2003-04-03 10:21:55.467'], dtype=object),
              array([54, 70, 366, '2004-03-30 10:01:42.873'], dtype=object),
              array([68, 70, 366, '2005-04-04 11:26:40.200'], dtype=object),
              array([91, 70, 366, '2006-04-02 00:12:01.217'], dtype=object),
              array([95, 70, 366, '2006-04-05 10:15:48.090'], dtype=object),
              array([109, 70, 366, '2007-03-27 13:53:10.717'], dtype=object),
              array([110, 70, 366, '2007-04-11 14:05:17.937'], dtype=object),
              array([165, 70, 366, '2010-05-04 15:43:52.967'], dtype=object),
              array([183, 70, 366, '2011-04-04 14:02:08.140'], dtype=object)],
             90: [array([1, 29, 90, '2000-05-01 10:28:04.773'], dtype=object),
              array([34, 1073, 90, '2003-04-27 21:49:04.793'], dtype=object),
              array([54, 1018, 90, '2004-04-06 14:46:47.763'], dtype=object)],
             467: [array([1, 29, 467, '2000-05-01 10:31:23.640'], dtype=object),
              array([34, 1209, 467, '2003-04-16 13:24:29.810'], dtype=object),
              array([54, 1209, 467, '2004-03-31 15:50:29.233'], dtype=object),
              array([68, 1073, 467, '2005-04-14 11:48:02.843'], dtype=object),
              array([102, 84, 467, '2007-01-10 21:38:42.623'], dtype=object)],
             549: [array([1, 29, 549, '2000-05-01 10:29:24.800'], dtype=object),
              array([34, 28, 549, '2003-04-25 09:52:14.560'], dtype=object),
              array([68, 2240, 549, '2005-04-04 18:16:01.233'], dtype=object),
              array([109, 28, 549, '2007-03-21 19:49:59.623'], dtype=object),
              array([121, 28, 549, '2008-03-25 09:21:59.357'], dtype=object),
              array([138, 28, 549, '2009-03-31 22:49:50.793'], dtype=object),
              array([165, 28, 549, '2010-03-05 15:29:02.560'], dtype=object)],
             586: [array([1, 29, 586, '2000-05-01 10:30:30.170'], dtype=object),
              array([34, 1073, 586, '2003-04-19 17:00:10.123'], dtype=object),
              array([230, 4442, 586, '2013-04-12 21:16:13.230'], dtype=object)],
             648: [array([1, 29, 648, '2000-05-01 10:32:00.940'], dtype=object),
              array([23, 156, 648, '2002-09-28 19:54:45.013'], dtype=object),
              array([109, 1843, 648, '2007-03-27 11:56:54.653'], dtype=object),
              array([121, 1843, 648, '2008-03-31 22:51:01.123'], dtype=object),
              array([138, 1843, 648, '2009-03-28 14:30:26.747'], dtype=object),
              array([165, 4444, 648, '2010-05-04 20:10:55.623'], dtype=object),
              array([189, 4442, 648, '2011-04-04 22:30:54.327'], dtype=object),
              array([215, 4252, 648, '2012-10-26 12:13:11.323'], dtype=object)],
             515: [array([1, 34, 515, '2000-04-30 11:23:21.997'], dtype=object),
              array([34, 34, 515, '2003-04-16 21:29:52.233'], dtype=object),
              array([54, 34, 515, '2004-03-30 20:26:07.920'], dtype=object)],
             628: [array([1, 34, 628, '2000-04-28 22:29:39.137'], dtype=object),
              array([2, 34, 628, '2001-04-03 22:33:41.800'], dtype=object),
              array([6, 34, 628, '2001-11-13 15:55:45.873'], dtype=object),
              array([15, 34, 628, '2002-04-15 13:19:40.593'], dtype=object),
              array([54, 34, 628, '2004-03-30 20:29:55.107'], dtype=object),
              array([68, 34, 628, '2005-04-16 21:45:30.810'], dtype=object),
              array([91, 34, 628, '2006-04-14 19:29:37.983'], dtype=object),
              array([109, 34, 628, '2007-03-14 13:25:40.093'], dtype=object),
              array([220, 5604, 628, '2012-10-17 09:56:02.143'], dtype=object),
              array([226, 5604, 628, '2013-01-23 09:07:16.527'], dtype=object),
              array([230, 5604, 628, '2013-03-15 12:12:02.280'], dtype=object),
              array([247, 5604, 628, '2014-04-02 21:51:16.453'], dtype=object),
              array([249, 5604, 628, '2014-04-02 22:10:43.617'], dtype=object)],
             288: [array([1, 35, 288, '2000-05-03 23:25:21.420'], dtype=object),
              array([2, 35, 288, '2001-04-13 14:50:02.160'], dtype=object),
              array([15, 512, 288, '2002-04-16 19:51:07.030'], dtype=object),
              array([34, 512, 288, '2003-04-15 15:52:55.907'], dtype=object),
              array([54, 35, 288, '2004-03-28 16:53:33.140'], dtype=object),
              array([68, 512, 288, '2005-04-20 11:12:38.763'], dtype=object),
              array([91, 1953, 288, '2006-03-31 11:10:44.733'], dtype=object),
              array([102, 2873, 288, '2007-01-03 15:10:08.000'], dtype=object),
              array([109, 2873, 288, '2007-04-02 23:16:49.653'], dtype=object),
              array([153, 4264, 288, '2010-01-12 21:34:44.357'], dtype=object),
              array([230, 4264, 288, '2013-03-27 14:25:26.263'], dtype=object)],
             327: [array([1, 35, 327, '2000-05-03 23:22:58.017'], dtype=object),
              array([2, 35, 327, '2001-04-13 14:50:02.160'], dtype=object),
              array([72, 132, 327, '2004-12-28 21:06:28.277'], dtype=object),
              array([86, 132, 327, '2006-01-10 13:13:06.340'], dtype=object),
              array([109, 132, 327, '2007-04-23 13:47:11.717'], dtype=object),
              array([119, 132, 327, '2008-01-09 14:42:59.810'], dtype=object),
              array([121, 132, 327, '2008-04-01 13:43:52.873'], dtype=object),
              array([137, 132, 327, '2009-01-08 20:42:34.593'], dtype=object),
              array([153, 132, 327, '2010-01-13 13:23:09.247'], dtype=object),
              array([230, 132, 327, '2013-04-18 23:28:49.230'], dtype=object)],
             541: [array([1, 35, 541, '2000-05-03 23:24:41.393'], dtype=object),
              array([2, 35, 541, '2001-04-13 14:50:02.160'], dtype=object),
              array([15, 853, 541, '2002-05-04 19:14:28.530'], dtype=object),
              array([72, 132, 541, '2004-12-28 21:02:38.183'], dtype=object),
              array([102, 2873, 541, '2007-01-05 11:09:30.640'], dtype=object),
              array([109, 2873, 541, '2007-04-02 23:16:49.653'], dtype=object)],
             559: [array([1, 35, 559, '2000-05-03 23:23:14.580'], dtype=object),
              array([2, 35, 559, '2001-04-13 14:50:02.160'], dtype=object),
              array([15, 512, 559, '2002-04-16 19:48:50.000'], dtype=object),
              array([34, 512, 559, '2003-04-15 15:49:30.373'], dtype=object),
              array([54, 35, 559, '2004-03-28 16:46:38.657'], dtype=object)],
             131: [array([1, 36, 131, '2000-04-29 11:41:13.653'], dtype=object),
              array([2, 36, 131, '2001-04-07 21:25:20.940'], dtype=object),
              array([28, 36, 131, '2003-01-09 09:47:01.737'], dtype=object),
              array([34, 36, 131, '2003-03-31 22:38:47.810'], dtype=object),
              array([43, 1460, 131, '2003-11-04 13:57:38.340'], dtype=object),
              array([49, 36, 131, '2004-01-05 20:07:30.450'], dtype=object),
              array([67, 1460, 131, '2004-11-01 16:40:00.233'], dtype=object)],
             281: [array([1, 37, 281, '2000-05-01 21:34:16.790'], dtype=object),
              array([2, 37, 281, '2001-04-07 14:44:21.183'], dtype=object),
              array([15, 37, 281, '2002-03-07 21:34:39.607'], dtype=object),
              array([34, 37, 281, '2003-03-12 22:53:00.060'], dtype=object),
              array([54, 37, 281, '2004-03-24 22:04:02.280'], dtype=object),
              array([68, 37, 281, '2005-04-05 10:35:14.967'], dtype=object),
              array([91, 37, 281, '2006-03-20 21:20:52.450'], dtype=object),
              array([109, 37, 281, '2007-04-09 21:16:10.810'], dtype=object),
              array([144, 3868, 281, '2009-07-19 16:32:11.483'], dtype=object),
              array([246, 3179, 281, '2014-01-06 16:44:05.713'], dtype=object),
              array([249, 37, 281, '2014-03-26 15:38:16.250'], dtype=object)],
             547: [array([1, 37, 547, '2000-05-01 21:29:21.803'], dtype=object),
              array([2, 37, 547, '2001-04-07 14:44:21.183'], dtype=object),
              array([15, 37, 547, '2002-03-07 21:34:39.607'], dtype=object),

In [29]:
for key, value in dict_name_entries.items():
    #print("<key>" + str(key) + " <value> " + str(value))
    for item in value:
        #print(item)
        if item in dict_duplicate_compare_team_members.keys():
            print("<key>" + str(key) + " <values> " + str(dict_duplicate_compare_team_members[item]))
        print("xxxxxxxxxxxx")

<key>adalsteinn-1981-03-03 <values> [array([187, 2840, 1964, '2011-01-20 21:19:21.280'], dtype=object), array([232, 1022, 1964, '2013-09-03 20:55:14.783'], dtype=object), array([234, 1022, 1964, '2013-09-09 15:35:13.947'], dtype=object), array([249, 2840, 1964, '2014-04-21 21:12:11.077'], dtype=object)]
<key>adalsteinn-1981-03-03 <values> [array([45, 1023, 1437, '2004-07-26 12:25:47.497'], dtype=object), array([46, 1023, 1437, '2003-10-11 19:12:00.843'], dtype=object), array([59, 1023, 1437, '2004-09-17 11:59:19.497'], dtype=object), array([64, 1023, 1437, '2004-09-30 17:47:04.420'], dtype=object), array([66, 1015, 1437, '2004-11-15 23:01:41.150'], dtype=object), array([70, 2085, 1437, '2005-02-23 18:40:23.027'], dtype=object), array([84, 1023, 1437, '2005-10-01 20:06:49.467'], dtype=object), array([176, 1022, 1437, '2010-09-27 10:28:20.920'], dtype=object), array([191, 1022, 1437, '2011-08-29 20:53:45.547'], dtype=object), array([199, 2840, 1437, '2012-03-04 14:10:07.770'], dtype=object), array([201, 2690, 1437, '2012-04-04 20:14:56.530'], dtype=object), array([212, 5601, 1437, '2012-01-13 00:28:42.140'], dtype=object), array([215, 1022, 1437, '2012-07-06 10:43:22.870'], dtype=object), array([221, 2840, 1437, '2013-03-27 19:40:58.193'], dtype=object), array([222, 1022, 1437, '2012-10-09 10:49:09.633'], dtype=object), array([225, 2840, 1437, '2013-03-27 19:42:14.360'], dtype=object), array([230, 2840, 1437, '2013-03-13 21:09:03.820'], dtype=object), array([250, 1830, 1437, '2014-08-14 10:15:41.083'], dtype=object)]
<key>aldis-1996-06-22 <values> [array([169, 4378, 2949, '2010-02-25 13:52:40.360'], dtype=object)]
<key>aldis-1996-06-22 <values> [array([169, 4378, 2950, '2010-02-25 13:52:42.780'], dtype=object)]
<key>alexander-1990-12-05 <values> [array([60, 1740, 1578, '2004-08-20 23:05:27.997'], dtype=object), array([81, 2457, 1578, '2006-02-07 13:03:42.827'], dtype=object), array([84, 1012, 1578, '2005-09-26 14:41:07.843'], dtype=object), array([86, 2457, 1578, '2006-01-10 23:50:44.437'], dtype=object), array([98, 1022, 1578, '2006-10-06 17:47:31.513'], dtype=object), array([102, 2457, 1578, '2007-01-07 02:00:36.450'], dtype=object), array([105, 2457, 1578, '2007-03-21 17:10:06.670'], dtype=object), array([111, 3006, 1578, '2007-07-04 09:04:50.483'], dtype=object), array([112, 1022, 1578, '2007-09-22 17:12:08.247'], dtype=object), array([144, 3006, 1578, '2009-07-03 22:36:18.437'], dtype=object), array([157, 1022, 1578, '2009-11-23 17:50:11.403'], dtype=object), array([176, 1022, 1578, '2010-09-27 10:28:34.107'], dtype=object), array([177, 1830, 1578, '2011-04-15 07:36:27.577'], dtype=object), array([191, 1022, 1578, '2011-08-29 20:52:56.310'], dtype=object), array([215, 1022, 1578, '2012-07-06 10:43:22.870'], dtype=object), array([222, 1022, 1578, '2012-10-09 10:49:09.633'], dtype=object), array([234, 1022, 1578, '2013-09-09 15:35:13.947'], dtype=object)]
<key>alexander-1990-12-05 <values> [array([127, 3425, 2498, '2008-08-31 20:01:58.013'], dtype=object), array([212, 5601, 2498, '2012-01-11 12:37:53.170'], dtype=object)]
<key>alma-1961-03-05 <values> [array([1, 29, 90, '2000-05-01 10:28:04.773'], dtype=object), array([34, 1073, 90, '2003-04-27 21:49:04.793'], dtype=object), array([54, 1018, 90, '2004-04-06 14:46:47.763'], dtype=object)]
<key>alma-1961-03-05 <values> [array([15, 29, 1028, '2002-03-29 22:01:43.780'], dtype=object)]
<key>alma-1964-10-09 <values> [array([199, 5820, 3706, '2012-03-23 14:47:54.610'], dtype=object)]
<key>alma-1964-10-09 <values> [array([1, 39, 192, '2000-04-04 10:16:11.057'], dtype=object)]
<key>ana-1972-01-29 <values> [array([91, 121, 2065, '2006-04-03 23:06:18.890'], dtype=object), array([172, 4155, 2065, '2010-10-14 09:59:03.653'], dtype=object), array([182, 1256, 2065, '2011-01-31 23:01:02.030'], dtype=object), array([187, 4664, 2065, '2011-01-12 09:50:27.110'], dtype=object), array([189, 1840, 2065, '2011-04-30 20:51:50.873'], dtype=object), array([199, 1840, 2065, '2012-04-11 22:54:28.157'], dtype=object), array([201, 4155, 2065, '2012-04-11 13:50:36.313'], dtype=object), array([215, 4155, 2065, '2012-09-11 13:41:51.843'], dtype=object), array([218, 4155, 2065, '2012-10-10 15:23:30.093'], dtype=object)]
<key>ana-1972-01-29 <values> [array([212, 1256, 3226, '2012-01-12 00:02:18.170'], dtype=object)]
<key>andres-1967-09-16 <values> [array([102, 2792, 2137, '2007-01-05 11:48:15.107'], dtype=object), array([105, 2792, 2137, '2007-03-13 16:35:22.483'], dtype=object), array([109, 2792, 2137, '2007-03-14 15:42:53.340'], dtype=object), array([117, 2792, 2137, '2007-11-30 00:15:19.857'], dtype=object), array([149, 3500, 2137, '2010-04-27 16:17:34.107'], dtype=object), array([153, 3500, 2137, '2010-01-11 13:53:33.937'], dtype=object), array([158, 3611, 2137, '2010-01-28 23:54:47.997'], dtype=object), array([165, 3611, 2137, '2010-05-07 00:25:03.780'], dtype=object), array([195, 3500, 2137, '2012-02-02 23:41:40.763'], dtype=object)]
<key>andri-1979-04-10 <values> [array([66, 1015, 1629, '2004-11-15 23:06:15.307'], dtype=object), array([72, 1015, 1629, '2005-01-04 22:26:47.183'], dtype=object), array([165, 3608, 1629, '2010-04-07 13:11:03.860'], dtype=object), array([193, 3608, 1629, '2011-11-14 23:00:46.683'], dtype=object), array([249, 3608, 1629, '2014-03-19 11:20:57.170'], dtype=object)]
<key>andri-1979-04-10 <values> [array([199, 5849, 3741, '2012-03-28 14:42:17.043'], dtype=object), array([230, 5849, 3741, '2013-02-27 08:45:07.987'], dtype=object)]
<key>andri-1989-05-23 <values> [array([27, 676, 1227, '2002-11-04 13:04:19.983'], dtype=object), array([40, 676, 1227, '2003-04-03 20:26:09.873'], dtype=object), array([60, 1741, 1227, '2004-08-20 21:10:28.153'], dtype=object), array([61, 1741, 1227, '2004-08-31 23:59:29.903'], dtype=object), array([66, 1833, 1227, '2004-11-16 17:23:29.760'], dtype=object), array([75, 1020, 1227, '2005-03-16 01:59:27.417'], dtype=object), array([96, 1833, 1227, '2006-10-26 10:32:19.263'], dtype=object), array([126, 1741, 1227, '2008-08-30 13:27:28.170'], dtype=object), array([132, 1020, 1227, '2008-11-07 01:05:54.373'], dtype=object), array([145, 3453, 1227, '2009-11-18 23:55:48.373'], dtype=object), array([152, 1741, 1227, '2009-09-07 14:25:55.983'], dtype=object), array([232, 1457, 1227, '2014-03-23 11:29:31.597'], dtype=object)]
<key>andri-1989-05-23 <values> [array([127, 3425, 2497, '2008-08-31 20:01:18.310'], dtype=object)]
<key>anna-1970-12-26 <values> [array([124, 3004, 2420, '2008-04-02 15:19:01.093'], dtype=object), array([142, 3004, 2420, '2009-04-16 12:31:28.623'], dtype=object)]
<key>anna-1970-12-26 <values> [array([121, 3004, 2419, '2008-04-23 09:08:54.140'], dtype=object), array([132, 3004, 2419, '2008-11-07 09:46:30.903'], dtype=object), array([138, 1582, 2419, '2009-04-30 09:31:15.500'], dtype=object), array([149, 3004, 2419, '2010-04-26 10:23:56.903'], dtype=object), array([158, 3004, 2419, '2010-01-29 09:22:00.077'], dtype=object), array([165, 3004, 2419, '2010-04-22 19:45:55.390'], dtype=object)]
<key>anna-1972-05-30 <values> [array([77, 2226, 1766, '2005-03-29 13:56:01.373'], dtype=object)]
<key>anna-1972-05-30 <values> [array([68, 2227, 1768, '2005-03-29 14:03:03.560'], dtype=object), array([138, 1045, 1768, '2009-03-27 15:15:56.200'], dtype=object), array([165, 1045, 1768, '2010-04-14 19:55:36.497'], dtype=object), array([230, 2219, 1768, '2013-04-18 15:54:01.597'], dtype=object)]
<key>anna-1972-05-30 <values> [array([199, 2219, 1767, '2012-04-21 14:05:00.037'], dtype=object), array([249, 4315, 1767, '2014-04-20 19:16:12.153'], dtype=object)]
<key>anna-1978-05-03 <values> [array([165, 4447, 3099, '2010-04-15 10:09:34.467'], dtype=object), array([172, 4155, 3099, '2010-10-14 09:57:39.747'], dtype=object), array([175, 4155, 3099, '2010-12-02 10:54:28.170'], dtype=object), array([182, 1256, 3099, '2011-01-31 23:01:34.593'], dtype=object), array([183, 4977, 3099, '2011-04-04 13:46:26.107'], dtype=object), array([187, 4664, 3099, '2011-01-12 09:48:57.560'], dtype=object), array([189, 1840, 3099, '2011-04-30 20:50:52.577'], dtype=object), array([195, 4977, 3099, '2012-01-31 21:43:15.873'], dtype=object)]
<key>anna-1978-05-03 <values> [array([232, 6000, 3225, '2013-11-13 16:03:42.573'], dtype=object), array([250, 6000, 3225, '2014-08-13 11:49:25.043'], dtype=object)]
<key>anna-1969-10-02 <values> [array([68, 90, 1723, '2005-03-23 09:36:09.213'], dtype=object), array([75, 90, 1723, '2005-03-14 10:07:45.713'], dtype=object), array([78, 90, 1723, '2005-03-30 23:21:09.483'], dtype=object), array([91, 89, 1723, '2006-04-24 22:20:05.467'], dtype=object), array([98, 583, 1723, '2006-10-20 23:05:30.123'], dtype=object), array([100, 89, 1723, '2006-11-01 23:18:32.420'], dtype=object), array([109, 89, 1723, '2007-04-01 11:14:38.327'], dtype=object), array([110, 89, 1723, '2007-04-13 08:36:36.750'], dtype=object), array([112, 89, 1723, '2007-09-26 22:39:57.233'], dtype=object), array([113, 89, 1723, '2007-10-10 22:41:41.653'], dtype=object), array([119, 89, 1723, '2008-01-09 22:36:31.543'], dtype=object), array([121, 89, 1723, '2008-03-31 22:33:30.497'], dtype=object), array([138, 89, 1723, '2009-03-31 22:00:47.780'], dtype=object), array([139, 89, 1723, '2009-02-20 23:28:12.670'], dtype=object), array([158, 90, 1723, '2010-01-28 21:50:44.843'], dtype=object), array([165, 89, 1723, '2010-05-03 22:39:13.840'], dtype=object), array([189, 583, 1723, '2011-03-31 22:57:28.763'], dtype=object), array([232, 4157, 1723, '2013-10-19 00:45:44.680'], dtype=object), array([250, 4157, 1723, '2014-08-13 10:43:02.423'], dtype=object)]
<key>anna-1969-10-02 <values> [array([199, 89, 2157, '2012-04-16 14:16:01.013'], dtype=object), array([230, 89, 2157, '2013-03-24 21:54:14.027'], dtype=object), array([249, 89, 2157, '2014-03-24 22:35:11.250'], dtype=object)]
<key>anna-1957-02-23 <values> [array([109, 1572, 1469, '2007-04-25 22:58:47.717'], dtype=object), array([199, 5733, 1469, '2012-04-21 14:00:17.757'], dtype=object)]
<key>anna-1957-02-23 <values> [array([2, 94, 715, '2001-04-06 13:31:56.270'], dtype=object), array([35, 1045, 715, '2003-03-10 21:46:31.107'], dtype=object), array([54, 1045, 715, '2004-04-05 21:01:51.390'], dtype=object), array([86, 1045, 715, '2006-01-10 15:05:23.107'], dtype=object), array([91, 94, 715, '2006-04-03 14:58:14.187'], dtype=object), array([230, 4315, 715, '2013-04-18 23:01:24.850'], dtype=object), array([249, 5733, 715, '2014-04-20 19:27:11.600'], dtype=object)]
<key>anna-1973-10-17 <values> [array([125, 2071, 716, '2008-04-07 15:40:05.327'], dtype=object), array([199, 151, 716, '2012-03-22 11:04:35.203'], dtype=object), array([232, 1032, 716, '2013-10-31 11:23:26.943'], dtype=object), array([233, 1032, 716, '2013-11-06 09:03:19.863'], dtype=object)]
<key>anna-1973-10-17 <values> [array([34, 91, 712, '2003-03-31 09:48:37.873'], dtype=object), array([35, 1044, 712, '2003-03-10 21:33:49.607'], dtype=object), array([197, 1446, 712, '2011-10-10 22:04:01.063'], dtype=object), array([208, 1446, 712, '2012-02-15 23:19:09.787'], dtype=object)]
<key>anna-1973-10-17 <values> [array([144, 3010, 1981, '2009-07-07 19:44:05.687'], dtype=object), array([202, 1446, 1981, '2011-10-19 23:08:24.110'], dtype=object)]
<key>anna-1973-10-17 <values> [array([121, 70, 817, '2008-04-15 12:48:16.560'], dtype=object), array([132, 70, 817, '2008-11-07 15:10:54.200'], dtype=object), array([138, 70, 817, '2009-02-26 12:24:05.250'], dtype=object), array([145, 673, 817, '2009-11-13 17:38:55.060'], dtype=object), array([151, 70, 817, '2009-09-22 15:29:19.670'], dtype=object)]
<key>anna-1973-10-17 <values> [array([230, 2219, 3220, '2013-04-18 15:50:32.297'], dtype=object)]
<key>anna-1973-10-17 <values> [array([249, 2218, 3356, '2014-04-20 19:10:30.940'], dtype=object)]
<key>anna-1966-11-11 <values> [array([66, 153, 1637, '2004-11-17 16:35:29.090'], dtype=object), array([82, 153, 1637, '2005-11-18 16:36:35.107'], dtype=object)]
<key>anna-1966-11-11 <values> [array([68, 1688, 1814, '2005-04-06 08:34:49.873'], dtype=object)]
<key>anna-1981-10-19 <values> [array([144, 3869, 2868, '2009-07-08 11:31:50.640'], dtype=object)]
<key>anna-1981-10-19 <values> [array([249, 1210, 4513, '2014-04-15 23:50:33.760'], dtype=object)]
<key>anna-1958-09-06 <values> [array([91, 764, 2071, '2006-04-05 14:22:58.577'], dtype=object), array([109, 764, 2071, '2007-04-01 22:34:21.843'], dtype=object), array([110, 764, 2071, '2007-04-11 14:09:23.280'], dtype=object), array([121, 764, 2071, '2008-04-15 12:53:26.780'], dtype=object), array([138, 764, 2071, '2009-03-03 15:21:33.890'], dtype=object), array([139, 764, 2071, '2009-03-05 13:13:01.217'], dtype=object), array([165, 1444, 2071, '2010-05-04 15:52:14.873'], dtype=object), array([189, 359, 2071, '2011-03-31 11:32:21.950'], dtype=object), array([194, 4168, 2071, '2011-12-05 21:57:23.030'], dtype=object), array([199, 4176, 2071, '2012-04-27 12:44:44.167'], dtype=object), array([230, 88, 2071, '2013-04-18 18:47:14.120'], dtype=object), array([232, 4176, 2071, '2013-10-02 11:45:26.127'], dtype=object), array([238, 88, 2071, '2013-10-16 00:21:52.820'], dtype=object), array([239, 88, 2071, '2013-11-12 23:30:16.007'], dtype=object), array([249, 359, 2071, '2014-04-17 10:33:37.943'], dtype=object)]
<key>anna-1958-09-06 <values> [array([214, 1444, 2903, '2012-06-02 00:49:04.210'], dtype=object)]
<key>anton-1947-02-27 <values> [array([1, 35, 559, '2000-05-03 23:23:14.580'], dtype=object), array([2, 35, 559, '2001-04-13 14:50:02.160'], dtype=object), array([15, 512, 559, '2002-04-16 19:48:50.000'], dtype=object), array([34, 512, 559, '2003-04-15 15:49:30.373'], dtype=object), array([54, 35, 559, '2004-03-28 16:46:38.657'], dtype=object)]
<key>anton-1947-02-27 <values> [array([68, 512, 1800, '2005-04-19 22:34:50.670'], dtype=object), array([91, 1953, 1800, '2006-03-31 11:08:42.090'], dtype=object)]
<key>arnar-1978-12-27 <values> [array([67, 360, 1617, '2004-11-02 22:27:39.267'], dtype=object), array([70, 360, 1617, '2005-02-27 17:41:23.900'], dtype=object), array([73, 360, 1617, '2005-02-16 21:43:41.853'], dtype=object), array([75, 360, 1617, '2005-03-16 20:11:06.180'], dtype=object), array([85, 360, 1617, '2005-11-09 22:32:51.967'], dtype=object), array([100, 360, 1617, '2006-11-02 18:07:31.890'], dtype=object), array([101, 360, 1617, '2007-02-03 17:20:28.840'], dtype=object), array([105, 360, 1617, '2007-03-14 19:49:37.920'], dtype=object), array([121, 360, 1617, '2008-03-14 20:10:38.780'], dtype=object), array([124, 360, 1617, '2008-04-01 22:05:12.000'], dtype=object), array([165, 4440, 1617, '2010-04-11 16:38:30.530'], dtype=object)]
<key>arnar-1978-12-27 <values> [array([248, 4895, 3350, '2014-03-17 09:36:20.580'], dtype=object), array([249, 4895, 3350, '2014-03-07 23:16:51.880'], dtype=object)]
<key>arnar-1978-12-27 <values> [array([189, 4895, 3354, '2011-03-23 22:24:36.233'], dtype=object), array([199, 4895, 3354, '2012-02-28 19:51:39.740'], dtype=object), array([230, 4895, 3354, '2013-03-12 14:10:40.713'], dtype=object)]
<key>arnbjorg-1965-12-29 <values> [array([1, 84, 613, '2000-04-04 10:52:54.103'], dtype=object), array([2, 84, 613, '2001-04-09 14:08:13.740'], dtype=object), array([8, 84, 613, '2001-12-20 10:32:03.437'], dtype=object), array([11, 84, 613, '2002-02-28 15:43:51.403'], dtype=object), array([26, 84, 613, '2002-11-08 12:00:51.637'], dtype=object), array([54, 84, 613, '2004-03-30 22:48:23.700'], dtype=object), array([63, 84, 613, '2004-11-15 18:38:52.110'], dtype=object), array([68, 84, 613, '2005-03-30 22:20:56.483'], dtype=object), array([81, 84, 613, '2006-02-08 11:55:53.077'], dtype=object), array([86, 84, 613, '2006-01-09 09:09:39.030'], dtype=object), array([88, 84, 613, '2006-03-07 17:56:32.780'], dtype=object), array([102, 84, 613, '2007-01-10 21:39:07.217'], dtype=object), array([104, 84, 613, '2007-01-24 21:12:21.200'], dtype=object), array([105, 84, 613, '2007-03-21 15:51:05.937'], dtype=object), array([106, 84, 613, '2007-02-28 09:53:07.310'], dtype=object), array([109, 84, 613, '2007-03-29 13:14:07.543'], dtype=object), array([110, 84, 613, '2007-04-12 12:59:22.687'], dtype=object), array([121, 3302, 613, '2008-04-24 21:12:37.217'], dtype=object), array([212, 4174, 613, '2012-01-11 23:08:58.293'], dtype=object)]
<key>arnbjorg-1965-12-29 <values> [array([15, 84, 1035, '2002-04-05 11:47:39.093'], dtype=object), array([34, 84, 1035, '2003-03-13 09:04:34.983'], dtype=object), array([52, 84, 1035, '2004-02-18 14:13:05.763'], dtype=object), array([53, 84, 1035, '2004-03-02 12:53:55.810'], dtype=object), array([138, 3302, 1035, '2009-03-05 17:28:42.060'], dtype=object), array([149, 3302, 1035, '2010-04-27 19:49:04.747'], dtype=object), array([165, 3302, 1035, '2010-04-11 22:34:27.950'], dtype=object), array([189, 3302, 1035, '2011-02-24 22:56:17.483'], dtype=object), array([199, 3302, 1035, '2012-03-09 14:35:59.560'], dtype=object), array([201, 3302, 1035, '2012-04-01 10:46:42.997'], dtype=object), array([225, 3302, 1035, '2013-04-02 14:15:55.440'], dtype=object), array([230, 3302, 1035, '2013-02-18 13:13:50.397'], dtype=object), array([232, 4604, 1035, '2013-10-20 17:21:01.927'], dtype=object), array([236, 3302, 1035, '2013-09-16 22:35:42.583'], dtype=object), array([239, 3302, 1035, '2013-11-12 23:16:53.493'], dtype=object), array([241, 3302, 1035, '2014-02-19 21:45:32.323'], dtype=object), array([249, 3302, 1035, '2014-04-07 15:34:33.263'], dtype=object), array([250, 4604, 1035, '2014-08-13 11:17:10.490'], dtype=object)]
<key>arnheidur-1957-04-07 <values> [array([70, 1955, 1702, '2005-02-25 15:47:39.197'], dtype=object), array([91, 2693, 1702, '2006-04-03 14:28:24.090'], dtype=object), array([98, 1955, 1702, '2006-10-19 18:15:40.123'], dtype=object), array([102, 1955, 1702, '2007-01-10 23:34:23.497'], dtype=object), array([105, 1955, 1702, '2007-03-21 12:38:14.810'], dtype=object), array([109, 1955, 1702, '2007-03-31 11:52:56.890'], dtype=object), array([119, 1955, 1702, '2008-01-09 23:30:24.030'], dtype=object)]
<key>arnheidur-1957-04-07 <values> [array([1, 125, 134, '2000-05-02 13:04:31.830'], dtype=object), array([2, 126, 134, '2001-04-13 18:37:48.887'], dtype=object), array([3, 125, 134, '2001-03-30 12:26:22.120'], dtype=object), array([6, 125, 134, '2001-11-07 10:59:40.950'], dtype=object), array([15, 354, 134, '2002-04-26 08:26:37.810'], dtype=object), array([29, 354, 134, '2003-01-02 12:38:45.127'], dtype=object), array([34, 126, 134, '2003-04-23 23:27:51.590'], dtype=object), array([75, 1955, 134, '2005-03-15 11:46:25.340'], dtype=object), array([83, 1955, 134, '2005-10-18 12:01:02.247'], dtype=object)]
<key>arnheidur-1975-03-11 <values> [array([33, 95, 1289, '2003-03-04 10:24:48.467'], dtype=object)]
<key>arnheidur-1975-03-11 <values> [array([199, 4901, 3818, '2012-04-20 16:39:19.363'], dtype=object), array([230, 4901, 3818, '2013-04-10 10:46:45.013'], dtype=object), array([232, 5066, 3818, '2014-02-13 18:52:43.833'], dtype=object), array([249, 4901, 3818, '2014-04-24 01:12:33.357'], dtype=object)]
<key>arnheidur-1983-03-11 <values> [array([224, 4657, 4031, '2013-04-02 19:47:56.713'], dtype=object), array([230, 4657, 4031, '2013-03-20 18:26:39.743'], dtype=object), array([240, 4657, 4031, '2013-10-15 21:00:10.483'], dtype=object), array([249, 4657, 4031, '2014-03-18 19:18:53.807'], dtype=object)]
<key>arnheidur-1983-03-11 <values> [array([249, 6892, 4471, '2014-03-26 12:40:51.027'], dtype=object)]
<key>arnleif-1970-02-01 <values> [array([34, 1264, 1366, '2003-04-01 14:28:35.247'], dtype=object), array([68, 2243, 1366, '2005-04-05 18:25:28.373'], dtype=object), array([138, 2243, 1366, '2009-04-14 21:50:14.340'], dtype=object), array([165, 4193, 1366, '2010-04-14 20:36:12.903'], dtype=object)]
<key>arnleif-1970-02-01 <values> [array([109, 2243, 2213, '2007-03-30 16:34:28.623'], dtype=object), array([189, 2243, 2213, '2011-04-30 18:56:20.187'], dtype=object), array([199, 2243, 2213, '2012-04-09 15:27:35.560'], dtype=object)]

<key>solveig-1944-04-17 <values> [array([2, 350, 836, '2001-04-15 15:13:53.187'], dtype=object), array([15, 350, 836, '2002-04-15 22:39:04.840'], dtype=object), array([68, 1688, 836, '2005-04-06 08:38:21.123'], dtype=object)]
<key>solveig-1944-04-17 <values> [array([34, 1088, 1328, '2003-03-26 13:45:23.060'], dtype=object), array([54, 1088, 1328, '2004-03-30 22:33:37.077'], dtype=object)]
<key>solveig-1954-07-27 <values> [array([149, 673, 3075, '2010-04-26 22:31:36.140'], dtype=object)]
<key>stefan-1953-02-05 <values> [array([109, 132, 2305, '2007-04-27 16:04:30.497'], dtype=object), array([119, 132, 2305, '2008-01-09 14:42:59.810'], dtype=object), array([121, 132, 2305, '2008-04-01 13:43:52.873'], dtype=object)]
<key>stefan-1953-02-05 <values> [array([15, 670, 1214, '2002-05-09 14:48:05.577'], dtype=object), array([34, 1176, 1214, '2003-03-26 20:36:24.903'], dtype=object), array([36, 671, 1214, '2003-04-08 03:13:24.763'], dtype=object), array([44, 671, 1214, '2003-11-13 01:20:35.717'], dtype=object), array([109, 132, 1214, '2007-04-27 16:04:46.043'], dtype=object), array([119, 132, 1214, '2008-01-09 14:42:59.810'], dtype=object), array([121, 132, 1214, '2008-04-01 13:43:52.873'], dtype=object)]
<key>stefan-1980-09-12 <values> [array([165, 2241, 1884, '2010-04-30 14:44:04.890'], dtype=object), array([199, 356, 1884, '2012-04-23 22:33:23.833'], dtype=object), array([215, 6012, 1884, '2012-10-25 19:07:02.840'], dtype=object), array([230, 1458, 1884, '2013-04-13 22:24:41.503'], dtype=object), array([232, 6012, 1884, '2013-09-23 15:19:54.327'], dtype=object), array([249, 406, 1884, '2014-03-29 20:35:40.130'], dtype=object), array([250, 6012, 1884, '2014-08-13 10:52:36.627'], dtype=object)]
<key>stefan-1980-09-12 <values> [array([232, 1458, 4223, '2013-10-21 13:57:44.827'], dtype=object), array([233, 1458, 4223, '2013-11-05 11:10:10.877'], dtype=object)]
<key>stefan-1972-12-11 <values> [array([121, 3262, 2442, '2008-04-09 16:03:20.593'], dtype=object), array([165, 2184, 2442, '2010-03-29 15:39:58.640'], dtype=object), array([221, 1255, 2442, '2013-04-07 13:38:12.567'], dtype=object), array([230, 1255, 2442, '2013-02-15 09:58:55.543'], dtype=object), array([232, 1255, 2442, '2013-09-20 17:16:50.117'], dtype=object), array([249, 1255, 2442, '2014-03-07 23:10:43.260'], dtype=object), array([250, 1255, 2442, '2014-08-13 10:18:35.453'], dtype=object)]
<key>stefan-1972-12-11 <values> [array([249, 6291, 4553, '2014-04-21 23:05:51.673'], dtype=object)]
<key>steinar-1971-08-25 <values> [array([109, 2690, 2173, '2007-03-13 22:25:51.217'], dtype=object), array([121, 2690, 2173, '2008-03-15 22:59:39.123'], dtype=object), array([138, 2690, 2173, '2009-03-14 20:32:04.530'], dtype=object), array([155, 2690, 2173, '2010-03-30 20:25:02.903'], dtype=object), array([249, 2840, 2173, '2014-04-21 21:17:51.463'], dtype=object)]
<key>steinar-1971-08-25 <values> [array([160, 2840, 2744, '2010-03-17 12:17:09.217'], dtype=object), array([165, 2840, 2744, '2010-02-27 14:50:18.903'], dtype=object), array([177, 2690, 2744, '2011-04-12 10:47:37.247'], dtype=object), array([187, 2840, 2744, '2011-01-20 21:17:52.390'], dtype=object), array([189, 2690, 2744, '2011-03-30 19:16:35.250'], dtype=object), array([199, 2840, 2744, '2012-03-04 14:07:55.770'], dtype=object), array([201, 2690, 2744, '2012-04-04 20:12:02.000'], dtype=object), array([221, 2840, 2744, '2013-03-27 19:40:58.193'], dtype=object), array([225, 2840, 2744, '2013-03-27 19:42:14.360'], dtype=object), array([230, 2840, 2744, '2013-03-13 21:09:03.820'], dtype=object)]
<key>steindora-1972-03-03 <values> [array([91, 2058, 2000, '2006-03-17 13:11:43.810'], dtype=object), array([95, 2071, 2000, '2006-04-03 23:23:19.233'], dtype=object), array([100, 89, 2000, '2006-11-01 23:21:34.187'], dtype=object), array([105, 90, 2000, '2007-03-22 19:21:51.090'], dtype=object), array([109, 89, 2000, '2007-04-01 11:15:34.013'], dtype=object), array([110, 89, 2000, '2007-04-13 08:37:10.890'], dtype=object), array([112, 89, 2000, '2007-09-26 22:39:57.233'], dtype=object), array([113, 89, 2000, '2007-10-10 22:41:41.653'], dtype=object), array([119, 89, 2000, '2008-01-09 22:37:40.403'], dtype=object), array([121, 89, 2000, '2008-03-31 22:34:37.077'], dtype=object), array([138, 89, 2000, '2009-03-31 21:56:46.340'], dtype=object), array([189, 583, 2000, '2011-04-28 18:17:26.170'], dtype=object), array([199, 89, 2000, '2012-04-16 14:14:36.030'], dtype=object), array([230, 89, 2000, '2013-03-24 21:54:14.027'], dtype=object), array([232, 4157, 2000, '2013-10-19 00:48:34.370'], dtype=object), array([249, 587, 2000, '2014-04-30 23:43:18.543'], dtype=object), array([250, 4157, 2000, '2014-08-13 10:43:02.423'], dtype=object)]
<key>steindora-1972-03-03 <values> [array([98, 583, 2116, '2006-10-20 23:18:52.500'], dtype=object), array([139, 89, 2116, '2009-02-20 23:28:33.420'], dtype=object), array([165, 89, 2116, '2010-05-03 22:36:44.543'], dtype=object)]
<key>steinn-1970-05-17 <values> [array([121, 1435, 2380, '2008-03-28 16:48:46.483'], dtype=object), array([131, 1435, 2380, '2008-09-25 21:41:14.967'], dtype=object), array([133, 1176, 2380, '2009-01-28 23:14:03.483'], dtype=object), array([137, 1435, 2380, '2009-01-07 23:49:28.437'], dtype=object), array([138, 1176, 2380, '2009-03-23 23:50:23.187'], dtype=object), array([142, 1435, 2380, '2009-04-15 23:48:14.233'], dtype=object), array([149, 671, 2380, '2010-04-25 13:36:47.327'], dtype=object), array([151, 1435, 2380, '2009-09-20 16:45:52.483'], dtype=object), array([153, 1435, 2380, '2010-01-11 23:09:05.263'], dtype=object), array([155, 1435, 2380, '2010-04-14 19:35:33.093'], dtype=object), array([165, 1176, 2380, '2010-04-13 22:17:47.827'], dtype=object), array([189, 2184, 2380, '2011-04-30 19:29:36.437'], dtype=object), array([199, 1176, 2380, '2012-04-10 21:45:20.767'], dtype=object), array([221, 1176, 2380, '2013-03-31 11:06:01.520'], dtype=object), array([230, 1176, 2380, '2013-03-26 00:13:30.877'], dtype=object), array([249, 1176, 2380, '2014-04-01 19:15:10.627'], dtype=object)]
<key>steinunn-1969-04-24 <values> [array([198, 4700, 3628, '2012-01-23 10:08:55.270'], dtype=object), array([199, 4699, 3628, '2012-04-17 10:21:57.467'], dtype=object), array([220, 4699, 3628, '2012-10-16 20:28:22.237'], dtype=object), array([226, 4699, 3628, '2013-01-17 23:31:43.700'], dtype=object), array([230, 4699, 3628, '2013-03-26 15:39:59.237'], dtype=object), array([240, 4699, 3628, '2013-10-14 18:44:01.200'], dtype=object), array([242, 4699, 3628, '2013-11-09 17:10:54.510'], dtype=object), array([249, 6904, 3628, '2014-04-29 22:20:49.200'], dtype=object)]
<key>steinunn-1969-04-24 <values> [array([97, 1500, 2122, '2006-11-14 19:45:55.450'], dtype=object)]
<key>steinunn-1969-04-24 <values> [array([1, 34, 515, '2000-04-30 11:23:21.997'], dtype=object), array([34, 34, 515, '2003-04-16 21:29:52.233'], dtype=object), array([54, 34, 515, '2004-03-30 20:26:07.920'], dtype=object)]
<key>stoyten-1990-07-08 <values> [array([127, 3429, 2620, '2008-08-31 23:11:34.903'], dtype=object)]
<key>sunna-1994-05-29 <values> [array([232, 1444, 4198, '2013-09-20 15:20:57.963'], dtype=object), array([233, 1444, 4198, '2013-11-04 22:57:59.253'], dtype=object), array([235, 4168, 4198, '2014-04-02 23:21:25.760'], dtype=object)]
<key>sunna-1994-05-29 <values> [array([232, 4168, 4290, '2013-10-25 18:50:02.010'], dtype=object)]
<key>sunna-1990-05-29 <values> [array([227, 5604, 3930, '2012-11-21 19:12:40.247'], dtype=object)]
<key>sunna-1990-05-29 <values> [array([224, 5604, 4087, '2013-04-04 21:24:57.227'], dtype=object)]
<key>susan-1964-08-23 <values> [array([138, 88, 1377, '2009-03-03 15:16:19.293'], dtype=object), array([189, 88, 1377, '2011-03-31 11:29:28.327'], dtype=object), array([199, 4176, 1377, '2012-04-27 12:47:38.700'], dtype=object), array([230, 88, 1377, '2013-04-18 18:53:41.787'], dtype=object), array([238, 88, 1377, '2013-10-16 00:21:52.820'], dtype=object), array([239, 88, 1377, '2013-11-12 23:30:16.007'], dtype=object), array([249, 88, 1377, '2014-04-22 22:16:21.517'], dtype=object)]
<key>susan-1964-08-23 <values> [array([15, 88, 1095, '2002-04-15 13:35:52.107'], dtype=object), array([34, 88, 1095, '2003-04-03 10:16:16.310'], dtype=object), array([54, 88, 1095, '2004-03-30 10:20:05.890'], dtype=object), array([68, 70, 1095, '2005-04-04 11:34:08.887'], dtype=object), array([91, 70, 1095, '2006-04-02 00:12:01.217'], dtype=object), array([95, 70, 1095, '2006-04-05 10:15:48.090'], dtype=object), array([121, 70, 1095, '2008-04-15 12:49:44.717'], dtype=object), array([132, 70, 1095, '2008-11-07 15:10:54.200'], dtype=object), array([165, 70, 1095, '2010-05-04 15:43:35.780'], dtype=object), array([183, 70, 1095, '2011-04-04 14:02:08.140'], dtype=object), array([232, 4156, 1095, '2013-10-02 11:27:19.613'], dtype=object)]
<key>svala-1961-06-17 <values> [array([189, 70, 2739, '2011-03-31 11:25:09.717'], dtype=object), array([194, 4168, 2739, '2011-12-05 22:13:18.920'], dtype=object), array([196, 3033, 2739, '2011-09-23 17:41:46.607'], dtype=object), array([214, 5983, 2739, '2012-05-14 21:49:29.533'], dtype=object), array([230, 70, 2739, '2013-04-18 19:55:08.283'], dtype=object), array([232, 4156, 2739, '2013-10-02 11:26:55.090'], dtype=object), array([249, 70, 2739, '2014-04-22 22:15:38.067'], dtype=object)]
<key>svala-1961-06-17 <values> [array([15, 70, 1101, '2002-04-15 13:52:30.280'], dtype=object), array([111, 3010, 1101, '2007-07-03 21:05:39.390'], dtype=object), array([121, 70, 1101, '2008-04-15 12:49:25.653'], dtype=object), array([132, 70, 1101, '2008-11-07 15:10:54.200'], dtype=object), array([138, 70, 1101, '2009-03-06 23:26:40.217'], dtype=object), array([144, 3010, 1101, '2009-07-03 22:30:10.247'], dtype=object), array([151, 70, 1101, '2009-09-22 15:29:19.670'], dtype=object)]
<key>svala-1961-06-17 <values> [array([1, 28, 366, '2000-03-31 16:33:12.787'], dtype=object), array([2, 85, 366, '2001-04-19 00:08:52.563'], dtype=object), array([34, 70, 366, '2003-04-03 10:21:55.467'], dtype=object), array([54, 70, 366, '2004-03-30 10:01:42.873'], dtype=object), array([68, 70, 366, '2005-04-04 11:26:40.200'], dtype=object), array([91, 70, 366, '2006-04-02 00:12:01.217'], dtype=object), array([95, 70, 366, '2006-04-05 10:15:48.090'], dtype=object), array([109, 70, 366, '2007-03-27 13:53:10.717'], dtype=object), array([110, 70, 366, '2007-04-11 14:05:17.937'], dtype=object), array([165, 70, 366, '2010-05-04 15:43:52.967'], dtype=object), array([183, 70, 366, '2011-04-04 14:02:08.140'], dtype=object)]
<key>svandis-1974-06-10 <values> [array([48, 54, 1453, '2003-12-29 14:37:42.357'], dtype=object), array([65, 1441, 1453, '2004-10-20 10:31:19.793'], dtype=object), array([109, 54, 1453, '2007-04-06 23:37:16.077'], dtype=object), array([189, 54, 1453, '2011-04-25 20:32:40.343'], dtype=object), array([199, 54, 1453, '2012-04-18 13:17:52.410'], dtype=object)]
<key>svandis-1974-06-10 <values> [array([54, 54, 1518, '2004-03-31 14:43:42.763'], dtype=object), array([68, 52, 1518, '2005-04-04 11:51:27.200'], dtype=object), array([72, 54, 1518, '2005-01-04 15:11:22.540'], dtype=object), array([138, 54, 1518, '2009-04-15 11:38:42.327'], dtype=object)]
<key>svandis-1975-08-02 <values> [array([165, 2243, 3149, '2010-04-20 16:31:19.937'], dtype=object), array([230, 6293, 3149, '2013-04-15 23:37:20.580'], dtype=object), array([249, 6293, 3149, '2014-03-23 15:16:57.523'], dtype=object)]
<key>svandis-1975-08-02 <values> [array([241, 6834, 4381, '2014-02-10 18:09:55.467'], dtype=object), array([248, 6834, 4381, '2014-03-16 14:54:31.677'], dtype=object)]
<key>svanhildur-1976-10-09 <values> [array([220, 3451, 3875, '2012-10-19 22:29:26.487'], dtype=object)]
<key>svanhildur-1976-10-09 <values> [array([230, 2979, 3874, '2013-04-18 23:45:06.793'], dtype=object), array([249, 3451, 3874, '2014-04-18 10:32:11.793'], dtype=object)]
<key>svanhildur-1967-08-30 <values> [array([1, 34, 628, '2000-04-28 22:29:39.137'], dtype=object), array([2, 34, 628, '2001-04-03 22:33:41.800'], dtype=object), array([6, 34, 628, '2001-11-13 15:55:45.873'], dtype=object), array([15, 34, 628, '2002-04-15 13:19:40.593'], dtype=object), array([54, 34, 628, '2004-03-30 20:29:55.107'], dtype=object), array([68, 34, 628, '2005-04-16 21:45:30.810'], dtype=object), array([91, 34, 628, '2006-04-14 19:29:37.983'], dtype=object), array([109, 34, 628, '2007-03-14 13:25:40.093'], dtype=object), array([220, 5604, 628, '2012-10-17 09:56:02.143'], dtype=object), array([226, 5604, 628, '2013-01-23 09:07:16.527'], dtype=object), array([230, 5604, 628, '2013-03-15 12:12:02.280'], dtype=object), array([247, 5604, 628, '2014-04-02 21:51:16.453'], dtype=object), array([249, 5604, 628, '2014-04-02 22:10:43.617'], dtype=object)]
<key>svanhildur-1967-08-30 <values> [array([199, 5604, 3710, '2012-03-23 21:11:39.783'], dtype=object)]
<key>svanhildur-1962-07-22 <values> [array([81, 2132, 1977, '2006-01-30 09:22:05.437'], dtype=object)]
<key>svanhildur-1962-07-22 <values> [array([165, 2243, 3150, '2010-04-20 16:46:36.827'], dtype=object), array([199, 2243, 3150, '2012-03-28 16:15:52.170'], dtype=object)]
<key>svava-1980-05-09 <values> [array([220, 5497, 3365, '2012-10-17 18:14:07.377'], dtype=object), array([227, 5497, 3365, '2012-11-21 11:05:39.293'], dtype=object)]
<key>svava-1980-05-09 <values> [array([193, 5497, 3572, '2011-11-23 19:03:41.477'], dtype=object), array([203, 5497, 3572, '2012-01-03 00:46:15.710'], dtype=object)]
<key>svava-1980-05-09 <values> [array([198, 5497, 3570, '2012-01-27 15:44:01.477'], dtype=object), array([230, 5497, 3570, '2013-04-11 13:37:45.207'], dtype=object)]
<key>sveinbjorg-1969-10-03 <values> [array([14, 481, 1058, '2002-04-16 21:44:12.920'], dtype=object), array([15, 481, 1058, '2002-04-10 09:01:28.060'], dtype=object), array([16, 481, 1058, '2002-04-20 23:13:04.403'], dtype=object), array([54, 482, 1058, '2004-04-05 13:48:28.763'], dtype=object), array([55, 482, 1058, '2004-03-30 14:00:55.263'], dtype=object), array([56, 482, 1058, '2004-03-23 10:54:21.107'], dtype=object), array([68, 482, 1058, '2005-04-06 14:13:02.343'], dtype=object), array([69, 482, 1058, '2005-01-25 14:17:44.010'], dtype=object), array([91, 482, 1058, '2006-04-03 13:50:10.000'], dtype=object), array([105, 482, 1058, '2007-03-20 13:35:31.200'], dtype=object), array([109, 482, 1058, '2007-03-28 11:37:43.717'], dtype=object), array([121, 1843, 1058, '2008-03-31 22:54:36.827'], dtype=object), array([138, 1018, 1058, '2009-04-24 15:36:00.153'], dtype=object)]
<key>sveinbjorg-1969-10-03 <values> [array([29, 481, 1054, '2002-12-30 13:47:23.490'], dtype=object), array([34, 482, 1054, '2003-04-22 14:35:15.420'], dtype=object), array([165, 4444, 1054, '2010-05-04 20:34:45.967'], dtype=object), array([172, 2692, 1054, '2010-10-23 00:18:36.733'], dtype=object), array([182, 2973, 1054, '2011-01-31 22:11:23.733'], dtype=object), array([187, 2692, 1054, '2011-01-18 15:03:00.950'], dtype=object), array([189, 2692, 1054, '2011-04-07 13:54:39.670'], dtype=object), array([230, 2692, 1054, '2013-04-24 23:44:20.540'], dtype=object), array([232, 2692, 1054, '2013-11-13 15:02:21.513'], dtype=object), array([237, 2692, 1054, '2014-01-09 19:17:42.063'], dtype=object), array([238, 2973, 1054, '2013-10-18 13:13:18.990'], dtype=object), array([241, 2973, 1054, '2014-02-20 12:47:36.453'], dtype=object), array([249, 2692, 1054, '2014-03-15 10:05:32.153'], dtype=object)]
<key>sveinn-1973-07-05 <values> [array([88, 148, 1992, '2006-03-09 09:14:31.840'], dtype=object), array([91, 148, 1992, '2006-03-28 20:33:57.483'], dtype=object)]
<key>sveinn-1973-07-05 <values> [array([121, 763, 2417, '2008-04-01 20:03:22.950'], dtype=object), array([165, 763, 2417, '2010-04-16 12:34:30.670'], dtype=object), array([195, 763, 2417, '2012-01-31 22:57:13.827'], dtype=object), array([199, 763, 2417, '2012-03-12 20:55:18.280'], dtype=object), array([212, 763, 2417, '2012-01-11 20:49:34.560'], dtype=object), array([230, 763, 2417, '2013-03-26 19:06:48.367'], dtype=object), array([249, 763, 2417, '2014-03-17 23:15:32.460'], dtype=object)]
<key>sveinn-1966-07-10 <values> [array([15, 360, 1044, '2002-04-07 20:53:31.403'], dtype=object), array([36, 360, 1044, '2003-04-07 14:11:35.920'], dtype=object), array([54, 360, 1044, '2004-03-31 22:05:51.483'], dtype=object), array([67, 360, 1044, '2004-11-02 22:22:36.410'], dtype=object), array([68, 360, 1044, '2005-03-31 23:03:01.263'], dtype=object), array([70, 360, 1044, '2005-02-27 17:41:23.900'], dtype=object), array([73, 360, 1044, '2005-02-16 21:43:41.853'], dtype=object), array([75, 360, 1044, '2005-03-16 20:11:06.180'], dtype=object), array([100, 360, 1044, '2006-11-02 18:08:35.780'], dtype=object), array([101, 360, 1044, '2007-02-03 17:20:28.840'], dtype=object), array([105, 360, 1044, '2007-03-14 19:49:37.920'], dtype=object), array([121, 360, 1044, '2008-03-14 20:14:49.483'], dtype=object), array([124, 360, 1044, '2008-04-01 22:05:12.000'], dtype=object), array([138, 3612, 1044, '2009-04-11 01:55:46.763'], dtype=object), array([165, 4440, 1044, '2010-04-11 16:41:47.140'], dtype=object), array([189, 4440, 1044, '2011-03-12 16:28:13.047'], dtype=object), array([199, 1176, 1044, '2012-04-11 13:11:34.920'], dtype=object), array([221, 1176, 1044, '2013-03-31 11:06:01.520'], dtype=object), array([230, 1176, 1044, '2013-03-26 00:13:53.190'], dtype=object)]
<key>sveinn-1966-07-10 <values> [array([109, 360, 2222, '2007-04-01 17:27:57.860'], dtype=object), array([249, 1176, 2222, '2014-04-01 19:15:30.970'], dtype=object)]
<key>svetlana-1967-05-16 <values> [array([54, 1044, 1447, '2004-04-05 20:59:13.310'], dtype=object)]
<key>svetlana-1967-05-16 <values> [array([68, 125, 1854, '2005-04-14 16:48:20.420'], dtype=object), array([79, 1749, 1854, '2005-09-09 10:21:37.623'], dtype=object), array([91, 125, 1854, '2006-04-12 23:26:27.840'], dtype=object), array([92, 1034, 1854, '2006-02-20 14:57:17.890'], dtype=object), array([109, 495, 1854, '2007-04-10 10:58:06.530'], dtype=object), array([110, 125, 1854, '2007-04-12 15:35:27.170'], dtype=object), array([158, 3611, 1854, '2010-01-28 23:55:24.607'], dtype=object), array([199, 125, 1854, '2012-04-07 19:08:55.920'], dtype=object), array([230, 125, 1854, '2013-03-19 09:23:28.113'], dtype=object), array([232, 4155, 1854, '2014-02-14 11:04:24.330'], dtype=object), array([236, 125, 1854, '2013-09-10 13:28:56.870'], dtype=object), array([249, 135, 1854, '2014-04-02 12:07:26.950'], dtype=object)]
<key>saerun-1997-11-25 <values> [array([169, 4401, 3013, '2010-02-25 21:54:36.077'], dtype=object)]
<key>saerun-1997-11-25 <values> [array([169, 4401, 3014, '2010-02-25 21:54:38.937'], dtype=object)]
<key>tania-1980-12-04 <values> [array([199, 4256, 3661, '2012-03-13 09:18:34.543'], dtype=object), array([230, 3606, 3661, '2013-03-18 12:28:03.317'], dtype=object)]
<key>tania-1980-12-04 <values> [array([249, 3606, 4478, '2014-03-31 08:43:32.003'], dtype=object)]
<key>thelma-1971-09-21 <values> [array([2, 350, 837, '2001-04-15 15:14:47.500'], dtype=object), array([34, 1088, 837, '2003-04-21 18:53:17.590'], dtype=object), array([44, 153, 837, '2003-11-24 21:49:37.450'], dtype=object), array([54, 153, 837, '2004-03-30 22:28:05.123'], dtype=object), array([71, 1087, 837, '2005-01-04 20:28:16.230'], dtype=object), array([91, 1688, 837, '2006-04-03 11:51:07.810'], dtype=object), array([109, 1688, 837, '2007-03-28 15:09:55.827'], dtype=object), array([121, 1688, 837, '2008-04-11 08:50:45.233'], dtype=object), array([157, 4167, 837, '2009-11-23 14:03:32.903'], dtype=object), array([161, 350, 837, '2010-01-07 17:51:36.200'], dtype=object), array([189, 153, 837, '2011-04-04 21:57:43.543'], dtype=object), array([199, 350, 837, '2012-04-20 11:57:36.927'], dtype=object), array([230, 350, 837, '2013-03-21 11:49:13.647'], dtype=object), array([249, 1088, 837, '2014-04-26 20:53:38.137'], dtype=object)]
<key>thelma-1971-09-21 <values> [array([138, 1087, 1327, '2009-04-03 16:54:19.043'], dtype=object), array([165, 1087, 1327, '2010-04-14 09:30:10.090'], dtype=object)]

In [ ]:
#dict(duplicated_fdagur_kyn_einstaklingar)

# all duplicates
#duplicate_dict

# all duplicates for lúðvík
#duplicate_dict["ludvik"]

#duplicate_dict["ludvik"]['1969-03-31'][0]
#duplicate_dict["ludvik"]['1969-03-31'][1]

#duplicate_dict
#dict_removed_single_entries

In [ ]:
reverted_back_to_dict = dict(duplicate_dict)
#reverted_back_to_dict

In [ ]:
file_path = "json/einstaklingar_map.txt" ## your path variable
#duplicate_dict_json = json.dump(duplicate_dict, codecs.open(file_path, 'w', encoding='utf-8'), separators=(';', ':'), sort_keys=True, indent=4) ### this saves the array in .json format
#json_obj = json.dumps(duplicate_dict, indent = 4)
#dumped = json.dumps(duplicate_dict, cls=NumpyEncoder)
#dumped
#pd.DataFrame(reverted_back_to_dict).to_csv(file_path, encoding='utf-8-sig')
#duplicate_dict_json = json.dump(reverted_back_to_dict, codecs.open(file_path, 'w', encoding='utf-8-sig'))

#json = json.dumps(reverted_back_to_dict)
#f = open(file_path,"w")
#f.write(str(reverted_back_to_dict))
#f.close()

=====================================================================================
=

In [ ]:
#FINAL STEP (run after everything is done):

#duplicated people put into it's own csv to be browsed later
pd.DataFrame(duplicated_einstaklingar).to_csv("csv/new/duplicated-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(duplicate_dict).to_csv("json/duplicate-map.json", encoding='utf-8-sig')


#save as new csv inside csv/new
pd.DataFrame(domarar).to_csv("csv/new/blak-domarar.csv", encoding='utf-8-sig')
pd.DataFrame(einstaklingar).to_csv("csv/new/blak-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(forsvarsmenn).to_csv("csv/new/blak-forsvarsmenn.csv.csv", encoding='utf-8-sig')
pd.DataFrame(lid).to_csv("csv/new/blak-lid.csv", encoding='utf-8-sig')
pd.DataFrame(lidimoti).to_csv("csv/new/blak-lidimoti.csv", encoding='utf-8-sig')
pd.DataFrame(lidsmenn).to_csv("csv/new/blak-lidsmenn.csv", encoding='utf-8-sig')
pd.DataFrame(lidsstjorar).to_csv("csv/new/blak-lidsstjorar.csv", encoding='utf-8-sig')
pd.DataFrame(mot).to_csv("csv/new/blak-mot.csv", encoding='utf-8-sig')
pd.DataFrame(thjalfarar).to_csv("csv/new/blak-thjalfarar.csv", encoding='utf-8-sig')