In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

In [148]:
# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

In [175]:
#print(help(einstaklingar))
#print(domarar)
#print(einstaklingar)
#print(forsvarsmenn)
print(lid.columns)
#print(lidimoti)
#print(lidsmenn)
#print(lidsstjorar)
#print(mot)
#print(thjalfarar)

Index(['LidID', 'Nafn', 'Radnumer', 'LidaTegundID', 'Timastimpill'], dtype='object')

In [176]:
#print(domarar.describe())
#print(einstaklingar.describe())
#print(forsvarsmenn.describe())
#print(lid.describe())
#print(lidimoti.describe())
#print(lidsmenn.describe())
#print(lidsstjorar.describe())
#print(mot.describe())
#print(thjalfarar.describe())

In [151]:
#domarar.dtypes
einstaklingar.dtypes
#forsvarsmenn.dtypes
#lid.dtypes
#lidimoti.dtypes
#lidsmenn.dtypes
#lidsstjorar.dtypes
#mot.dtypes
#thjalfarar.dtypes

EinstID            int64
Nafn              object
Fdagur            object
Kyn               object
FelagISI          object
Netfang           object
Heimilisfang1    float64
Heimilisfang2    float64
Heimilisfang3    float64
Simi1             object
Simi2             object
Simi3             object
Timastimpill      object
Haed             float64
dtype: object

In [152]:
#make it easier to copy data
#domarar
#einstaklingar
#forsvarsmenn
#lidimoti
#lidsmenn
#lidsstjorar
#mot
#thjalfarar

#lid_nafn_valuecount = lid['Nafn'].value_counts()
#print(lid_nafn_valuecount)
#lid_nafn_valuecount[lid_nafn_valuecount < 2]
#lid['LidID'].value_counts() 

#lid_nafn_valuecount2 = lid['Nafn'].value_counts()
#lid_nafn_valuecount2

In [173]:
# All duplicated birthdays
pd.concat(g for _, g in einstaklingar.groupby("Fdagur") if len(g) > 1)

,EinstID,Nafn,Fdagur,Kyn,FelagISI,Netfang,Heimilisfang1,Heimilisfang2,Heimilisfang3,Simi1,Simi2,Simi3,Timastimpill,Haed
814,651,Einar Dómari,1900-01-01 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-05 16:00:53.490,NaN
2266,650,Jason Dómari,1900-01-01 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-05 16:01:13.270,NaN
3731,58,Sigurður H Sigurðss,1927-03-04 00:00:00.000,kk,NaN,sighsig@li.is,NaN,NaN,NaN,NaN,4623345,NaN,2000-04-29 21:11:31.720,NaN
3732,1156,Sigurður H Sigurðsson,1927-03-04 00:00:00.000,kk,Óðinn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-04-29 08:06:58.640,NaN
2281,1440,JGSoJGT,1930-01-01 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-10-20 10:32:15.043,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,4297,Enginn,2013-10-30 00:00:00.000,kk,Blí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-10-30 08:09:39.500,NaN
954,4298,Enginn,2013-10-30 00:00:00.000,kk,Blí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-10-30 08:12:30.333,NaN
3142,2973,Nei,2013-10-30 00:00:00.000,kk,BlÍ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-02-25 14:43:48.000,0.0
4263,702,Vigfús Örn Gíslason,4889-09-16 00:00:00.000,kk,NaN,viffi@vortex.is,NaN,NaN,NaN,8626022,NaN,NaN,2001-04-05 00:01:52.443,NaN
4264,703,Vigfús Örn Gíslason,4889-09-16 00:00:00.000,kk,NaN,viffi@vortex.is,NaN,NaN,NaN,8626022,NaN,NaN,2001-04-05 00:10:18.643,NaN

In [153]:
#make it easier to copy data
#domarar
#einstaklingar
#forsvarsmenn
#lid
#lidimoti
#lidsmenn
#lidsstjorar
#mot
#thjalfarar

In [154]:
#FINAL STEP (run after everything is done):
#save as new csv inside csv/new
pd.DataFrame(domarar).to_csv("csv/new/blak-domarar.csv")
pd.DataFrame(einstaklingar).to_csv("csv/new/blak-einstaklingar.csv")
pd.DataFrame(forsvarsmenn).to_csv("csv/new/blak-forsvarsmenn.csv.csv")
pd.DataFrame(lid).to_csv("csv/new/blak-lid.csv")
pd.DataFrame(lidimoti).to_csv("csv/new/blak-lidimoti.csv")
pd.DataFrame(lidsmenn).to_csv("csv/new/blak-lidsmenn.csv")
pd.DataFrame(lidsstjorar).to_csv("csv/new/blak-lidsstjorar.csv")
pd.DataFrame(mot).to_csv("csv/new/blak-mot.csv")
pd.DataFrame(thjalfarar).to_csv("csv/new/blak-thjalfarar.csv")