In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict
import codecs, json
import unicodedata
# pip install Unidecode  <OR> conda install Unidecode
import unidecode

In [15]:
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

In [18]:
# All duplicated birthdays
duplicated_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Nafn', 'Fdagur', 'Kyn'], keep=False)]
duplicated_fdagur_kyn_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Fdagur', 'Kyn'], keep=False)]
#print(duplicated_fdagur_kyn_einstaklingar)

In [30]:
duplicate_dict = defaultdict(dict)

for index, row in duplicated_fdagur_kyn_einstaklingar.iterrows():
    full_name = row['Nafn']
    first_name = full_name.split()[0]
    first_name_lowercase = first_name.lower()
    first_name_to_english = unidecode.unidecode(first_name_lowercase)
    Fdagur_date = row['Fdagur'].split()[0]
    
    if first_name_to_english in duplicate_dict.keys():
        if Fdagur_date in duplicate_dict[first_name_to_english].keys():
            duplicate_dict[first_name_to_english][Fdagur_date].append(row.values)
        else:
            duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]
    else:
        #if Fdagur does not exist ->
        duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]

In [31]:
#dict(duplicated_fdagur_kyn_einstaklingar)

# all duplicates
#duplicate_dict

# all duplicates for lúðvík
duplicate_dict["ludvik"]

{'1969-03-31': [array([641, 'Lúðvik Kristinsson', '1969-03-31 00:00:00.000', 'kk ',
         'Völsungur', nan, nan, nan, nan, nan, nan, nan,
         '2000-04-04 08:24:44.110', 0.0], dtype=object),
  array([866, 'Lúðvík Kristinsson', '1969-03-31 00:00:00.000', 'kk ', nan,
         nan, nan, nan, nan, nan, nan, nan, '2001-04-17 12:12:41.047', nan],
        dtype=object),
  array([2299, 'Lúðvík Kristinsson', '1969-03-31 00:00:00.000', 'kk ', nan,
         nan, nan, nan, nan, nan, nan, nan, '2007-04-26 11:38:05.860', nan],
        dtype=object)],
 '1996-09-02': [array([4160, 'Lúðvík', '1996-09-02 00:00:00.000', 'kk ', nan, nan, nan,
         nan, nan, nan, nan, nan, '2013-04-28 10:50:35.960', 0.0],
        dtype=object),
  array([4167, 'Lúðvík Már Matthíasson', '1996-09-02 00:00:00.000', 'kk ',
         'HK', nan, nan, nan, nan, nan, nan, nan, '2013-09-03 21:00:29.950',
         0.0], dtype=object)]}

In [35]:
#duplicate_dict["ludvik"]['1969-03-31'][0]
#duplicate_dict["ludvik"]['1969-03-31'][1]

array([866, 'Lúðvík Kristinsson', '1969-03-31 00:00:00.000', 'kk ', nan,
       nan, nan, nan, nan, nan, nan, nan, '2001-04-17 12:12:41.047', nan],
      dtype=object)

In [36]:
lidsmenn

       MotID  LidID  EinstID             Timastimpill
0          1     18       24  2000-04-01 10:42:30.767
1          1     18      104  2000-04-01 08:59:30.420
2          1     18      272  2000-04-01 10:40:44.913
3          1     18      452  2000-04-01 09:01:19.177
4          1     18      483  2000-04-30 10:04:24.983
...      ...    ...      ...                      ...
25847    250   6012     3908  2014-08-13 10:52:36.627
25848    250   6012     3909  2014-08-13 10:52:36.627
25849    250   6012     3910  2014-08-13 10:52:36.627
25850    250   6012     3911  2014-08-13 10:52:36.627
25851    250   6012     3912  2014-08-13 10:52:36.627

[25852 rows x 4 columns]

In [59]:
duplicate_dict["ludvik"]['1969-03-31'][0][0]
#for index, row in lidsmenn.iterrows():
 #   print(row["EinstID"])
duplicated_fdagur_kyn_einstaklingar["EinstID"]

6       2930
8         60
13      1400
14      1348
17      1964
        ...
4485    1413
4490    1840
4491    1841
4492    2854
4493    3842
Name: EinstID, Length: 1821, dtype: int64

In [63]:
dict_duplicate_compare_team_members = defaultdict(dict)

for index, row in lidsmenn.iterrows():
    ids = row["EinstID"]
    if ids in duplicated_fdagur_kyn_einstaklingar["EinstID"]:
        # now we only view ids that exist for duplicated people
        if ids in dict_duplicate_compare_team_members.keys():
            dict_duplicate_compare_team_members[ids].append(row.values)
        else:
            dict_duplicate_compare_team_members[ids] = [row.values]

In [64]:
dict_duplicate_compare_team_members

defaultdict(dict,
            {272: [array([1, 18, 272, '2000-04-01 10:40:44.913'], dtype=object),
              array([2, 18, 272, '2001-04-06 10:31:00.870'], dtype=object),
              array([8, 18, 272, '2001-12-28 16:16:45.827'], dtype=object),
              array([15, 18, 272, '2002-05-01 21:25:46.827'], dtype=object),
              array([54, 762, 272, '2004-03-31 20:25:43.327'], dtype=object),
              array([68, 18, 272, '2005-03-30 11:34:24.217'], dtype=object),
              array([91, 18, 272, '2006-03-30 17:00:00.607'], dtype=object),
              array([105, 762, 272, '2007-03-21 12:53:11.857'], dtype=object),
              array([109, 18, 272, '2007-04-04 16:00:34.763'], dtype=object),
              array([121, 18, 272, '2008-03-11 11:35:22.920'], dtype=object),
              array([138, 762, 272, '2009-03-11 14:25:04.983'], dtype=object),
              array([165, 762, 272, '2010-04-15 14:10:48.153'], dtype=object),
              array([189, 762, 272, '2011-02-19 14:15:43.543'], dtype=object),
              array([199, 18, 272, '2012-02-26 16:41:33.063'], dtype=object)],
             381: [array([1, 19, 381, '2000-03-30 12:29:15.140'], dtype=object),
              array([15, 166, 381, '2002-04-18 08:21:16.450'], dtype=object),
              array([34, 166, 381, '2003-03-31 08:59:53.200'], dtype=object),
              array([111, 3007, 381, '2007-07-04 21:11:11.623'], dtype=object),
              array([121, 19, 381, '2008-03-27 11:46:20.950'], dtype=object),
              array([138, 19, 381, '2009-03-24 18:13:32.560'], dtype=object),
              array([161, 19, 381, '2010-01-07 01:40:51.043'], dtype=object),
              array([165, 584, 381, '2010-05-09 02:00:19.043'], dtype=object),
              array([181, 1459, 381, '2011-02-24 13:44:20.937'], dtype=object),
              array([188, 1459, 381, '2011-03-29 22:36:49.607'], dtype=object),
              array([189, 19, 381, '2011-04-04 23:53:20.340'], dtype=object),
              array([193, 584, 381, '2011-11-22 11:30:07.360'], dtype=object),
              array([198, 1459, 381, '2012-01-19 13:43:04.237'], dtype=object),
              array([199, 19, 381, '2012-04-19 21:42:53.817'], dtype=object),
              array([203, 19, 381, '2012-01-02 22:12:19.710'], dtype=object),
              array([208, 1459, 381, '2012-02-22 12:53:41.563'], dtype=object),
              array([226, 1459, 381, '2013-01-22 09:25:36.147'], dtype=object),
              array([230, 19, 381, '2013-04-12 23:21:08.010'], dtype=object),
              array([249, 584, 381, '2014-04-17 22:52:28.677'], dtype=object)],
             243: [array([1, 20, 243, '2000-04-03 16:57:15.813'], dtype=object),
              array([2, 20, 243, '2001-04-11 14:00:23.700'], dtype=object),
              array([3, 20, 243, '2001-04-09 10:44:30.733'], dtype=object),
              array([11, 20, 243, '2002-03-01 09:13:06.403'], dtype=object),
              array([14, 586, 243, '2002-04-15 22:23:59.310'], dtype=object),
              array([15, 586, 243, '2002-04-11 00:33:15.357'], dtype=object),
              array([33, 586, 243, '2003-03-03 22:53:26.107'], dtype=object),
              array([54, 768, 243, '2004-04-19 09:49:56.497'], dtype=object),
              array([63, 20, 243, '2004-11-17 18:39:25.853'], dtype=object),
              array([68, 2221, 243, '2005-04-19 21:38:23.123'], dtype=object),
              array([70, 1580, 243, '2005-03-02 16:32:03.887'], dtype=object),
              array([78, 2221, 243, '2005-03-29 10:40:30.153'], dtype=object),
              array([91, 1047, 243, '2006-04-27 13:43:41.390'], dtype=object),
              array([121, 2069, 243, '2008-04-01 16:52:19.187'], dtype=object),
              array([138, 1047, 243, '2009-04-22 11:01:03.153'], dtype=object),
              array([165, 2069, 243, '2010-05-06 15:49:41.937'], dtype=object),
              array([189, 2069, 243, '2011-04-07 09:41:26.403'], dtype=object),
              array([199, 768, 243, '2012-03-27 23:16:38.543'], dtype=object),
              array([230, 2069, 243, '2013-03-19 13:29:32.983'], dtype=object),
              array([246, 1047, 243, '2014-01-06 13:11:38.943'], dtype=object),
              array([249, 2069, 243, '2014-03-24 22:25:23.920'], dtype=object)],
             573: [array([1, 20, 573, '2000-04-03 17:00:04.837'], dtype=object),
              array([2, 20, 573, '2001-04-11 14:00:23.700'], dtype=object),
              array([3, 20, 573, '2001-04-09 10:44:30.733'], dtype=object),
              array([11, 20, 573, '2002-03-01 09:13:06.403'], dtype=object),
              array([15, 586, 573, '2002-04-11 00:31:56.607'], dtype=object),
              array([33, 586, 573, '2003-03-03 22:53:26.107'], dtype=object),
              array([58, 1580, 573, '2004-03-11 20:12:44.497'], dtype=object),
              array([121, 2069, 573, '2008-04-01 16:54:21.077'], dtype=object),
              array([138, 768, 573, '2009-04-22 11:05:52.090'], dtype=object),
              array([165, 2069, 573, '2010-05-06 15:49:22.687'], dtype=object)],
             616: [array([1, 20, 616, '2000-04-03 17:00:54.407'], dtype=object),
              array([2, 20, 616, '2001-04-11 14:00:23.700'], dtype=object),
              array([3, 20, 616, '2001-04-09 10:44:30.733'], dtype=object),
              array([11, 20, 616, '2002-03-01 09:13:06.403'], dtype=object),
              array([15, 586, 616, '2002-04-11 00:34:18.890'], dtype=object),
              array([33, 586, 616, '2003-03-03 22:53:26.107'], dtype=object),
              array([34, 20, 616, '2003-03-20 10:53:08.530'], dtype=object),
              array([58, 1580, 616, '2004-03-11 20:18:30.403'], dtype=object),
              array([91, 1047, 616, '2006-04-27 13:45:23.357'], dtype=object),
              array([109, 1047, 616, '2007-03-21 13:05:57.547'], dtype=object),
              array([121, 1047, 616, '2008-04-01 16:59:56.390'], dtype=object),
              array([165, 1047, 616, '2010-05-06 15:53:30.890'], dtype=object)],
             624: [array([1, 20, 624, '2000-04-03 16:56:05.760'], dtype=object),
              array([2, 20, 624, '2001-04-11 14:00:23.700'], dtype=object),
              array([3, 20, 624, '2001-04-09 10:44:30.733'], dtype=object),
              array([11, 20, 624, '2002-03-01 09:13:06.403'], dtype=object),
              array([14, 586, 624, '2002-04-15 22:24:49.840'], dtype=object),
              array([15, 586, 624, '2002-04-11 00:37:45.827'], dtype=object),
              array([33, 586, 624, '2003-03-03 22:53:26.107'], dtype=object),
              array([58, 1580, 624, '2004-03-11 20:19:26.797'], dtype=object),
              array([91, 1047, 624, '2006-04-27 13:43:56.687'], dtype=object),
              array([109, 1047, 624, '2007-03-21 13:06:42.437'], dtype=object),
              array([121, 1047, 624, '2008-04-01 17:02:01.217'], dtype=object),
              array([138, 1047, 624, '2009-04-22 11:00:36.043'], dtype=object),
              array([165, 1047, 624, '2010-05-06 15:53:12.590'], dtype=object),
              array([189, 2069, 624, '2011-04-07 09:44:43.983'], dtype=object),
              array([246, 1047, 624, '2014-01-06 13:11:38.943'], dtype=object)],
             149: [array([1, 22, 149, '2000-04-29 23:13:49.467'], dtype=object),
              array([53, 22, 149, '2004-03-02 21:22:33.687'], dtype=object),
              array([67, 22, 149, '2004-10-27 20:49:29.620'], dtype=object)],
             637: [array([1, 22, 637, '2000-04-29 23:10:49.170'], dtype=object),
              array([2, 143, 637, '2001-04-19 10:14:18.263'], dtype=object),
              array([11, 114, 637, '2002-03-01 20:17:02.903'], dtype=object),
              array([14, 142, 637, '2002-04-19 09:38:17.937'], dtype=object),
              array([15, 143, 637, '2002-04-18 08:36:51.170'], dtype=object),
              array([24, 22, 637, '2002-11-05 23:00:13.577'], dtype=object),
              array([33, 22, 637, '2003-03-02 16:46:37.170'], dtype=object),
              array([38, 22, 637, '2003-03-02 23:24:47.903'], dtype=object),
              array([53, 22, 637, '2004-03-02 21:23:48.890'], dtype=object),
              array([67, 22, 637, '2004-10-27 20:49:48.857'], dtype=object),
              array([68, 22, 637, '2005-04-19 10:28:04.310'], dtype=object),
              array([85, 22, 637, '2005-11-01 22:41:24.653'], dtype=object),
              array([91, 22, 637, '2006-04-03 22:14:08.403'], dtype=object),
              array([121, 18, 637, '2008-03-27 15:14:07.547'], dtype=object),
              array([138, 762, 637, '2009-03-11 14:27:29.903'], dtype=object),
              array([189, 762, 637, '2011-04-19 17:16:47.013'], dtype=object)],
             143: [array([1, 23, 143, '2000-05-06 11:16:42.590'], dtype=object),
              array([2, 23, 143, '2001-04-14 14:24:09.610'], dtype=object),
              array([15, 23, 143, '2002-03-29 21:47:48.140'], dtype=object),
              array([34, 1209, 143, '2003-04-16 13:22:26.043'], dtype=object),
              array([39, 23, 143, '2003-02-07 17:32:15.950'], dtype=object)],
             42: [array([1, 26, 42, '2000-04-30 20:36:49.357'], dtype=object),
              array([15, 114, 42, '2002-04-29 21:15:31.513'], dtype=object),
              array([33, 765, 42, '2003-03-02 16:59:24.140'], dtype=object),
              array([38, 765, 42, '2003-03-02 23:27:32.700'], dtype=object),
              array([54, 114, 42, '2004-04-21 11:27:34.623'], dtype=object),
              array([67, 26, 42, '2004-11-04 08:32:09.047'], dtype=object),
              array([83, 2072, 42, '2005-10-21 21:16:44.640'], dtype=object),
              array([87, 2072, 42, '2006-01-27 13:57:16.373'], dtype=object),
              array([91, 2072, 42, '2006-04-24 10:07:35.437'], dtype=object),
              array([104, 2072, 42, '2007-01-25 09:27:53.107'], dtype=object),
              array([109, 765, 42, '2007-03-28 15:46:30.733'], dtype=object),
              array([121, 765, 42, '2008-04-24 22:59:55.420'], dtype=object)],
             257: [array([1, 26, 257, '2000-04-30 20:38:46.853'], dtype=object),
              array([2, 26, 257, '2001-04-17 10:50:48.940'], dtype=object),
              array([15, 26, 257, '2002-04-29 21:13:08.187'], dtype=object),
              array([33, 765, 257, '2003-03-02 16:59:12.640'], dtype=object),
              array([38, 765, 257, '2003-03-02 23:27:32.700'], dtype=object),
              array([132, 2691, 257, '2008-11-07 09:40:27.937'], dtype=object)],
             304: [array([1, 26, 304, '2000-04-30 20:40:47.017'], dtype=object),
              array([15, 114, 304, '2002-04-29 21:15:19.030'], dtype=object),
              array([33, 765, 304, '2003-03-02 16:59:36.140'], dtype=object),
              array([38, 765, 304, '2003-03-02 23:27:32.700'], dtype=object),
              array([65, 1579, 304, '2004-10-20 22:49:29.327'], dtype=object),
              array([83, 2072, 304, '2005-10-21 21:15:29.013'], dtype=object),
              array([87, 2072, 304, '2006-01-27 13:56:34.733'], dtype=object),
              array([91, 2072, 304, '2006-04-24 10:04:58.467'], dtype=object),
              array([104, 2072, 304, '2007-01-25 09:27:40.543'], dtype=object),
              array([106, 26, 304, '2007-02-28 11:16:00.123'], dtype=object),
              array([109, 765, 304, '2007-03-28 15:46:07.920'], dtype=object),
              array([121, 765, 304, '2008-04-24 23:01:21.090'], dtype=object),
              array([139, 26, 304, '2009-03-05 15:11:13.233'], dtype=object),
              array([159, 26, 304, '2009-11-03 18:49:56.513'], dtype=object),
              array([189, 765, 304, '2011-03-28 14:40:21.297'], dtype=object),
              array([230, 765, 304, '2013-03-27 09:20:12.147'], dtype=object),
              array([249, 765, 304, '2014-03-21 09:24:54.893'], dtype=object)],
             392: [array([1, 27, 392, '2000-04-30 16:06:55.150'], dtype=object),
              array([2, 27, 392, '2001-04-06 11:14:39.230'], dtype=object),
              array([6, 72, 392, '2001-12-11 19:04:40.310'], dtype=object),
              array([8, 27, 392, '2002-01-01 12:39:48.590'], dtype=object),
              array([11, 27, 392, '2002-03-03 17:51:10.123'], dtype=object),
              array([29, 1176, 392, '2003-01-02 18:04:15.440'], dtype=object),
              array([31, 1176, 392, '2003-04-02 15:31:37.857'], dtype=object),
              array([68, 1014, 392, '2005-03-27 23:40:07.873'], dtype=object),
              array([78, 1019, 392, '2005-03-30 19:03:41.233'], dtype=object),
              array([84, 27, 392, '2005-10-01 22:26:16.200'], dtype=object),
              array([91, 1014, 392, '2006-04-03 23:23:11.293'], dtype=object),
              array([98, 1014, 392, '2006-10-19 19:56:03.437'], dtype=object),
              array([102, 1014, 392, '2007-01-10 00:22:43.577'], dtype=object),
              array([106, 1014, 392, '2007-02-28 10:36:24.857'], dtype=object),
              array([109, 1014, 392, '2007-04-02 23:21:22.640'], dtype=object),
              array([119, 1019, 392, '2008-01-08 23:51:06.560'], dtype=object),
              array([121, 1014, 392, '2008-03-11 00:24:34.560'], dtype=object),
              array([129, 1019, 392, '2008-11-20 14:24:02.093'], dtype=object),
              array([135, 1019, 392, '2009-02-19 01:35:26.030'], dtype=object),
              array([199, 27, 392, '2012-03-13 21:09:17.720'], dtype=object),
              array([201, 1014, 392, '2012-04-11 23:37:35.953'], dtype=object),
              array([214, 3005, 392, '2012-06-07 20:17:44.893'], dtype=object),
              array([249, 1015, 392, '2014-03-12 21:11:38.413'], dtype=object)],
             395: [array([1, 27, 395, '2000-04-30 16:03:34.910'], dtype=object),
              array([2, 27, 395, '2001-04-26 10:49:46.050'], dtype=object),
              array([7, 27, 395, '2001-12-11 19:13:30.513'], dtype=object),
              array([8, 27, 395, '2002-01-01 12:39:48.590'], dtype=object),
              array([11, 27, 395, '2002-03-03 17:51:10.123'], dtype=object),
              array([15, 27, 395, '2002-03-27 11:42:22.357'], dtype=object),
              array([23, 1022, 395, '2002-10-01 09:30:55.623'], dtype=object),
              array([25, 1022, 395, '2002-10-15 09:40:40.013'], dtype=object),
              array([46, 1022, 395, '2003-10-09 14:18:21.403'], dtype=object),
              array([48, 27, 395, '2003-12-30 08:30:13.437'], dtype=object),
              array([59, 1022, 395, '2004-08-18 14:13:38.187'], dtype=object),
              array([61, 1742, 395, '2004-08-21 21:06:50.123'], dtype=object),
              array([64, 1022, 395, '2004-09-30 17:43:17.717'], dtype=object),
              array([91, 1954, 395, '2006-02-17 00:22:14.950'], dtype=object),
              array([102, 1954, 395, '2007-01-05 13:26:47.200'], dtype=object),
              array([109, 1954, 395, '2007-02-27 17:42:58.780'], dtype=object),
              array([112, 1022, 395, '2007-09-22 17:11:04.903'], dtype=object),
              array([121, 3262, 395, '2008-02-18 12:22:38.763'], dtype=object),
              array([165, 3297, 395, '2010-04-15 11:35:43.390'], dtype=object),
              array([189, 3297, 395, '2011-03-28 10:44:30.937'], dtype=object),
              array([199, 3297, 395, '2012-02-23 17:19:05.500'], dtype=object),
              array([230, 3297, 395, '2013-02-13 19:03:36.330'], dtype=object)],
             448: [array([1, 27, 448, '2000-04-30 17:55:57.877'], dtype=object),
              array([2, 27, 448, '2001-04-26 14:26:22.710'], dtype=object),
              array([8, 27, 448, '2002-01-01 12:39:48.590'], dtype=object),
              array([15, 27, 448, '2002-04-29 16:01:17.980'], dtype=object),
              array([48, 27, 448, '2003-12-30 08:30:13.437'], dtype=object)],
             621: [array([1, 27, 621, '2000-04-30 15:55:40.370'], dtype=object),
              array([2, 27, 621, '2001-04-06 11:14:39.230'], dtype=object),
              array([7, 27, 621, '2001-12-11 19:13:12.903'], dtype=object),
              array([8, 27, 621, '2002-01-01 12:39:48.590'], dtype=object),
              array([11, 27, 621, '2002-03-03 17:51:10.123'], dtype=object),
              array([15, 27, 621, '2002-03-27 11:43:28.013'], dtype=object),
              array([34, 1014, 621, '2003-04-25 14:39:26.310'], dtype=object),
              array([48, 27, 621, '2003-12-30 08:30:13.437'], dtype=object),
              array([54, 27, 621, '2004-03-21 15:15:34.810'], dtype=object),
              array([61, 1742, 621, '2004-08-21 21:07:08.153'], dtype=object),
              array([64, 1022, 621, '2004-10-04 22:42:40.340'], dtype=object),
              array([65, 27, 621, '2004-10-22 16:28:11.733'], dtype=object),
              array([68, 1014, 621, '2005-03-27 23:38:14.093'], dtype=object),
              array([78, 1019, 621, '2005-03-30 19:03:07.310'], dtype=object),
              array([83, 1019, 621, '2005-10-19 00:34:22.263'], dtype=object),
              array([88, 27, 621, '2006-03-03 21:30:21.750'], dtype=object),
              array([91, 1014, 621, '2006-03-23 23:50:39.200'], dtype=object),
              array([93, 27, 621, '2006-03-19 15:05:50.280'], dtype=object),
              array([98, 1014, 621, '2006-10-19 19:56:03.437'], dtype=object),
              array([102, 1014, 621, '2007-01-10 00:22:43.577'], dtype=object),
              array([109, 1014, 621, '2007-04-19 22:17:50.420'], dtype=object),
              array([113, 27, 621, '2007-10-11 09:53:31.983'], dtype=object),
              array([114, 27, 621, '2007-11-17 00:38:23.653'], dtype=object),
              array([119, 1019, 621, '2008-01-08 23:49:03.857'], dtype=object),
              array([128, 27, 621, '2008-10-02 00:56:44.623'], dtype=object),
              array([138, 71, 621, '2009-04-26 19:13:39.217'], dtype=object),
              array([150, 1019, 621, '2009-10-21 19:37:19.047'], dtype=object),
              array([165, 71, 621, '2010-04-11 23:04:42.263'], dtype=object),
              array([189, 1019, 621, '2011-02-17 19:41:10.390'], dtype=object),
              array([199, 27, 621, '2012-04-24 08:11:14.863'], dtype=object),
              array([201, 1014, 621, '2012-04-11 23:38:42.953'], dtype=object),
              array([217, 1019, 621, '2013-01-08 23:22:42.743'], dtype=object),
              array([223, 1019, 621, '2012-11-19 13:45:56.403'], dtype=object),
              array([225, 1019, 621, '2013-03-26 18:47:35.960'], dtype=object),
              array([230, 1019, 621, '2013-03-21 00:35:05.230'], dtype=object),
              array([232, 1830, 621, '2013-10-20 10:59:10.607'], dtype=object),
              array([250, 1830, 621, '2014-08-13 10:21:53.100'], dtype=object)],
             133: [array([1, 28, 133, '2000-03-31 16:36:03.150'], dtype=object),
              array([2, 28, 133, '2001-04-11 11:03:12.160'], dtype=object),
              array([15, 85, 133, '2002-04-11 19:46:54.513'], dtype=object),
              array([28, 85, 133, '2003-01-09 08:26:07.290'], dtype=object),
              array([34, 88, 133, '2003-04-03 10:15:24.920'], dtype=object),
              array([39, 85, 133, '2003-02-07 17:35:54.827'], dtype=object),
              array([121, 88, 133, '2008-04-15 12:51:25.623'], dtype=object),
              array([138, 88, 133, '2009-03-03 15:13:50.670'], dtype=object),
              array([189, 2691, 133, '2011-04-07 13:50:50.403'], dtype=object),
              array([195, 2692, 133, '2012-02-01 23:29:25.170'], dtype=object),
              array([199, 2691, 133, '2012-03-27 23:03:56.637'], dtype=object),
              array([248, 2691, 133, '2014-03-18 15:29:09.973'], dtype=object)],
             366: [array([1, 28, 366, '2000-03-31 16:33:12.787'], dtype=object),
              array([2, 85, 366, '2001-04-19 00:08:52.563'], dtype=object),
              array([34, 70, 366, '2003-04-03 10:21:55.467'], dtype=object),
              array([54, 70, 366, '2004-03-30 10:01:42.873'], dtype=object),
              array([68, 70, 366, '2005-04-04 11:26:40.200'], dtype=object),

In [95]:
for key, value in duplicate_dict.items():
    temp_dict = dict(value)
    for dict_key, dict_value in temp_dict.items():
        print("xxxxxxxxxxxxx")
        dict_len = len(dict_value)
        if(dict_len > 1):
            print(dict_value)

xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1964, 'Aðalsteinn Eymundsson', '1981-03-03 00:00:00.000', 'kk ',
       nan, nan, nan, nan, nan, '8212554', nan, nan,
       '2006-01-09 20:31:04.420', nan], dtype=object), array([1437, 'Aðalsteinn Eymundsson', '1981-03-03 00:00:00.000', 'kk ',
       'HK', 'adalste@hi.is', nan, nan, nan, '6182554', nan, nan,
       '2003-10-11 19:12:00.827', 0.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2949, 'aldís anna höskuldsdóttir', '1996-06-22 00:00:00.000',
       'kvk', 'K.A.', 'aldis_anna@hotmail.com', nan, nan, nan, '8681980',
       '4611143', nan, '2010-02-25 13:52:40.360', 169.0], dtype=object), array([2950, 'aldís anna höskuldsdóttir', '1996-06-22 00:00:00.000',
       'kvk', 'K.A.', 'aldis_anna@hotmail.com', nan, nan, nan, '8681980',
       '4611143', nan, '2010-02-25 13:52:42.780', 169.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1578, 'Alexander Stefánsson', '1990-12-05 00:00:00.000', 'kk ',
       'HK', 'alexanderstef@gmail.com', nan, nan, nan, '8464158',
       '4626693', nan, '2004-08-20 23:05:27.997', nan], dtype=object), array([2498, 'Alexander Stefánsson', '1990-12-05 00:00:00.000', 'kk ',
       'HK', nan, nan, nan, nan, '846 4158', nan, nan,
       '2008-08-31 20:01:58.013', 194.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([90, 'Alma Þormóðsdóttir', '1961-03-05 00:00:00.000', 'kvk',
       'Þróttur Neskaupstað', nan, nan, nan, nan, nan, nan, nan,
       '2000-05-01 10:28:04.763', nan], dtype=object), array([1028, 'Alma Þormóðsdóttir', '1961-03-05 00:00:00.000', 'kvk', 'já',
       nan, nan, nan, nan, nan, nan, nan, '2002-03-29 22:01:43.780', nan],
      dtype=object)]
xxxxxxxxxxxxx
[array([3706, 'Alma Þórarinsdóttir', '1964-10-09 00:00:00.000', 'kvk',
       'Sindri', nan, nan, nan, nan, nan, nan, nan,
       '2012-03-23 14:47:54.610', 0.0], dtype=object), array([192, 'Alma Þórisdóttir', '1964-10-09 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, '4781526', nan, '2000-04-04 10:16:11.017',
       nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2065, 'Ana Fernandez Perez', '1972-01-29 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '8980881', '5516181', nan,
       '2006-04-03 23:06:18.890', nan], dtype=object), array([3226, 'Ana Maria Perez', '1972-01-29 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, nan, nan, '2010-10-14 09:50:09.920', 0.0],
      dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2137, 'Andrés Helgi Hallgrímsson', '1967-09-16 00:00:00.000',
       'kk ', 'Fylkir', nan, nan, nan, nan, nan, nan, nan,
       '2007-01-05 11:48:15.107', 0.0], dtype=object), array([2129, 'Andrés Helgi Magnússon', '1967-09-16 00:00:00.000', 'kk ',
       nan, nan, nan, nan, nan, nan, nan, nan, '2007-01-05 09:54:37.043',
       nan], dtype=object)]
xxxxxxxxxxxxx
[array([1629, 'Andri Geir Viðarsson', '1979-04-10 00:00:00.000', 'kk ',
       nan, 'andrigeir@hotmail.com', nan, nan, nan, '8487077', nan, nan,
       '2004-11-15 23:06:15.307', nan], dtype=object), array([3741, 'Andri Geir Viðarsson', '1979-04-10 00:00:00.000', 'kk ',
       'KA', 'andrigeir@hotmail.com', nan, nan, nan, '8487077', '4614101',
       '4623063', '2012-03-28 14:42:17.043', 182.0], dtype=object)]
xxxxxxxxxxxxx
[array([1227, 'Andri Már Sigurðsson', '1989-05-23 00:00:00.000', 'kk ',
       'KA', nan, nan, nan, nan, nan, '462-7879', nan,
       '2002-11-04 13:04:19.983', nan], dtype=object), array([2497, 'Andri Már Sigurðsson', '1989-05-23 00:00:00.000', 'kk ',
       'KA', nan, nan, nan, nan, nan, nan, nan, '2008-08-31 20:01:18.297',
       193.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2420, 'Anna Guðrún Auðunsdóttir', '1970-12-26 00:00:00.000', 'kvk',
       nan, 'anna@tryggingamidstodin.is', nan, nan, nan, '8671946', nan,
       nan, '2008-04-02 15:16:31.513', nan], dtype=object), array([2419, 'Anna Guðrún Auðunsdóttir', '1970-12-26 00:00:00.000', 'kvk',
       'Afturelding', 'anna@heima.is', nan, nan, nan, '8671946', nan, nan,
       '2008-04-02 15:15:40.857', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1769, 'ANNA GUNNARSD', '1972-05-30 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, '8489048', nan, nan, '2005-03-29 17:36:52.577', nan],
      dtype=object), array([1770, 'ANNA gunnarsd', '1972-05-30 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, '8489048', nan, nan, '2005-03-29 17:37:53.933', nan],
      dtype=object), array([1771, 'anna gunnarsd', '1972-05-30 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, '8489048', nan, nan, '2005-03-29 17:38:51.683', nan],
      dtype=object), array([1766, 'Anna h gunnarsd', '1972-05-30 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '8489048', nan, nan, '2005-03-29 13:56:01.373',
       nan], dtype=object), array([1768, 'Anna H Gunnarsdóttir', '1972-05-30 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '8489048', nan, nan,
       '2005-03-29 14:03:03.560', nan], dtype=object), array([1765, 'anna hermina gunnarsd', '1972-05-30 00:00:00.000', 'kvk',
       nan, 'gold@visir.is', nan, nan, nan, '8489048', nan, nan,
       '2005-03-29 13:52:25.593', nan], dtype=object), array([1767, 'anna hermína gunnarsdóttir', '1972-05-30 00:00:00.000',
       'kvk', nan, 'gold@visir.is', nan, nan, nan, '8489048', nan, nan,
       '2005-03-29 14:01:29.200', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([3099, 'Anna Kristjánsdóttir', '1978-05-03 00:00:00.000', 'kvk',
       nan, 'anna@stefnir.com', nan, nan, nan, '8567461', nan, nan,
       '2010-04-15 10:09:34.467', 160.0], dtype=object), array([3225, 'Anna Kristjánsdóttir', '1978-05-03 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, nan, nan, nan, '2010-10-14 09:49:11.560',
       0.0], dtype=object)]
xxxxxxxxxxxxx
[array([1723, 'Anna Lárusdóttir', '1969-10-02 00:00:00.000', 'kvk',
       'Íþróttabandalag Akraness', 'annalar@isl.is', nan, nan, nan, nan,
       '4314320', nan, '2005-03-14 10:07:45.713', nan], dtype=object), array([2157, 'Anna Lárusdóttir', '1969-10-02 00:00:00.000', 'kvk', nan,
       'anna@grundaskoli.is', nan, nan, nan, '8649865', nan, nan,
       '2007-01-24 22:52:16.403', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1469, 'Anna M Jónsdóttir', '1957-02-23 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '8211774', nan, nan, '2004-02-17 21:27:26.153',
       nan], dtype=object), array([715, 'Anna Marie Jónsdóttir', '1957-02-23 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '8211774', '4671774', '4671150',
       '2001-04-06 13:31:56.250', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([716, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'oskar@mtr.is', nan, nan, nan, '6998817', nan, nan,
       '2001-04-06 13:34:07.300', nan], dtype=object), array([712, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2001-04-06 12:40:01.567', nan], dtype=object), array([713, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2001-04-06 12:41:12.203', nan], dtype=object), array([1981, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2006-02-08 11:42:15.390', nan], dtype=object), array([817, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2001-04-14 19:55:05.733', 0.0], dtype=object), array([3220, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2010-10-11 21:00:31.687', nan], dtype=object), array([3356, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'annambj@hotmail.com', nan, nan, nan, '699-8817', nan, nan,
       '2011-03-23 23:36:57.123', nan], dtype=object), array([4376, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'oskar@mtr.is', nan, nan, nan, '6998817', nan, nan,
       '2014-01-26 22:40:46.283', nan], dtype=object), array([4377, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'oskar@mtr.is', nan, nan, nan, '6998817', nan, nan,
       '2014-01-26 22:44:41.217', nan], dtype=object)]
xxxxxxxxxxxxx
[array([1637, 'Anna María Malmquist', '1966-11-11 00:00:00.000', 'kvk',
       nan, 'annamaria@solarplexus.is', nan, nan, nan, '6609883',
       '5578663', '4626888', '2004-11-17 16:34:33.887', nan], dtype=object), array([1814, 'Anna María Malmquist', '1966-11-11 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '660-9883', '557-8663', nan,
       '2005-04-06 08:34:49.873', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2868, 'Anna Soffía Sigurlaugsdóttir', '1981-10-19 00:00:00.000',
       'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
       '2009-07-08 11:31:42.733', 0.0], dtype=object), array([4513, 'Anna Soffía Sigurlaugsdóttir', '1981-10-19 00:00:00.000',
       'kvk', 'HSV', nan, nan, nan, nan, nan, nan, nan,
       '2014-04-15 23:50:33.760', 0.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2071, 'Anna Vilbergsdóttir', '1958-09-06 00:00:00.000', 'kvk',
       'Stjarnan', 'anna.vilbergs@internet.is', nan, nan, nan, '663 5090',
       nan, nan, '2006-04-05 14:22:58.577', nan], dtype=object), array([2903, 'Anna Vilbergsdóttir', '1958-09-06 00:00:00.000', 'kvk', nan,
       'annavilb@vistor.is', nan, nan, nan, '8247184', nan, nan,
       '2010-01-26 12:16:00.903', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([559, 'Anton Bjarnason', '1947-02-27 00:00:00.000', 'kk ', nan,
       'antonb@khi.is', nan, nan, nan, '564 3635', nan, nan,
       '2000-05-03 23:23:14.560', nan], dtype=object), array([1800, 'Anton Bjarnason', '1947-02-27 00:00:00.000', 'kk ', nan,
       'antonb@khi.is', nan, nan, nan, '564 3635', nan, nan,
       '2005-04-05 09:35:31.390', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1617, 'Arnar Arnarsson', '1978-12-27 00:00:00.000', 'kk ', nan,
       nan, nan, nan, nan, nan, nan, nan, '2004-11-02 22:27:39.267', nan],
      dtype=object), array([3350, 'Arnar Þór Arnarson', '1978-12-27 00:00:00.000', 'kk ', nan,
       nan, nan, nan, nan, nan, nan, nan, '2011-03-23 21:33:01.530', 0.0],
      dtype=object), array([3354, 'Arnar Þór Arnarsson', '1978-12-27 00:00:00.000', 'kk ',
       'ÍFB', nan, nan, nan, nan, nan, nan, nan,
       '2011-03-23 22:24:36.233', 0.0], dtype=object)]
xxxxxxxxxxxxx
[array([2936, 'Arnar Hrafn Snorrason', '1990-01-01 00:00:00.000', 'kk ',
       nan, 'arnarh08@menntaborg.is', nan, nan, nan, '8696393', nan, nan,
       '2010-02-19 17:35:36.217', nan], dtype=object), array([2928, 'Arnar Þór Ingólfsson', '1990-01-01 00:00:00.000', 'kk ',
       nan, 'arnar.ingolfsson@gmail.com', nan, nan, nan, '8654313', nan,
       nan, '2010-02-19 17:22:11.890', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([613, 'Arnbjörg Guðmundsdóttir', '1965-12-29 00:00:00.000', 'kvk',
       'Víkverji', 'sjukrathjalfun@reykjalundur.is', nan, nan, nan, nan,
       '5578072', nan, '2000-04-04 10:52:54.073', nan], dtype=object), array([1035, 'Arnbjörg Guðmundsdóttir', '1965-12-29 00:00:00.000', 'kvk',
       'UMF.Hrunamenn', 'arnbjorg@hotmail.com', nan, nan, nan, nan,
       '557 8072', nan, '2002-04-05 11:47:39.077', 0.0], dtype=object)]
xxxxxxxxxxxxx
[array([1702, 'Arnheiður E. Sigurðardóttir', '1957-04-07 00:00:00.000',
       'kvk', 'BLÍ', nan, nan, nan, nan, nan, nan, nan,
       '2005-02-25 15:47:39.180', nan], dtype=object), array([134, 'Arnheiður Sigurðardóttir', '1957-04-07 00:00:00.000', 'kvk',
       'Grótta', 'arnheidur@terranova.is', nan, nan, nan, nan, '568 0225',
       nan, '2000-05-02 13:04:31.810', nan], dtype=object)]
xxxxxxxxxxxxx
[array([1289, 'arnheiður gísladóttir', '1975-03-11 00:00:00.000', 'kvk',
       'ÍS', nan, nan, nan, nan, nan, nan, nan, '2003-03-04 10:24:48.467',
       nan], dtype=object), array([3818, 'Arnheiður K. Gísladóttir', '1975-03-11 00:00:00.000', 'kvk',
       'HK', 'arnheidur.gisladottir@landsbankinn.is', nan, nan, nan, nan,
       '5616401', '4108791', '2012-04-20 16:39:19.363', 171.0],
      dtype=object)]
xxxxxxxxxxxxx
[array([4031, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
       'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
       '2013-03-20 18:26:39.730', 0.0], dtype=object), array([4470, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
       'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
       '2014-03-26 12:35:20.593', 0.0], dtype=object), array([4471, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
       'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
       '2014-03-26 12:40:51.027', 0.0], dtype=object)]
xxxxxxxxxxxxx
[array([1366, 'Arnleif Höskuldsdóttir', '1970-02-01 00:00:00.000', 'kvk',
       'KA', nan, nan, nan, nan, '8220270', nan, nan,
       '2003-04-01 14:28:35.247', 0.0], dtype=object), array([2213, 'Arnleif Höskuldsdóttir', '1970-02-01 00:00:00.000', 'kvk',
       'Hrafnkell Freysgoði', 'allasteina@hotmail.com', nan, nan, nan,
       '8220270', '4621670', nan, '2007-03-30 16:34:28.623', 0.0],
      dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2324, 'Aron Bjarnason', '1990-03-18 00:00:00.000', 'kk ',
       'Þróttur R', nan, nan, nan, nan, nan, nan, nan,
       '2007-09-26 23:34:00.700', nan], dtype=object), array([2499, 'Aron Bjarnason', '1990-03-18 00:00:00.000', 'kk ',
       'Þróttur R', nan, nan, nan, nan, nan, nan, nan,
       '2008-08-31 20:02:41.967', 189.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([4041, 'Auður', '1976-04-04 00:00:00.000', 'kvk', 'Fylkir', nan,
       nan, nan, nan, nan, nan, nan, '2013-03-25 14:57:31.440', 170.0],
      dtype=object), array([4042, 'Auður Ösp Jónsdóttir', '1976-04-04 00:00:00.000', 'kvk',
       'Fylkir', 'Audurj07@hotmail.com', nan, nan, nan, '8566448', nan,
       nan, '2013-03-25 14:58:43.630', 170.0], dtype=object), array([4267, 'Auður Ösp Jónsdóttir', '1976-04-04 00:00:00.000', 'kvk',
       'Fylkir', nan, nan, nan, nan, nan, nan, nan,
       '2013-10-21 13:36:18.250', 0.0], dtype=object)]
xxxxxxxxxxxxx
[array([721, 'Auður Aðalbjarnardóttir', '1979-04-25 00:00:00.000', 'kvk',
       'UMFS', 'audur@dalvik.spar.is', nan, nan, nan, nan, '4661663',
       '4601800', '2001-04-07 14:53:37.100', nan], dtype=object), array([699, 'Auður Aðalbjarnardóttir', '1979-04-25 00:00:00.000', 'kvk',
       'UMFS', 'audur@dalvik.spar.is', nan, nan, nan, nan, '4661663',
       '4601800', '2001-04-04 14:59:02.343', nan], dtype=object), array([724, 'Auður Aðalbjarnardóttir', '1979-04-25 00:00:00.000', 'kvk',
       nan, 'auduradal@simnet.is', nan, nan, nan, '8628868', '5523559',
       nan, '2001-04-07 14:55:47.110', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([2676, 'Auður Anna Jónsdóttir', '1993-08-31 00:00:00.000', 'kvk',
       'KA', '28aaj@ma.is', nan, nan, nan, nan, '461-2552', nan,
       '2008-10-14 22:59:21.700', 185.0], dtype=object), array([2492, 'Auður Anna Jónsdóttir', '1993-08-31 00:00:00.000', 'kvk',
       'Afturelding', nan, nan, nan, nan, nan, nan, nan,
       '2008-08-31 19:54:34.687', 184.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([224, 'Auður B Erlendsdóttir', '1957-05-11 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '467-1870', '4671870', nan,
       '2000-05-01 21:28:24.603', nan], dtype=object), array([1760, 'Auður Erlendsdóttir', '1957-05-11 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '4671870', nan, nan, '2005-03-21 10:57:48.073',
       nan], dtype=object)]
xxxxxxxxxxxxx
[array([1878, 'Auður Ýr Þórðardóttir', '1974-06-20 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, nan, nan, nan, '2005-04-18 19:42:31.403',
       nan], dtype=object), array([2698, 'Auður Ýr Þórðardóttir', '1974-06-20 00:00:00.000', 'kvk',
       'Afturelding', 'Auður Ýr Þórðardóttir(auduryr_@hotmail.com)', nan,
       nan, nan, '692 1182', nan, nan, '2008-11-07 10:40:39.950', 1.0],
      dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([229, 'Axel Gunnlaugsson', '1958-06-11 00:00:00.000', 'kk ', nan,
       nan, nan, nan, nan, nan, nan, nan, '2000-04-30 17:02:45.687', nan],
      dtype=object), array([3485, 'Axel Gunnlaugsson', '1958-06-11 00:00:00.000', 'kk ', 'ÍS',
       nan, nan, nan, nan, nan, nan, nan, '2011-05-03 15:01:40.357', 0.0],
      dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1329, 'Ágústa Pálsdóttir', '1972-08-05 00:00:00.000', 'kvk',
       'Skautar', nan, nan, nan, nan, nan, nan, nan,
       '2003-03-26 13:48:28.763', nan], dtype=object), array([2244, 'Ágústa Pálsdóttir', '1972-08-05 00:00:00.000', 'kvk',
       'Völsungur', nan, nan, nan, nan, nan, nan, nan,
       '2007-04-02 10:48:18.640', nan], dtype=object), array([2353, 'Ágústa Pálsdóttir', '1972-08-05 00:00:00.000', 'kvk', nan,
       'robrag@mi.is', nan, nan, nan, '464-2844/820-2844', nan, nan,
       '2007-11-19 22:22:43.250', nan], dtype=object)]
xxxxxxxxxxxxx
[array([782, 'Álfheiður Magnúsdóttir', '1957-02-07 00:00:00.000', 'kvk',
       'BLÍ', 'alf@centrum.is', nan, nan, nan, nan, nan, nan,
       '2001-04-13 18:34:18.083', nan], dtype=object), array([1707, 'Álfheiður Magnúsdóttir', '1957-02-07 00:00:00.000', 'kvk',
       'Grótta', nan, nan, nan, nan, nan, nan, nan,
       '2005-02-25 15:53:02.697', nan], dtype=object)]
xxxxxxxxxxxxx
[array([2500, 'Árni Björnsson', '1990-01-30 00:00:00.000', 'kk ', 'KA',
       nan, nan, nan, nan, nan, nan, nan, '2008-08-31 20:03:09.810',
       183.0], dtype=object), array([2124, 'Árni Björnsson', '1990-01-30 00:00:00.000', 'kk ',
       'Þróttur R', '26arb@ma.is', nan, nan, nan, '8659617', '4652217',
       nan, '2007-01-02 17:37:00.200', 180.0], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1285, 'Árni Þoroddur Guðmundsson', '1978-04-07 00:00:00.000',
       'kk ', 'Fleygur', nan, nan, nan, nan, nan, nan, nan,
       '2003-01-24 14:45:54.110', nan], dtype=object), array([1257, 'Árni Þóroddur Guðmundsson', '1978-04-07 00:00:00.000',
       'kk ', nan, 'thoroddur@yahoo.com', nan, nan, nan, '8617378', nan,
       nan, '2002-11-12 21:52:11.847', nan], dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([109, 'Ása Árnadóttir', '1960-12-05 00:00:00.000', 'kvk', nan,
       'asaarn@ismennt.is', nan, nan, nan, '8971631', '4671631',
       '4603737', '2000-05-01 21:40:50.707', nan], dtype=object), array([873, 'Ása Árnadóttir', '1960-12-05 00:00:00.000', 'kvk', 'já',
       'asaarn@sigloskoli.is', nan, nan, nan, '4671631', '467-1361',
       '460-3737', '2001-04-17 16:09:53.060', nan], dtype=object)]
xxxxxxxxxxxxx
[array([3394, 'Ása Ingibersdóttir', '1977-08-24 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, nan, nan, '2011-04-01 12:08:55.153', 0.0],
      dtype=object), array([3395, 'Ása Ingibersdóttir', '1977-08-24 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, nan, nan, '2011-04-01 12:09:06.763', 0.0],
      dtype=object)]
xxxxxxxxxxxxx
xxxxxxxxxxxxx
[array([1350, 'Ásdís', '1970-02-12 00:00:00.000', 'kvk', nan, nan, nan,
       nan, nan, nan, nan, nan, '2003-03-31 22:12:46.467', nan],
      dtype=object), array([251, 'Ásdís Sigurðardóttir', '1970-02-12 00:00:00.000', 'kvk',
       'Hérðassamb.Vestfirðinga', 'disasiggy@simnet.is', nan, nan, nan,
       '8983310', nan, '4565666', '2000-05-01 15:01:57.290', nan],
      dtype=object), array([1351, 'Ásdís Sigurðardóttir', '1970-02-12 00:00:00.000', 'kvk',
       'Bresi', 'disasiggy@simnet.is', nan, nan, nan, '898-3310',
       '467-1202', nan, '2003-03-31 22:24:19.797', nan], dtype=object), array([1467, 'Ásdís Sigurðardóttir', '1970-02-12 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '8983310', nan, nan,

In [84]:
duplicate_dict.items()

dict_items([('adalbjorn', {'1990-01-01': [array([2930, 'Aðalbjörn Hannesson', '1990-01-01 00:00:00.000', 'kk ', nan,
       '26aha@ma.is', nan, nan, nan, '6916456', nan, nan,
       '2010-02-19 17:24:51.373', nan], dtype=object)]}), ('adalheidur', {'1964-03-04': [array([60, 'Aðalheiður Ásmunds', '1964-03-04 00:00:00.000', 'kvk', 'HK',
       'alla@frodi.is', nan, nan, nan, '8963021', nan, nan,
       '2000-04-28 15:00:23.000', 0.0], dtype=object)], '1973-10-20': [array([1400, 'Aðalheiður Sigursveinsdóttir', '1973-10-20 00:00:00.000',
       'kvk', 'HK', 'asigursveins@hotmail.com', nan, nan, nan, '7707222',
       '554-7222', nan, '2003-04-14 22:57:08.747', 0.0], dtype=object)], '1968-05-15': [array([1348, 'Aðalheiður Stefánsdóttir', '1968-05-15 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, nan, nan, nan, '2003-03-31 22:02:18.437',
       nan], dtype=object)]}), ('adalsteinn', {'1981-03-03': [array([1964, 'Aðalsteinn Eymundsson', '1981-03-03 00:00:00.000', 'kk ',
       nan, nan, nan, nan, nan, '8212554', nan, nan,
       '2006-01-09 20:31:04.420', nan], dtype=object), array([1437, 'Aðalsteinn Eymundsson', '1981-03-03 00:00:00.000', 'kk ',
       'HK', 'adalste@hi.is', nan, nan, nan, '6182554', nan, nan,
       '2003-10-11 19:12:00.827', 0.0], dtype=object)]}), ('agata', {'1979-03-16': [array([3437, 'Agata Knasiak', '1979-03-16 00:00:00.000', 'kvk', 'HK',
       'agata@simnet.is', nan, nan, nan, '8658535', '5517099', '8204068',
       '2011-04-08 14:19:46.360', 173.0], dtype=object)]}), ('agla', {'1972-02-25': [array([3270, 'Agla Egilson', '1972-02-25 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, nan, nan, nan, '2011-01-28 16:08:41.873', 0.0],
      dtype=object)]}), ('agnes', {'1961-06-22': [array([475, 'Agnes H Skúladóttir', '1961-06-22 00:00:00.000', 'kvk', 'KA',
       'hm22@est.is', nan, nan, nan, '862-2922', '462-2022', '463-0235',
       '2000-04-04 15:15:48.727', 170.0], dtype=object)], '1990-01-01': [array([2935, 'Agnes Jóhannesdóttir', '1990-01-01 00:00:00.000', 'kvk',
       nan, 'agnjoh@verslo.is', nan, nan, nan, '8618666', nan, nan,
       '2010-02-19 17:34:08.437', nan], dtype=object)]}), ('agnieszka', {'1979-08-03': [array([3165, 'Agnieszka Grzegowska', '1979-08-03 00:00:00.000', 'kvk',
       nan, 'grzegoaga@wp.pl', nan, nan, nan, '8957667', nan, nan,
       '2010-04-27 14:07:12.187', 0.0], dtype=object)]}), ('aldis', {'1996-06-22': [array([2949, 'aldís anna höskuldsdóttir', '1996-06-22 00:00:00.000',
       'kvk', 'K.A.', 'aldis_anna@hotmail.com', nan, nan, nan, '8681980',
       '4611143', nan, '2010-02-25 13:52:40.360', 169.0], dtype=object), array([2950, 'aldís anna höskuldsdóttir', '1996-06-22 00:00:00.000',
       'kvk', 'K.A.', 'aldis_anna@hotmail.com', nan, nan, nan, '8681980',
       '4611143', nan, '2010-02-25 13:52:42.780', 169.0], dtype=object)], '1990-06-19': [array([3870, 'Aldís Garðarsdóttir', '1990-06-19 00:00:00.000', 'kvk', nan,
       'aldisgardars@gmail.com', nan, nan, nan, nan, nan, nan,
       '2012-10-17 19:06:57.533', 0.0], dtype=object)]}), ('alexander', {'1968-01-01': [array([915, 'Alexander Korniev', '1968-01-01 00:00:00.000', 'kk ', nan,
       nan, nan, nan, nan, nan, nan, nan, '2001-04-20 21:21:14.900', nan],
      dtype=object)], '1990-12-05': [array([1578, 'Alexander Stefánsson', '1990-12-05 00:00:00.000', 'kk ',
       'HK', 'alexanderstef@gmail.com', nan, nan, nan, '8464158',
       '4626693', nan, '2004-08-20 23:05:27.997', nan], dtype=object), array([2498, 'Alexander Stefánsson', '1990-12-05 00:00:00.000', 'kk ',
       'HK', nan, nan, nan, nan, '846 4158', nan, nan,
       '2008-08-31 20:01:58.013', 194.0], dtype=object)]}), ('alice', {'1968-02-14': [array([3307, 'Alice Petersen', '1968-02-14 00:00:00.000', 'kvk',
       'Ungmennafélagið Hvöt', nan, nan, nan, nan, nan, nan, nan,
       '2011-03-08 19:29:21.640', 0.0], dtype=object)]}), ('alma', {'1961-03-05': [array([90, 'Alma Þormóðsdóttir', '1961-03-05 00:00:00.000', 'kvk',
       'Þróttur Neskaupstað', nan, nan, nan, nan, nan, nan, nan,
       '2000-05-01 10:28:04.763', nan], dtype=object), array([1028, 'Alma Þormóðsdóttir', '1961-03-05 00:00:00.000', 'kvk', 'já',
       nan, nan, nan, nan, nan, nan, nan, '2002-03-29 22:01:43.780', nan],
      dtype=object)], '1964-10-09': [array([3706, 'Alma Þórarinsdóttir', '1964-10-09 00:00:00.000', 'kvk',
       'Sindri', nan, nan, nan, nan, nan, nan, nan,
       '2012-03-23 14:47:54.610', 0.0], dtype=object), array([192, 'Alma Þórisdóttir', '1964-10-09 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, '4781526', nan, '2000-04-04 10:16:11.017',
       nan], dtype=object)]}), ('amid', {'1964-05-05': [array([96, 'Amid Dereyat', '1964-05-05 00:00:00.000', 'kk ', nan, nan,
       nan, nan, nan, nan, nan, nan, '2000-05-02 12:56:20.280', nan],
      dtype=object)]}), ('ana', {'1972-01-29': [array([2065, 'Ana Fernandez Perez', '1972-01-29 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '8980881', '5516181', nan,
       '2006-04-03 23:06:18.890', nan], dtype=object), array([3226, 'Ana Maria Perez', '1972-01-29 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, nan, nan, '2010-10-14 09:50:09.920', 0.0],
      dtype=object)]}), ('andrea', {'1992-01-01': [array([2588, 'Andrea Aase Hole', '1992-01-01 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, nan, nan, '2008-08-31 22:51:25.873',
       180.0], dtype=object)], '1968-11-14': [array([312, 'Andrea Borgþórsdóttir', '1968-11-14 00:00:00.000', 'kvk',
       'Valur Reyðarfirði', nan, nan, nan, nan, nan, nan, nan,
       '2000-04-04 11:11:42.177', 0.0], dtype=object)]}), ('andrei', {'1999-01-01': [array([1930, 'Andrei', '1999-01-01 00:00:00.000', 'kk ', nan, nan, nan,
       nan, nan, nan, nan, nan, '2005-09-09 10:34:17.183', nan],
      dtype=object)]}), ('andres', {'1967-09-16': [array([2137, 'Andrés Helgi Hallgrímsson', '1967-09-16 00:00:00.000',
       'kk ', 'Fylkir', nan, nan, nan, nan, nan, nan, nan,
       '2007-01-05 11:48:15.107', 0.0], dtype=object), array([2129, 'Andrés Helgi Magnússon', '1967-09-16 00:00:00.000', 'kk ',
       nan, nan, nan, nan, nan, nan, nan, nan, '2007-01-05 09:54:37.043',
       nan], dtype=object)]}), ('andri', {'1979-04-10': [array([1629, 'Andri Geir Viðarsson', '1979-04-10 00:00:00.000', 'kk ',
       nan, 'andrigeir@hotmail.com', nan, nan, nan, '8487077', nan, nan,
       '2004-11-15 23:06:15.307', nan], dtype=object), array([3741, 'Andri Geir Viðarsson', '1979-04-10 00:00:00.000', 'kk ',
       'KA', 'andrigeir@hotmail.com', nan, nan, nan, '8487077', '4614101',
       '4623063', '2012-03-28 14:42:17.043', 182.0], dtype=object)], '1989-05-23': [array([1227, 'Andri Már Sigurðsson', '1989-05-23 00:00:00.000', 'kk ',
       'KA', nan, nan, nan, nan, nan, '462-7879', nan,
       '2002-11-04 13:04:19.983', nan], dtype=object), array([2497, 'Andri Már Sigurðsson', '1989-05-23 00:00:00.000', 'kk ',
       'KA', nan, nan, nan, nan, nan, nan, nan, '2008-08-31 20:01:18.297',
       193.0], dtype=object)]}), ('andy', {'1991-01-01': [array([2650, 'Andy Saward', '1991-01-01 00:00:00.000', 'kk ', 'Brentwood',
       nan, nan, nan, nan, nan, nan, nan, '2008-09-01 09:06:53.403',
       187.0], dtype=object)]}), ('ane', {'1990-01-01': [array([2593, 'Ane Hundseth', '1990-01-01 00:00:00.000', 'kvk',
       'Inderoy/TVN', nan, nan, nan, nan, nan, nan, nan,
       '2008-08-31 22:53:59.920', 178.0], dtype=object)]}), ('angela', {'1975-11-19': [array([3815, 'Angela Agnarsdóttir', '1975-11-19 00:00:00.000', 'kvk', nan,
       'angelaagnarsdottir@gmail.com', nan, nan, nan, '6619775', nan, nan,
       '2012-04-20 09:11:52.770', 0.0], dtype=object)]}), ('anna', {'1947-10-21': [array([461, 'Anna Bára Hjaltadóttir', '1947-10-21 00:00:00.000', 'kvk',
       'Skíðafélag Dalvíkur', 'annab@dalvik.is', nan, nan, nan,
       '466-1491', '4661491', nan, '2000-04-04 09:13:02.217', nan],
      dtype=object)], '1977-05-03': [array([1599, 'Anna Cecilia', '1977-05-03 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, nan, nan, nan, '2004-10-15 13:28:22.153', nan],
      dtype=object)], '1970-12-26': [array([2420, 'Anna Guðrún Auðunsdóttir', '1970-12-26 00:00:00.000', 'kvk',
       nan, 'anna@tryggingamidstodin.is', nan, nan, nan, '8671946', nan,
       nan, '2008-04-02 15:16:31.513', nan], dtype=object), array([2419, 'Anna Guðrún Auðunsdóttir', '1970-12-26 00:00:00.000', 'kvk',
       'Afturelding', 'anna@heima.is', nan, nan, nan, '8671946', nan, nan,
       '2008-04-02 15:15:40.857', nan], dtype=object)], '1975-06-26': [array([3233, 'Anna Guðrún Stefánsdóttir', '1975-06-26 00:00:00.000',
       'kvk', 'HK', nan, nan, nan, nan, nan, nan, nan,
       '2010-10-22 10:26:58.653', 171.0], dtype=object)], '1972-05-30': [array([1769, 'ANNA GUNNARSD', '1972-05-30 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, '8489048', nan, nan, '2005-03-29 17:36:52.577', nan],
      dtype=object), array([1770, 'ANNA gunnarsd', '1972-05-30 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, '8489048', nan, nan, '2005-03-29 17:37:53.933', nan],
      dtype=object), array([1771, 'anna gunnarsd', '1972-05-30 00:00:00.000', 'kvk', nan, nan,
       nan, nan, nan, '8489048', nan, nan, '2005-03-29 17:38:51.683', nan],
      dtype=object), array([1766, 'Anna h gunnarsd', '1972-05-30 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '8489048', nan, nan, '2005-03-29 13:56:01.373',
       nan], dtype=object), array([1768, 'Anna H Gunnarsdóttir', '1972-05-30 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '8489048', nan, nan,
       '2005-03-29 14:03:03.560', nan], dtype=object), array([1765, 'anna hermina gunnarsd', '1972-05-30 00:00:00.000', 'kvk',
       nan, 'gold@visir.is', nan, nan, nan, '8489048', nan, nan,
       '2005-03-29 13:52:25.593', nan], dtype=object), array([1767, 'anna hermína gunnarsdóttir', '1972-05-30 00:00:00.000',
       'kvk', nan, 'gold@visir.is', nan, nan, nan, '8489048', nan, nan,
       '2005-03-29 14:01:29.200', nan], dtype=object)], '1978-01-01': [array([3423, 'Anna Jóna', '1978-01-01 00:00:00.000', 'kvk', nan, nan, nan,
       nan, nan, nan, nan, nan, '2011-04-05 23:06:02.733', 0.0],
      dtype=object)], '1957-04-07': [array([121, 'Anna K Ólafsdóttir', '1957-04-07 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, nan, nan, nan, '2000-04-28 15:20:45.000', nan],
      dtype=object)], '1978-05-03': [array([3099, 'Anna Kristjánsdóttir', '1978-05-03 00:00:00.000', 'kvk',
       nan, 'anna@stefnir.com', nan, nan, nan, '8567461', nan, nan,
       '2010-04-15 10:09:34.467', 160.0], dtype=object), array([3225, 'Anna Kristjánsdóttir', '1978-05-03 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, nan, nan, nan, '2010-10-14 09:49:11.560',
       0.0], dtype=object)], '1969-10-02': [array([1723, 'Anna Lárusdóttir', '1969-10-02 00:00:00.000', 'kvk',
       'Íþróttabandalag Akraness', 'annalar@isl.is', nan, nan, nan, nan,
       '4314320', nan, '2005-03-14 10:07:45.713', nan], dtype=object), array([2157, 'Anna Lárusdóttir', '1969-10-02 00:00:00.000', 'kvk', nan,
       'anna@grundaskoli.is', nan, nan, nan, '8649865', nan, nan,
       '2007-01-24 22:52:16.403', nan], dtype=object)], '1969-08-17': [array([3792, 'Anna Lilja Ottósdóttir', '1969-08-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, nan, nan, nan, '2012-04-17 14:03:17.623',
       0.0], dtype=object)], '1957-02-23': [array([1469, 'Anna M Jónsdóttir', '1957-02-23 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '8211774', nan, nan, '2004-02-17 21:27:26.153',
       nan], dtype=object), array([715, 'Anna Marie Jónsdóttir', '1957-02-23 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '8211774', '4671774', '4671150',
       '2001-04-06 13:31:56.250', nan], dtype=object)], '1970-09-21': [array([3753, 'Anna Margrét Gunnarsdóttir', '1970-09-21 00:00:00.000',
       'kvk', 'Völsungur', nan, nan, nan, nan, nan, nan, nan,
       '2012-03-28 23:18:41.450', 0.0], dtype=object)], '1965-06-12': [array([3269, 'Anna Margrét Hauksdóttir', '1965-06-12 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, nan, nan, nan, '2011-01-20 00:00:45.200',
       0.0], dtype=object)], '1973-10-17': [array([716, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'oskar@mtr.is', nan, nan, nan, '6998817', nan, nan,
       '2001-04-06 13:34:07.300', nan], dtype=object), array([712, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2001-04-06 12:40:01.567', nan], dtype=object), array([713, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2001-04-06 12:41:12.203', nan], dtype=object), array([1981, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2006-02-08 11:42:15.390', nan], dtype=object), array([817, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2001-04-14 19:55:05.733', 0.0], dtype=object), array([3220, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '6998817', nan, nan,
       '2010-10-11 21:00:31.687', nan], dtype=object), array([3356, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'annambj@hotmail.com', nan, nan, nan, '699-8817', nan, nan,
       '2011-03-23 23:36:57.123', nan], dtype=object), array([4376, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'oskar@mtr.is', nan, nan, nan, '6998817', nan, nan,
       '2014-01-26 22:40:46.283', nan], dtype=object), array([4377, 'Anna María Björnsdóttir', '1973-10-17 00:00:00.000', 'kvk',
       nan, 'oskar@mtr.is', nan, nan, nan, '6998817', nan, nan,
       '2014-01-26 22:44:41.217', nan], dtype=object)], '1966-11-11': [array([1637, 'Anna María Malmquist', '1966-11-11 00:00:00.000', 'kvk',
       nan, 'annamaria@solarplexus.is', nan, nan, nan, '6609883',
       '5578663', '4626888', '2004-11-17 16:34:33.887', nan], dtype=object), array([1814, 'Anna María Malmquist', '1966-11-11 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, '660-9883', '557-8663', nan,
       '2005-04-06 08:34:49.873', nan], dtype=object)], '1977-01-07': [array([129, 'Anna Sigríður Hauksdóttir', '1977-01-07 00:00:00.000', 'kvk',
       nan, nan, nan, nan, nan, nan, '4370059', nan,
       '2000-04-04 19:17:12.113', nan], dtype=object)], '1981-10-19': [array([2868, 'Anna Soffía Sigurlaugsdóttir', '1981-10-19 00:00:00.000',
       'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
       '2009-07-08 11:31:42.733', 0.0], dtype=object), array([4513, 'Anna Soffía Sigurlaugsdóttir', '1981-10-19 00:00:00.000',
       'kvk', 'HSV', nan, nan, nan, nan, nan, nan, nan,
       '2014-04-15 23:50:33.760', 0.0], dtype=object)], '1990-05-22': [array([4271, 'Anna Stína Jónsdóttir', '1990-05-22 00:00:00.000', 'kvk',
       'HK', nan, nan, nan, nan, nan, nan, nan, '2013-10-22 15:13:18.407',
       0.0], dtype=object)], '1958-09-06': [array([2071, 'Anna Vilbergsdóttir', '1958-09-06 00:00:00.000', 'kvk',
       'Stjarnan', 'anna.vilbergs@internet.is', nan, nan, nan, '663 5090',
       nan, nan, '2006-04-05 14:22:58.577', nan], dtype=object), array([2903, 'Anna Vilbergsdóttir', '1958-09-06 00:00:00.000', 'kvk', nan,
       'annavilb@vistor.is', nan, nan, nan, '8247184', nan, nan,
       '2010-01-26 12:16:00.903', nan], dtype=object)]}), ('anny', {'1968-03-08': [array([153, 'Anný Ingimarsdóttir', '1968-03-08 00:00:00.000', 'kvk', nan,
       'anny@arborg.is', nan, nan, nan, '8618368', nan, nan,
       '2000-05-04 15:07:51.560', nan], dtype=object)]}), ('anton', {'1947-02-27': [array([559, 'Anton Bjarnason', '1947-02-27 00:00:00.000', 'kk ', nan,
       'antonb@khi.is', nan, nan, nan, '564 3635', nan, nan,
       '2000-05-03 23:23:14.560', nan], dtype=object), array([1800, 'Anton Bjarnason', '1947-02-27 00:00:00.000', 'kk ', nan,
       'antonb@khi.is', nan, nan, nan, '564 3635', nan, nan,
       '2005-04-05 09:35:31.390', nan], dtype=object)], '1991-05-16': [array([2576, 'Anton Eriksson', '1991-05-16 00:00:00.000', 'kk ',
       'Falköpings VK', nan, nan, nan, nan, nan, nan, nan,
       '2008-08-31 22:44:28.920', 182.0], dtype=object)]}), ('ari', {'1974-01-30': [array([2011, 'Ari Caravanas', '1974-01-30 00:00:00.000', 'kk ', 'Höttur',
       'ari@vijv.is', nan, nan, nan, '8946334', nan, nan,
       '2006-03-30 09:48:03.000', nan], dtype=object)], '1971-07-06': [array([4029, 'Ari Sveinsson', '1971-07-06 00:00:00.000', 'kk ',
       'Leiknir Fáskrúðsfirði', nan, nan, nan, nan, nan, nan, nan,
       '2013-03-18 12:35:19.960', 0.0], dtype=object)]}), ('arna', {'1974-03-23': [array([1246, 'Arna Stefánsdóttir', '1974-03-23 00:00:00.000', 'kvk',
       'Umf. Reynir', nan, nan, nan, nan, nan, '466-3137', nan,
       '2002-11-08 11:08:58.160', nan], dtype=object)], '1974-03-27': [array([1643, 'Arna Stefánsdóttir', '1974-03-27 00:00:00.000', 'kvk', nan,
       nan, nan, nan, nan, '8472242', nan, nan, '2004-11-18 13:22:55.400',
       nan], dtype=object)]}), ('arnar', {'1978-12-27': [array([1617, 'Arnar Arnarsson', '1978-12-27 00:00:00.000', 'kk ', nan,
       nan, nan, nan, nan, nan, nan, nan, '2004-11-02 22:27:39.267', nan],
      dtype=object), array([3350, 'Arnar Þór Arnarson', '1978-12-27 00:00:00.000', 'kk ', nan,
       nan, nan, nan, nan, nan, nan, nan, '2011-03-23 21:33:01.530', 0.0],
      dtype=object), array([3354, 'Arnar Þór Arnarsson', '1978-12-27 00:00:00.000', 'kk ',
       'ÍFB', nan, nan, nan, nan, nan, nan, nan,
       '2011-03-23 22:24:36.233', 0.0], dtype=object)], '1990-01-01': [array([2936, 'Arnar Hrafn Snorrason', '1990-01-01 00:00:00.000', 'kk ',
       nan, 'arnarh08@menntaborg.is', nan, nan, nan, '8696393', nan, nan,
       '2010-02-19 17:35:36.217', nan], dtype=object), array([2928, 'Arnar Þór Ingólfsson', '1990-01-01 00:00:00.000', 'kk ',
       nan, 'arnar.ingolfsson@gmail.com', nan, nan, nan, '8654313', nan,
       nan, '2010-02-19 17:22:11.890', nan], dtype=object)], '1979-04-25': [array([965, 'Arnar Jóhannesson', '1979-04-25 00:00:00.000', 'kk ',
       'Þróttur R.', 'arnarj@hi.is', nan, nan, nan, '8614049', nan, nan,
       '2001-04-26 22:23:41.853', nan], dtype=object)]}), ('arnbjorg', {'1965-12-29': [array([613, 'Arnbjörg Guðmundsdóttir', '1965-12-29 00:00:00.000', 'kvk',
       'Víkverji', 'sjukrathjalfun@reykjalundur.is', nan, nan, nan, nan,
       '5578072', nan, '2000-04-04 10:52:54.073', nan], dtype=object), array([1035, 'Arnbjörg Guðmundsdóttir', '1965-12-29 00:00:00.000', 'kvk',
       'UMF.Hrunamenn', 'arnbjorg@hotmail.com', nan, nan, nan, nan,
       '557 8072', nan, '2002-04-05 11:47:39.077', 0.0], dtype=object)]}), ('arnheidur', {'1957-04-07': [array([1702, 'Arnheiður E. Sigurðardóttir', '1957-04-07 00:00:00.000',
       'kvk', 'BLÍ', nan, nan, nan, nan, nan, nan, nan,
       '2005-02-25 15:47:39.180', nan], dtype=object), array([134, 'Arnheiður Sigurðardóttir', '1957-04-07 00:00:00.000', 'kvk',
       'Grótta', 'arnheidur@terranova.is', nan, nan, nan, nan, '568 0225',
       nan, '2000-05-02 13:04:31.810', nan], dtype=object)], '1975-03-11': [array([1289, 'arnheiður gísladóttir', '1975-03-11 00:00:00.000', 'kvk',
       'ÍS', nan, nan, nan, nan, nan, nan, nan, '2003-03-04 10:24:48.467',
       nan], dtype=object), array([3818, 'Arnheiður K. Gísladóttir', '1975-03-11 00:00:00.000', 'kvk',
       'HK', 'arnheidur.gisladottir@landsbankinn.is', nan, nan, nan, nan,
       '5616401', '4108791', '2012-04-20 16:39:19.363', 171.0],
      dtype=object)], '1983-03-11': [array([4031, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
       'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
       '2013-03-20 18:26:39.730', 0.0], dtype=object), array([4470, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',
       'kvk', nan, nan, nan, nan, nan, nan, nan, nan,
       '2014-03-26 12:35:20.593', 0.0], dtype=object), array([4471, 'Arnheiður Rán Almarsdóttir', '1983-03-11 00:00:00.000',

In [21]:
reverted_back_to_dict = dict(duplicate_dict)
#reverted_back_to_dict

In [23]:
file_path = "json/einstaklingar_map.txt" ## your path variable
#duplicate_dict_json = json.dump(duplicate_dict, codecs.open(file_path, 'w', encoding='utf-8'), separators=(';', ':'), sort_keys=True, indent=4) ### this saves the array in .json format
#json_obj = json.dumps(duplicate_dict, indent = 4)
#dumped = json.dumps(duplicate_dict, cls=NumpyEncoder)
#dumped
#pd.DataFrame(reverted_back_to_dict).to_csv(file_path, encoding='utf-8-sig')
#duplicate_dict_json = json.dump(reverted_back_to_dict, codecs.open(file_path, 'w', encoding='utf-8-sig'))

#json = json.dumps(reverted_back_to_dict)
#f = open(file_path,"w")
#f.write(str(reverted_back_to_dict))
#f.close()

=====================================================================================
=

In [187]:
#FINAL STEP (run after everything is done):

#duplicated people put into it's own csv to be browsed later
pd.DataFrame(duplicated_einstaklingar).to_csv("csv/new/duplicated-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(duplicate_dict).to_csv("json/duplicate-map.json", encoding='utf-8-sig')


#save as new csv inside csv/new
pd.DataFrame(domarar).to_csv("csv/new/blak-domarar.csv", encoding='utf-8-sig')
pd.DataFrame(einstaklingar).to_csv("csv/new/blak-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(forsvarsmenn).to_csv("csv/new/blak-forsvarsmenn.csv.csv", encoding='utf-8-sig')
pd.DataFrame(lid).to_csv("csv/new/blak-lid.csv", encoding='utf-8-sig')
pd.DataFrame(lidimoti).to_csv("csv/new/blak-lidimoti.csv", encoding='utf-8-sig')
pd.DataFrame(lidsmenn).to_csv("csv/new/blak-lidsmenn.csv", encoding='utf-8-sig')
pd.DataFrame(lidsstjorar).to_csv("csv/new/blak-lidsstjorar.csv", encoding='utf-8-sig')
pd.DataFrame(mot).to_csv("csv/new/blak-mot.csv", encoding='utf-8-sig')
pd.DataFrame(thjalfarar).to_csv("csv/new/blak-thjalfarar.csv", encoding='utf-8-sig')