In [ ]:
#make it easier to copy data
#domarar
#einstaklingar
#forsvarsmenn
#lid
#lidimoti
#lidsmenn
#lidsstjorar
#mot
#thjalfarar

In [ ]:
#lid_nafn_valuecount = lid['Nafn'].value_counts()
#print(lid_nafn_valuecount)
#lid_nafn_valuecount[lid_nafn_valuecount < 2]
#lid['LidID'].value_counts() 
#lid_nafn_valuecount2 = lid['Nafn'].value_counts()
#lid_nafn_valuecount2


#pd.concat(g for _, g in einstaklingar.groupby("Fdagur") if len(g) > 1)

In [ ]:
#print(duplicated_fdagur_kyn_einstaklingar)

In [ ]:
## change all other table entries to the main id for new person
## delete old values ???

In [ ]:
class NumpyEncoder(json.JSONEncoder):
    """ Special json encoder for numpy types """
    def default(self, obj):
        if isinstance(obj, (np.ndarray,)):
            return obj.tolist()
        return json.JSONEncoder.default(self, obj)

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict
import codecs, json
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

In [22]:
## data
#print(help(einstaklingar))

#print(domarar)
#print(einstaklingar)
#print(forsvarsmenn)
#print(lid)
#print(lidimoti)
print(lidsmenn)
#print(lidsstjorar)
#print(mot)
#print(thjalfarar)

       MotID  LidID  EinstID             Timastimpill
0          1     18       24  2000-04-01 10:42:30.767
1          1     18      104  2000-04-01 08:59:30.420
2          1     18      272  2000-04-01 10:40:44.913
3          1     18      452  2000-04-01 09:01:19.177
4          1     18      483  2000-04-30 10:04:24.983
...      ...    ...      ...                      ...
25847    250   6012     3908  2014-08-13 10:52:36.627
25848    250   6012     3909  2014-08-13 10:52:36.627
25849    250   6012     3910  2014-08-13 10:52:36.627
25850    250   6012     3911  2014-08-13 10:52:36.627
25851    250   6012     3912  2014-08-13 10:52:36.627

[25852 rows x 4 columns]

In [ ]:
duplicate_dict = defaultdict(dict)

for index, row in duplicated_fdagur_kyn_einstaklingar.iterrows():
    full_name = row['Nafn']
    first_name = full_name.split()[0]
    first_name_lowercase = first_name.lower()
    first_name_to_english = unidecode.unidecode(first_name_lowercase)
    Fdagur_date = row['Fdagur'].split()[0]
    
    if first_name_to_english in duplicate_dict.keys():
        if Fdagur_date in duplicate_dict[first_name_to_english].keys():
            duplicate_dict[first_name_to_english][Fdagur_date].append(row.values)
        else:
            duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]
    else:
        #if Fdagur does not exist ->
        duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]

In [15]:
## describe
#print(domarar.describe())
#print(einstaklingar.describe())
#print(forsvarsmenn.describe())
print(lid.describe())
#print(lidimoti.describe())
#print(lidsmenn.describe())
#print(lidsstjorar.describe())
#print(mot.describe())
#print(thjalfarar.describe())

             LidID  LidaTegundID
count  1023.000000   1023.000000
mean   2862.463343     30.417400
std    2041.233494      9.222238
min      18.000000     20.000000
25%    1031.500000     21.000000
50%    2508.000000     32.000000
75%    4425.500000     39.000000
max    7172.000000     51.000000

In [16]:
## dtypes
#domarar.dtypes
#einstaklingar.dtypes
#forsvarsmenn.dtypes
#lid.dtypes
#lidimoti.dtypes
#lidsmenn.dtypes
#lidsstjorar.dtypes
#mot.dtypes
#thjalfarar.dtypes

In [17]:
einstaklingar

,EinstID,Nafn,Fdagur,Kyn,FelagISI,Netfang,Heimilisfang1,Heimilisfang2,Heimilisfang3,Simi1,Simi2,Simi3,Timastimpill,Haed
0,1677,A,1899-12-30 00:00:00.000,kvk,NaN,NaN,NaN,NaN,NaN,1234567,NaN,NaN,2005-01-28 19:03:17.417,NaN
1,3343,Adda Birna Hjálmarsdóttir,1973-09-28 00:00:00.000,kvk,Höttur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-03-19 14:06:29.983,0.0
2,3878,Adna Mesetovic,1998-10-05 00:00:00.000,kvk,Leiknir Fáskrúðsfirði,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-10-25 13:26:43.090,0.0
3,4190,Adrian Chroscielewski,1987-06-08 00:00:00.000,kk,Fylkir,adrian.chroscielewski@gmail.com,NaN,NaN,NaN,778 6185,NaN,NaN,2013-09-20 12:18:59.897,190.0
4,3448,Aðalbjörg Árnadóttir,1980-02-07 00:00:00.000,kvk,Afturelding,NaN,NaN,NaN,NaN,695-6191,NaN,NaN,2011-04-19 00:17:54.967,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4492,2854,Örnólfur Oddsson,1956-05-26 00:00:00.000,kk,Þróttur,oddi@itn.is,NaN,NaN,NaN,6961188,5577346,5698808,2009-04-26 23:16:29.827,176.0
4493,3842,Örnólfur Oddsson,1956-05-26 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-04-24 12:41:54.350,0.0
4494,4253,Ösp Baldursdóttir,1994-02-21 00:00:00.000,kvk,Hamar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-10-16 12:57:22.927,0.0
4495,4036,Össur Björnsson,1970-10-20 00:00:00.000,kk,Hamar,ossur@jotunn.is,NaN,NaN,NaN,8944882,NaN,NaN,2013-03-21 09:48:41.233,0.0
4496,296,Össur Friðgeirsson,1965-02-14 00:00:00.000,kk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-04 15:06:16.623,NaN

In [ ]:
#duplicate_dict["ludvik"]['1969-03-31'][0]
#duplicate_dict["ludvik"]['1969-03-31'][1]

In [ ]:
def find_first_duplicate(nums):
    num_set = set()
    duplicates = set()
    no_duplicate = -1

    for i in range(len(nums)):
        split = nums[i].split()
        date = split[0]
        time = split[1]
        einstaklingsid = split[2]
        teamid = split[3]
        looking_for = [date, einstaklingsid, teamid]
        
        #print(num_set)
        if nums[looking_for] in num_set:
            duplicates.add[num_set[i], nums[i]]
            print(duplicates)
            return nums[i]
        else:
            num_set.add(nums[looking_for])
        #print("xxxxxxxx")
    return no_duplicate

for key, value in dict_einstaklingar_teammember_info.items():
    #print(value)
    find_first_duplicate(value)